{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-09-06",
    "endpointPrefix": "paas",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS PaaS",
    "serviceId": "PaaS",
    "signatureVersion": "v4",
    "uid": "paas-2022-09-06"
  },
  "operations": {
    "CreateDatabase": {
      "name": "CreateDatabase",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/databases"
      },
      "input": {"shape": "CreateDatabaseRequest"},
      "output": {"shape": "CreateDatabaseResponse"},
      "documentation": "<p>Creates database.</p>"
    },
    "CreateService": {
      "name": "CreateService",
      "http": {
        "method": "POST",
        "requestUri": "/services"
      },
      "input": {"shape": "CreateServiceRequest"},
      "output": {"shape": "CreateServiceResponse"},
      "documentation": "<p>Creates service.</p>"
    },
    "CreateUser": {
      "name": "CreateUser",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/users"
      },
      "input": {"shape": "CreateUserRequest"},
      "output": {"shape": "CreateUserResponse"},
      "documentation": "<p>Creates user.</p>"
    },
    "DeleteBackups": {
      "name": "DeleteBackups",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/backups"
      },
      "input": {"shape": "DeleteBackupsRequest"},
      "output": {"shape": "DeleteBackupsResponse"},
      "documentation": "<p>Deletes service backups.</p>"
    },
    "DeleteDatabase": {
      "name": "DeleteDatabase",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/databases/{databaseId}"
      },
      "input": {"shape": "DeleteDatabaseRequest"},
      "output": {"shape": "DeleteDatabaseResponse"},
      "documentation": "<p>Deletes database.</p>"
    },
    "DeleteService": {
      "name": "DeleteService",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}"
      },
      "input": {"shape": "DeleteServiceRequest"},
      "output": {"shape": "DeleteServiceResponse"},
      "documentation": "<p>Deletes service.</p>"
    },
    "DeleteUser": {
      "name": "DeleteUser",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/users/{userId}"
      },
      "input": {"shape": "DeleteUserRequest"},
      "output": {"shape": "DeleteUserResponse"},
      "documentation": "<p>Deletes user.</p>"
    },
    "DescribeBackup": {
      "name": "DescribeBackup",
      "http": {
        "method": "GET",
        "requestUri": "/backups/{backupId}"
      },
      "input": {"shape": "DescribeBackupRequest"},
      "output": {"shape": "DescribeBackupResponse"},
      "documentation": "<p>Returns descriptive information about backup.</p>"
    },
    "DescribeDatabase": {
      "name": "DescribeDatabase",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/databases/{databaseId}"
      },
      "input": {"shape": "DescribeDatabaseRequest"},
      "output": {"shape": "DescribeDatabaseResponse"},
      "documentation": "<p>Returns descriptive information about database.</p>"
    },
    "DescribeService": {
      "name": "DescribeService",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}"
      },
      "input": {"shape": "DescribeServiceRequest"},
      "output": {"shape": "DescribeServiceResponse"},
      "documentation": "<p>Returns descriptive information about PaaS service.</p>"
    },
    "DescribeUser": {
      "name": "DescribeUser",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/users/{userId}"
      },
      "input": {"shape": "DescribeUserRequest"},
      "output": {"shape": "DescribeUserResponse"},
      "documentation": "<p>Returns descriptive information about user.</p>"
    },
    "ListBackups": {
      "name": "ListBackups",
      "http": {
        "method": "GET",
        "requestUri": "/backups"
      },
      "input": {"shape": "ListBackupsRequest"},
      "output": {"shape": "ListBackupsResponse"},
      "documentation": "<p>Lists backups.</p>"
    },
    "ListBackupUsers": {
      "name": "ListBackupUsers",
      "http": {
        "method": "GET",
        "requestUri": "/backup-users"
      },
      "input": {"shape": "ListBackupUsersRequest"},
      "output": {"shape": "ListBackupUsersResponse"},
      "documentation": "<p>Returns users list, available for service backup.</p>"
    },
    "ListDatabases": {
      "name": "ListDatabases",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/databases"
      },
      "input": {"shape": "ListDatabasesRequest"},
      "output": {"shape": "ListDatabasesResponse"},
      "documentation": "<p>Returns databases list.</p>"
    },
    "ListServices": {
      "name": "ListServices",
      "http": {
        "method": "GET",
        "requestUri": "/services"
      },
      "input": {"shape": "ListServicesRequest"},
      "output": {"shape": "ListServicesResponse"},
      "documentation": "<p>Returns list of PaaS services.</p>"
    },
    "ListUsers": {
      "name": "ListUsers",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/users"
      },
      "input": {"shape": "ListUsersRequest"},
      "output": {"shape": "ListUsersResponse"},
      "documentation": "<p>Returns users list.</p>"
    },
    "ModifyBackup": {
      "name": "ModifyBackup",
      "http": {
        "method": "PUT",
        "requestUri": "/backups/{backupId}"
      },
      "input": {"shape": "ModifyBackupRequest"},
      "output": {"shape": "ModifyBackupResponse"},
      "documentation": "<p>Modifies the PaaS backup.</p>"
    },
    "ModifyDatabase": {
      "name": "ModifyDatabase",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/databases/{databaseId}"
      },
      "input": {"shape": "ModifyDatabaseRequest"},
      "output": {"shape": "ModifyDatabaseResponse"},
      "documentation": "<p>Modifies database.</p>"
    },
    "ModifyService": {
      "name": "ModifyService",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}"
      },
      "input": {"shape": "ModifyServiceRequest"},
      "output": {"shape": "ModifyServiceResponse"},
      "documentation": "<p>Modifies the PaaS service.</p>"
    },
    "ModifyUser": {
      "name": "ModifyUser",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/users/{userId}"
      },
      "input": {"shape": "ModifyUserRequest"},
      "output": {"shape": "ModifyUserResponse"},
      "documentation": "<p>Modifies database.</p>"
    }
  },
  "shapes": {
    "Backup": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "serviceId": {"shape": "String"},
        "serviceName": {"shape": "String"},
        "serviceClass": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "serviceDeleted": {"shape": "Boolean"},
        "status": {"shape": "String"},
        "time": {"shape": "Integer"},
        "databases": {"shape": "DatabaseBackupList"},
        "protected": {"shape": "Boolean"}
      }
    },
    "BackupSettingsRequest": {
      "type": "structure",
      "required": [
        "enabled"
      ],
      "members": {
        "enabled": {"shape": "Boolean"},
        "startTime": {"shape": "String"},
        "bucketName": {"shape": "String"},
        "userLogin": {"shape": "String"},
        "notificationEmail": {"shape": "String"},
        "backupExpirationDays": {"shape": "Integer"}
      }
    },
    "BackupSettingsResponse": {
      "type": "structure",
      "members": {
        "enabled": {"shape": "Boolean"},
        "startTime": {"shape": "String"},
        "bucketName": {"shape": "String"},
        "userId": {"shape": "String"},
        "userLogin": {"shape": "String"},
        "notificationEmail": {"shape": "String"},
        "backupExpirationDays": {"shape": "Integer"}
      }
    },
    "BackupUser": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "login": {"shape": "String"},
        "name": {"shape": "String"},
        "email": {"shape": "String"},
        "enabled": {"shape": "Boolean"},
        "lastLoginTime": {"shape": "Integer"},
        "modifyTime": {"shape": "Integer"},
        "projectGrants": {"shape": "StringList"}
      }
    },
    "Boolean": {"type": "boolean"},
    "CreateDatabaseRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "database"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "database": {"shape": "DatabaseCreateRequest"}
      }
    },
    "CreateDatabaseResponse": {
      "type": "structure",
      "members": {
        "database": {"shape": "DatabaseResponse"}
      }
    },
    "CreateServiceRequest": {
      "type": "structure",
      "required": [
        "name",
        "serviceClass",
        "serviceType",
        "securityGroupIds",
        "rootVolumeType",
        "rootVolumeSize",
        "instanceType",
        "highAvailability",
        "parameters"
      ],
      "members": {
        "name": {"shape": "String"},
        "serviceClass": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "subnetIds": {"shape": "StringList"},
        "networkInterfaceIds": {"shape": "StringList"},
        "securityGroupIds": {"shape": "StringList"},
        "rootVolumeType": {"shape": "String"},
        "rootVolumeSize": {"shape": "Integer"},
        "rootVolumeIops": {"shape": "Integer"},
        "dataVolumeType": {"shape": "String"},
        "dataVolumeSize": {"shape": "Integer"},
        "dataVolumeIops": {"shape": "Integer"},
        "instanceType": {"shape": "String"},
        "highAvailability": {"shape": "Boolean"},
        "sshKeyName": {"shape": "String"},
        "parameters": {"shape": "None"},
        "userData": {"shape": "String"},
        "userDataContentType": {"shape": "String"},
        "backupSettings": {"shape": "BackupSettingsRequest"},
        "arbitratorRequired": {"shape": "Boolean"}
      }
    },
    "CreateServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of the new service.</p>"
        }
      }
    },
    "CreateUserRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "user"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "user": {"shape": "UserCreateRequest"}
      }
    },
    "CreateUserResponse": {
      "type": "structure",
      "members": {
        "user": {"shape": "UserResponse"}
      }
    },
    "DatabaseBackup": {
      "type": "structure",
      "members": {
        "name": {"shape": "String"},
        "serviceName": {"shape": "String"},
        "serviceId": {"shape": "String"},
        "backupId": {"shape": "String"},
        "size": {"shape": "Integer"},
        "status": {"shape": "String"},
        "parameters": {"shape": "None"},
        "logfile": {"shape": "String"},
        "location": {"shape": "String"}
      }
    },
    "DatabaseBackupList": {
      "type": "list",
      "member": {"shape": "DatabaseBackup"}
    },
    "DatabaseCompactResponse": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"}
      }
    },
    "DatabaseCompactResponseList": {
      "type": "list",
      "member": {"shape": "DatabaseCompactResponse"}
    },
    "DatabaseCreateRequest": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "name": {"shape": "String"},
        "backupEnabled": {"shape": "Boolean"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserCreateRequestList"}
      }
    },
    "DatabaseCreateRequestList": {
      "type": "list",
      "member": {"shape": "DatabaseCreateRequest"}
    },
    "DatabaseModifyRequest": {
      "type": "structure",
      "members": {
        "backupEnabled": {"shape": "Boolean"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserCreateRequestList"}
      }
    },
    "DatabaseResponse": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "backupEnabled": {"shape": "Boolean"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserResponseList"}
      }
    },
    "DatabaseResponseList": {
      "type": "list",
      "member": {"shape": "DatabaseResponse"}
    },
    "DeleteBackupsRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "backupIds": {
          "shape": "StringList",
          "documentation": "<p>The IDs of backups to delete.</p>"
        }
      }
    },
    "DeleteBackupsResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteDatabaseRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "databaseId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "databaseId": {
          "shape": "String",
          "location": "uri",
          "locationName": "databaseId"
        }
      }
    },
    "DeleteDatabaseResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteServiceRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "deleteInterfaces"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to delete.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "deleteInterfaces": {
          "shape": "Boolean",
          "documentation": "<p>Delete interfaces with service.</p>"
        }
      }
    },
    "DeleteServiceResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteUserRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "userId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "userId": {
          "shape": "String",
          "location": "uri",
          "locationName": "userId"
        }
      }
    },
    "DeleteUserResponse": {
      "type": "structure",
      "members": {}
    },
    "DescribeBackupRequest": {
      "type": "structure",
      "required": [
        "backupId"
      ],
      "members": {
        "backupId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to describe.</p>",
          "location": "uri",
          "locationName": "backupId"
        }
      }
    },
    "DescribeBackupResponse": {
      "type": "structure",
      "members": {
        "backup": {
          "shape": "Backup",
          "documentation": "<p>The full description of the specified backup.</p>"
        }
      }
    },
    "DescribeDatabaseRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "databaseId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "databaseId": {
          "shape": "String",
          "location": "uri",
          "locationName": "databaseId"
        }
      }
    },
    "DescribeDatabaseResponse": {
      "type": "structure",
      "members": {
        "database": {"shape": "DatabaseResponse"}
      }
    },
    "DescribeServiceRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to describe.</p>",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "DescribeServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of the specified service.</p>"
        }
      }
    },
    "DescribeUserRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "userId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "userId": {
          "shape": "String",
          "location": "uri",
          "locationName": "userId"
        }
      }
    },
    "DescribeUserResponse": {
      "type": "structure",
      "members": {
        "user": {"shape": "UserResponse"}
      }
    },
    "Instance": {
      "type": "structure",
      "members": {
        "role": {"shape": "String"},
        "instanceId": {"shape": "String"},
        "privateIp": {"shape": "String"},
        "interfaceId": {"shape": "String"},
        "status": {"shape": "String"},
        "index": {"shape": "Integer"},
        "endpoint": {"shape": "String"},
        "name": {"shape": "String"}
      }
    },
    "InstanceList": {
      "type": "list",
      "member": {"shape": "Instance"}
    },
    "Integer": {"type": "integer"},
    "ListBackups": {
      "type": "list",
      "member": {"shape": "Backup"}
    },
    "ListBackupsRequest": {
      "type": "structure",
      "members": {
        "serviceClass": {
          "shape": "String",
          "documentation": "<p>The service class filter.</p>"
        },
        "serviceType": {
          "shape": "String",
          "documentation": "<p>The service type filter.</p>"
        },
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID filter.</p>"
        }
      }
    },
    "ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "shape": "ListBackups",
          "documentation": "<p>A list of all backups for the account in the specified Region.</p>"
        }
      }
    },
    "ListBackupUsers": {
      "type": "list",
      "member": {"shape": "BackupUser"}
    },
    "ListBackupUsersRequest": {
      "type": "structure",
      "members": {

      }
    },
    "ListBackupUsersResponse": {
      "type": "structure",
      "members": {
        "users": {
          "shape": "ListBackupUsers",
          "documentation": "<p>A list of users, available for service backup.</p>"
        }
      }
    },
    "ListDatabasesRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListDatabasesResponse": {
      "type": "structure",
      "members": {
        "databases": {"shape": "DatabaseCompactResponseList"}
      }
    },
    "ListServiceItem": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "status": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "serviceClass": {"shape": "String"},
        "serviceTypeCaption": {"shape": "String"},
        "version": {"shape": "String"},
        "errorCode": {"shape": "String"},
        "totalCpuCount": {"shape": "Integer"},
        "totalMemory": {"shape": "Integer"}
      }
    },
    "ListServices": {
      "type": "list",
      "member": {"shape": "ListServiceItem"}
    },
    "ListServicesRequest": {
      "type": "structure",
      "members": {
        "serviceClass": {
          "shape": "String",
          "documentation": "<p>The service class filter.</p>"
        },
        "serviceType": {
          "shape": "String",
          "documentation": "<p>The service type filter.</p>"
        }
      }
    },
    "ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "shape": "ListServices",
          "documentation": "<p>A list of all of the services for the account in the specified Region.</p>"
        }
      }
    },
    "ListUsersRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListUsersResponse": {
      "type": "structure",
      "members": {
        "users": {"shape": "UserCompactResponseList"}
      }
    },
    "ModifyBackupRequest": {
      "type": "structure",
      "required": [
        "backupId"
      ],
      "members": {
        "backupId": {
          "shape": "String",
          "documentation": "<p>The backup ID to modify.</p>",
          "location": "uri",
          "locationName": "backupId"
        },
        "protected": {
          "shape": "Boolean",
          "documentation": "<p>Protected backups will not be deleted after expiration time.</p>"
        }
      }
    },
    "ModifyBackupResponse": {
      "type": "structure",
      "members": {
        "backup": {
          "shape": "Backup",
          "documentation": "<p>The full description of the specified backup.</p>"
        }
      }
    },
    "ModifyDatabaseRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "databaseId",
        "database"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "databaseId": {
          "shape": "String",
          "location": "uri",
          "locationName": "databaseId"
        },
        "database": {"shape": "DatabaseModifyRequest"}
      }
    },
    "ModifyDatabaseResponse": {
      "type": "structure",
      "members": {
        "database": {"shape": "DatabaseResponse"}
      }
    },
    "ModifyServiceRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "users": {"shape": "UserCreateRequestList"},
        "databases": {"shape": "DatabaseCreateRequestList"},
        "backupSettings": {"shape": "BackupSettingsRequest"}
      }
    },
    "ModifyServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of your modified service.</p>"
        }
      }
    },
    "ModifyUserRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "userId",
        "user"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "userId": {
          "shape": "String",
          "location": "uri",
          "locationName": "userId"
        },
        "user": {"shape": "UserModifyRequest"}
      }
    },
    "ModifyUserResponse": {
      "type": "structure",
      "members": {
        "user": {"shape": "UserResponse"}
      }
    },
    "None": {"type": "none"},
    "SecurityGroup": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "createdAutomatically": {"shape": "Boolean"}
      }
    },
    "SecurityGroupList": {
      "type": "list",
      "member": {"shape": "SecurityGroup"}
    },
    "Service": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "serviceClass": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "subnetIds": {"shape": "StringList"},
        "networkInterfaceIds": {"shape": "StringList"},
        "securityGroups": {"shape": "SecurityGroupList"},
        "rootVolumeType": {"shape": "String"},
        "rootVolumeSize": {"shape": "Integer"},
        "rootVolumeIops": {"shape": "Integer"},
        "dataVolumeType": {"shape": "String"},
        "dataVolumeSize": {"shape": "Integer"},
        "dataVolumeIops": {"shape": "Integer"},
        "instanceType": {"shape": "String"},
        "highAvailability": {"shape": "Boolean"},
        "sshKeyName": {"shape": "String"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserResponseList"},
        "databases": {"shape": "DatabaseResponseList"},
        "status": {"shape": "String"},
        "errorCode": {"shape": "String"},
        "errorDescription": {"shape": "String"},
        "endpoints": {"shape": "StringList"},
        "instances": {"shape": "InstanceList"},
        "supportedFeatures": {"shape": "StringList"},
        "backupSettings": {"shape": "BackupSettingsResponse"},
        "totalCpuCount": {"shape": "Integer"},
        "totalMemory": {"shape": "Integer"}
      }
    },
    "String": {"type": "string"},
    "StringList": {
      "type": "list",
      "member": {"shape": "String"}
    },
    "Timestamp": {"type": "timestamp"},
    "UserCompactResponse": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"}
      }
    },
    "UserCompactResponseList": {
      "type": "list",
      "member": {"shape": "UserCompactResponse"}
    },
    "UserCreateRequest": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "UserCreateRequestList": {
      "type": "list",
      "member": {"shape": "UserCreateRequest"}
    },
    "UserModifyRequest": {
      "type": "structure",
      "members": {
        "parameters": {"shape": "None"}
      }
    },
    "UserResponse": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "UserResponseList": {
      "type": "list",
      "member": {"shape": "UserResponse"}
    }
  }
}
