{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2022-09-06",
    "endpointPrefix": "paas",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS PaaS",
    "serviceId": "PaaS",
    "signatureVersion": "v4",
    "uid": "paas-2022-09-06"
  },
  "operations": {
    "CreateDatabase": {
      "name": "CreateDatabase",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/databases"
      },
      "input": {"shape": "CreateDatabaseRequest"},
      "output": {"shape": "CreateDatabaseResponse"},
      "documentation": "<p>Creates database.</p>"
    },
    "CreateElasticsearchSnapshotRepository": {
      "name": "CreateElasticsearchSnapshotRepository",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/elasticsearch-snapshot-repositories"
      },
      "input": {"shape": "CreateElasticsearchSnapshotRepositoryRequest"},
      "output": {"shape": "CreateElasticsearchSnapshotRepositoryResponse"},
      "documentation": "<p>Create Elasticsearch snapshot repository.</p>"
    },
    "CreateService": {
      "name": "CreateService",
      "http": {
        "method": "POST",
        "requestUri": "/services"
      },
      "input": {"shape": "CreateServiceRequest"},
      "output": {"shape": "CreateServiceResponse"},
      "documentation": "<p>Creates service.</p>"
    },
    "CreateLogstashPipeline": {
      "name": "CreateLogstashPipeline",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/logstash-pipelines"
      },
      "input": {"shape": "CreateLogstashPipelineRequest"},
      "output": {"shape": "CreateLogstashPipelineResponse"},
      "documentation": "<p>Creates logstash pipeline in given service.</p>"
    },
    "CreateUser": {
      "name": "CreateUser",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/users"
      },
      "input": {"shape": "CreateUserRequest"},
      "output": {"shape": "CreateUserResponse"},
      "documentation": "<p>Creates user.</p>"
    },
    "DeleteBackups": {
      "name": "DeleteBackups",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/backups"
      },
      "input": {"shape": "DeleteBackupsRequest"},
      "output": {"shape": "DeleteBackupsResponse"},
      "documentation": "<p>Deletes service backups.</p>"
    },
    "DeleteLogstashPipeline": {
      "name": "DeleteLogstashPipeline",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/logstash-pipelines/{pipelineId}"
      },
      "input": {"shape": "DeleteLogstashPipelineRequest"},
      "output": {"shape": "DeleteLogstashPipelineResponse"},
      "documentation": "<p>Deletes logstash pipeline in given service.</p>"
    },
    "DeleteDatabase": {
      "name": "DeleteDatabase",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/databases/{databaseId}"
      },
      "input": {"shape": "DeleteDatabaseRequest"},
      "output": {"shape": "DeleteDatabaseResponse"},
      "documentation": "<p>Deletes database.</p>"
    },
    "DeleteElasticsearchSnapshotRepository": {
      "name": "DeleteElasticsearchSnapshotRepository",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/elasticsearch-snapshot-repositories/{repositoryId}"
      },
      "input": {"shape": "DeleteElasticsearchSnapshotRepositoryRequest"},
      "output": {"shape": "DeleteElasticsearchSnapshotRepositoryResponse"},
      "documentation": "<p>Delete Elasticsearch snapshot repository.</p>"
    },
    "DeleteService": {
      "name": "DeleteService",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}"
      },
      "input": {"shape": "DeleteServiceRequest"},
      "output": {"shape": "DeleteServiceResponse"},
      "documentation": "<p>Deletes service.</p>"
    },
    "DeleteUser": {
      "name": "DeleteUser",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/users/{userId}"
      },
      "input": {"shape": "DeleteUserRequest"},
      "output": {"shape": "DeleteUserResponse"},
      "documentation": "<p>Deletes user.</p>"
    },
    "DescribeBackup": {
      "name": "DescribeBackup",
      "http": {
        "method": "GET",
        "requestUri": "/backups/{backupId}"
      },
      "input": {"shape": "DescribeBackupRequest"},
      "output": {"shape": "DescribeBackupResponse"},
      "documentation": "<p>Returns descriptive information about backup.</p>"
    },
    "DescribeDatabase": {
      "name": "DescribeDatabase",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/databases/{databaseId}"
      },
      "input": {"shape": "DescribeDatabaseRequest"},
      "output": {"shape": "DescribeDatabaseResponse"},
      "documentation": "<p>Returns descriptive information about database.</p>"
    },
    "DescribeService": {
      "name": "DescribeService",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}"
      },
      "input": {"shape": "DescribeServiceRequest"},
      "output": {"shape": "DescribeServiceResponse"},
      "documentation": "<p>Returns descriptive information about PaaS service.</p>"
    },
    "DescribeUser": {
      "name": "DescribeUser",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/users/{userId}"
      },
      "input": {"shape": "DescribeUserRequest"},
      "output": {"shape": "DescribeUserResponse"},
      "documentation": "<p>Returns descriptive information about user.</p>"
    },
    "DisableElasticsearchSnapshotRepository": {
      "name": "DisableElasticsearchSnapshotRepository",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/elasticsearch-snapshot-repositories/{repositoryId}/disable"
      },
      "input": {"shape": "DisableElasticsearchSnapshotRepositoryRequest"},
      "output": {"shape": "DisableElasticsearchSnapshotRepositoryResponse"},
      "documentation": "<p>Disable Elasticsearch snapshot repository.</p>"
    },
    "EnableElasticsearchSnapshotRepository": {
      "name": "EnableElasticsearchSnapshotRepository",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/elasticsearch-snapshot-repositories/{repositoryId}/enable"
      },
      "input": {"shape": "EnableElasticsearchSnapshotRepositoryRequest"},
      "output": {"shape": "EnableElasticsearchSnapshotRepositoryResponse"},
      "documentation": "<p>Enable Elasticsearch snapshot repository.</p>"
    },
    "ListBackups": {
      "name": "ListBackups",
      "http": {
        "method": "GET",
        "requestUri": "/backups"
      },
      "input": {"shape": "ListBackupsRequest"},
      "output": {"shape": "ListBackupsResponse"},
      "documentation": "<p>Lists backups.</p>"
    },
    "ListBackupUsers": {
      "name": "ListBackupUsers",
      "http": {
        "method": "GET",
        "requestUri": "/backup-users"
      },
      "input": {"shape": "ListBackupUsersRequest"},
      "output": {"shape": "ListBackupUsersResponse"},
      "documentation": "<p>Returns users list, available for service backup.</p>"
    },
    "ListDatabases": {
      "name": "ListDatabases",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/databases"
      },
      "input": {"shape": "ListDatabasesRequest"},
      "output": {"shape": "ListDatabasesResponse"},
      "documentation": "<p>Returns databases list.</p>"
    },
    "ListElasticsearchServicesSuitableForRecovery": {
      "name": "ListElasticsearchServicesSuitableForRecovery",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/elasticsearch-services-suitable-for-recovery"
      },
      "input": {"shape": "ListElasticsearchServicesSuitableForRecoveryRequest"},
      "output": {"shape": "ListElasticsearchServicesSuitableForRecoveryResponse"},
      "documentation": "<p>Returns elasticsearch services suitable for target service recovery.</p>"
    },
    "ListElasticsearchSnapshotRepositories": {
      "name": "ListElasticsearchSnapshotRepositories",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/elasticsearch-snapshot-repositories"
      },
      "input": {"shape": "ListElasticsearchSnapshotRepositoriesRequest"},
      "output": {"shape": "ListElasticsearchSnapshotRepositoriesResponse"},
      "documentation": "<p>Returns list of Elasticsearch snapshot repositories.</p>"
    },
    "ListLogstashPipelines": {
      "name": "ListLogstashPipelines",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/logstash-pipelines"
      },
      "input": {"shape": "ListLogstashPipelinesRequest"},
      "output": {"shape": "ListLogstashPipelinesResponse"},
      "documentation": "<p>Lists logstash pipelines in given service.</p>"
    },
    "ListServices": {
      "name": "ListServices",
      "http": {
        "method": "GET",
        "requestUri": "/services"
      },
      "input": {"shape": "ListServicesRequest"},
      "output": {"shape": "ListServicesResponse"},
      "documentation": "<p>Returns list of PaaS services.</p>"
    },
    "ListUsers": {
      "name": "ListUsers",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/users"
      },
      "input": {"shape": "ListUsersRequest"},
      "output": {"shape": "ListUsersResponse"},
      "documentation": "<p>Returns users list.</p>"
    },
    "ModifyBackup": {
      "name": "ModifyBackup",
      "http": {
        "method": "PUT",
        "requestUri": "/backups/{backupId}"
      },
      "input": {"shape": "ModifyBackupRequest"},
      "output": {"shape": "ModifyBackupResponse"},
      "documentation": "<p>Modifies the PaaS backup.</p>"
    },
    "ModifyLogstashPipeline": {
      "name": "ModifyLogstashPipeline",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/logstash-pipelines/{pipelineId}"
      },
      "input": {"shape": "ModifyLogstashPipelineRequest"},
      "output": {"shape": "ModifyLogstashPipelineResponse"},
      "documentation": "<p>Modifies logstash pipeline in given service.</p>"
    },
    "ModifyDatabase": {
      "name": "ModifyDatabase",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/databases/{databaseId}"
      },
      "input": {"shape": "ModifyDatabaseRequest"},
      "output": {"shape": "ModifyDatabaseResponse"},
      "documentation": "<p>Modifies database.</p>"
    },
    "ModifyLoadBalancers": {
      "name": "ModifyLoadBalancers",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/load-balancers"
      },
      "input": {"shape": "ModifyLoadBalancersRequest"},
      "output": {"shape": "ModifyLoadBalancersResponse"},
      "documentation": "<p>Modifies PaaS load balancers.</p>"
    },
    "ModifyServiceEnvironment": {
      "name": "ModifyServiceEnvironment",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/environment"
      },
      "input": {"shape": "ModifyEnvironmentRequest"},
      "output": {"shape": "ModifyEnvironmentResponse"},
      "documentation": "<p>Modifies the PaaS service environment.</p>"
    },
    "ModifyService": {
      "name": "ModifyService",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}"
      },
      "input": {"shape": "ModifyServiceRequest"},
      "output": {"shape": "ModifyServiceResponse"},
      "documentation": "<p>Modifies the PaaS service.</p>"
    },
    "ModifyServiceParameters": {
      "name": "ModifyServiceParameters",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/parameters"
      },
      "input": {"shape": "ModifyServiceParametersRequest"},
      "output": {"shape": "ModifyServiceParametersResponse"},
      "documentation": "<p>Modifies the PaaS service parameters.</p>"
    },
    "ModifyUser": {
      "name": "ModifyUser",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/users/{userId}"
      },
      "input": {"shape": "ModifyUserRequest"},
      "output": {"shape": "ModifyUserResponse"},
      "documentation": "<p>Modifies database.</p>"
    },
    "PatchServiceParameters": {
      "name": "PatchServiceParameters",
      "http": {
        "method": "PATCH",
        "requestUri": "/services/{serviceId}/parameters"
      },
      "input": {"shape": "PatchServiceParametersRequest"},
      "output": {"shape": "PatchServiceParametersResponse"},
      "documentation": "<p>Modifies the PaaS service parameters.</p>"
    },
    "CreatePrometheusRoute": {
      "name": "CreatePrometheusRoute",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/prometheus-routes"
      },
      "input": {"shape": "CreatePrometheusRouteRequest"},
      "output": {"shape": "CreatePrometheusRouteResponse"},
      "documentation": "<p>Creates prometheus route in given service.</p>"
    },
    "DeletePrometheusRoute": {
      "name": "DeletePrometheusRoute",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/prometheus-routes/{routeId}"
      },
      "input": {"shape": "DeletePrometheusRouteRequest"},
      "output": {"shape": "DeletePrometheusRouteResponse"},
      "documentation": "<p>Deletes prometheus route in given service.</p>"
    },
    "ListPrometheusRoutes": {
      "name": "ListPrometheusRoutes",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/prometheus-routes"
      },
      "input": {"shape": "ListPrometheusRoutesRequest"},
      "output": {"shape": "ListPrometheusRoutesResponse"},
      "documentation": "<p>Lists prometheus routes in given service.</p>"
    },
    "ModifyPrometheusRoute": {
      "name": "ModifyPrometheusRoute",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/prometheus-routes/{routeId}"
      },
      "input": {"shape": "ModifyPrometheusRouteRequest"},
      "output": {"shape": "ModifyPrometheusRouteResponse"},
      "documentation": "<p>Modifies prometheus route in given service.</p>"
    },
    "CreatePrometheusScrapeJob": {
      "name": "CreatePrometheusScrapeJob",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/prometheus-scrape-jobs"
      },
      "input": {"shape": "CreatePrometheusScrapeJobRequest"},
      "output": {"shape": "CreatePrometheusScrapeJobResponse"},
      "documentation": "<p>Creates prometheus scrape job in given service.</p>"
    },
    "DeletePrometheusScrapeJob": {
      "name": "DeletePrometheusScrapeJob",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/prometheus-scrape-jobs/{jobId}"
      },
      "input": {"shape": "DeletePrometheusScrapeJobRequest"},
      "output": {"shape": "DeletePrometheusScrapeJobResponse"},
      "documentation": "<p>Deletes prometheus scrape job in given service.</p>"
    },
    "ListPrometheusScrapeJobs": {
      "name": "ListPrometheusScrapeJobs",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/prometheus-scrape-jobs"
      },
      "input": {"shape": "ListPrometheusScrapeJobsRequest"},
      "output": {"shape": "ListPrometheusScrapeJobsResponse"},
      "documentation": "<p>Lists prometheus scrape jobs in given service.</p>"
    },
    "ModifyPrometheusScrapeJob": {
      "name": "ModifyPrometheusScrapeJob",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/prometheus-scrape-jobs/{jobId}"
      },
      "input": {"shape": "ModifyPrometheusScrapeJobRequest"},
      "output": {"shape": "ModifyPrometheusScrapeJobResponse"},
      "documentation": "<p>Modifies prometheus scrape job in given service.</p>"
    },
    "CreateNotificationChannel": {
      "name": "CreateNotificationChannel",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/notification-channels"
      },
      "input": {"shape": "CreateNotificationChannelRequest"},
      "output": {"shape": "CreateNotificationChannelResponse"},
      "documentation": "<p>Creates notification channel in given service.</p>"
    },
    "DeleteNotificationChannel": {
      "name": "DeleteNotificationChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/services/{serviceId}/notification-channels/{channelId}"
      },
      "input": {"shape": "DeleteNotificationChannelRequest"},
      "output": {"shape": "DeleteNotificationChannelResponse"},
      "documentation": "<p>Deletes notification channel in given service.</p>"
    },
    "ListNotificationChannels": {
      "name": "ListNotificationChannels",
      "http": {
        "method": "GET",
        "requestUri": "/services/{serviceId}/notification-channels"
      },
      "input": {"shape": "ListNotificationChannelsRequest"},
      "output": {"shape": "ListNotificationChannelsResponse"},
      "documentation": "<p>Lists notification channels in given service.</p>"
    },
    "ModifyNotificationChannel": {
      "name": "ModifyNotificationChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/services/{serviceId}/notification-channels/{channelId}"
      },
      "input": {"shape": "ModifyNotificationChannelRequest"},
      "output": {"shape": "ModifyNotificationChannelResponse"},
      "documentation": "<p>Modifies notification channel in given service.</p>"
    },
    "ModifySupportAccess": {
      "name": "ModifySupportAccess",
      "http": {
        "method": "POST",
        "requestUri": "/services/{serviceId}/support-access"
      },
      "input": {"shape": "ModifySupportAccessRequest"},
      "output": {"shape": "ModifySupportAccessResponse"},
      "documentation": "<p>Modifies support access for given service.</p>"
    }
  },
  "shapes": {
    "Backup": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "serviceId": {"shape": "String"},
        "serviceName": {"shape": "String"},
        "serviceClass": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "serviceDeleted": {"shape": "Boolean"},
        "status": {"shape": "String"},
        "time": {"shape": "Integer"},
        "databases": {"shape": "DatabaseBackupList"},
        "protected": {"shape": "Boolean"}
      }
    },
    "BackupSettingsRequest": {
      "type": "structure",
      "required": [
        "enabled"
      ],
      "members": {
        "enabled": {"shape": "Boolean"},
        "startTime": {"shape": "String"},
        "bucketName": {"shape": "String"},
        "userLogin": {"shape": "String"},
        "notificationEmail": {"shape": "String"},
        "backupExpirationDays": {"shape": "Integer"}
      }
    },
    "BackupSettingsResponse": {
      "type": "structure",
      "members": {
        "enabled": {"shape": "Boolean"},
        "startTime": {"shape": "String"},
        "bucketName": {"shape": "String"},
        "userId": {"shape": "String"},
        "userLogin": {"shape": "String"},
        "notificationEmail": {"shape": "String"},
        "backupExpirationDays": {"shape": "Integer"}
      }
    },
    "BackupUser": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "login": {"shape": "String"},
        "name": {"shape": "String"},
        "email": {"shape": "String"},
        "enabled": {"shape": "Boolean"},
        "lastLoginTime": {"shape": "Integer"},
        "modifyTime": {"shape": "Integer"},
        "projectGrants": {"shape": "StringList"}
      }
    },
    "BalancerTarget": {
      "type": "structure",
      "members": {
        "serviceCaption": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "protocol": {"shape": "String"},
        "port": {"shape": "Integer"}
      }
    },
    "BalancerTargets": {
      "type": "list",
      "member": {
        "shape": "BalancerTarget"
      }
    },
    "Boolean": {"type": "boolean"},
    "CreateDatabaseRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "database"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "database": {"shape": "DatabaseCreateRequest"}
      }
    },
    "CreateDatabaseResponse": {
      "type": "structure",
      "members": {
        "database": {"shape": "DatabaseResponse"}
      }
    },
    "CreateElasticsearchSnapshotRepositoryRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "parameters": {"shape": "None"}
      }
    },
    "CreateElasticsearchSnapshotRepositoryResponse": {
      "type": "structure",
      "members": {
        "repository": {"shape": "ElasticsearchSnapshotRepositoryResponse"}
      }
    },
    "CreateServiceRequest": {
      "type": "structure",
      "required": [
        "name",
        "serviceClass",
        "serviceType",
        "securityGroupIds",
        "rootVolumeType",
        "rootVolumeSize",
        "instanceType",
        "highAvailability",
        "parameters"
      ],
      "members": {
        "name": {"shape": "String"},
        "serviceClass": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "subnetIds": {"shape": "StringList"},
        "networkInterfaceIds": {"shape": "StringList"},
        "securityGroupIds": {"shape": "StringList"},
        "rootVolumeType": {"shape": "String"},
        "rootVolumeSize": {"shape": "Integer"},
        "rootVolumeIops": {"shape": "Integer"},
        "dataVolumeType": {"shape": "String"},
        "dataVolumeSize": {"shape": "Integer"},
        "dataVolumeIops": {"shape": "Integer"},
        "instanceQty": {"shape": "Integer"},
        "instanceType": {"shape": "String"},
        "highAvailability": {"shape": "Boolean"},
        "sshKeyName": {"shape": "String"},
        "parameters": {"shape": "None"},
        "userData": {"shape": "String"},
        "userDataContentType": {"shape": "String"},
        "backupSettings": {"shape": "BackupSettingsRequest"},
        "arbitratorRequired": {"shape": "Boolean"},
        "internalBalancerRequired": {"shape": "Boolean"},
        "externalBalancerRequired": {"shape": "Boolean"},
        "coordinator": {"shape": "NodeRequest"}
      }
    },
    "CreateServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of the new service.</p>"
        }
      }
    },
    "CreateUserRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "user"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "user": {"shape": "UserCreateRequest"}
      }
    },
    "CreateUserResponse": {
      "type": "structure",
      "members": {
        "user": {"shape": "UserResponse"}
      }
    },
    "DatabaseBackup": {
      "type": "structure",
      "members": {
        "name": {"shape": "String"},
        "size": {"shape": "Integer"},
        "status": {"shape": "String"},
        "parameters": {"shape": "None"},
        "logfile": {"shape": "String"},
        "location": {"shape": "String"}
      }
    },
    "DatabaseBackupList": {
      "type": "list",
      "member": {"shape": "DatabaseBackup"}
    },
    "DatabaseCompactResponse": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"}
      }
    },
    "DatabaseCompactResponseList": {
      "type": "list",
      "member": {"shape": "DatabaseCompactResponse"}
    },
    "DatabaseCreateRequest": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "name": {"shape": "String"},
        "backupEnabled": {"shape": "Boolean"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserCreateRequestList"}
      }
    },
    "DatabaseCreateRequestList": {
      "type": "list",
      "member": {"shape": "DatabaseCreateRequest"}
    },
    "DatabaseModifyRequest": {
      "type": "structure",
      "members": {
        "backupEnabled": {"shape": "Boolean"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserCreateRequestList"}
      }
    },
    "DatabaseResponse": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "backupEnabled": {"shape": "Boolean"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserResponseList"}
      }
    },
    "DatabaseResponseList": {
      "type": "list",
      "member": {"shape": "DatabaseResponse"}
    },
    "DeleteBackupsRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "backupIds": {
          "shape": "StringList",
          "documentation": "<p>The IDs of backups to delete.</p>"
        }
      }
    },
    "DeleteBackupsResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteDatabaseRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "databaseId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "databaseId": {
          "shape": "String",
          "location": "uri",
          "locationName": "databaseId"
        }
      }
    },
    "DeleteDatabaseResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteElasticsearchSnapshotRepositoryRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "repositoryId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "repositoryId": {
          "shape": "String",
          "location": "uri",
          "locationName": "repositoryId"
        }
      }
    },
    "DeleteElasticsearchSnapshotRepositoryResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteServiceRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "deleteInterfaces"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to delete.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "deleteInterfaces": {
          "shape": "Boolean",
          "documentation": "<p>Delete interfaces with service.</p>"
        }
      }
    },
    "DeleteServiceResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteUserRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "userId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "userId": {
          "shape": "String",
          "location": "uri",
          "locationName": "userId"
        }
      }
    },
    "DeleteUserResponse": {
      "type": "structure",
      "members": {}
    },
    "DescribeBackupRequest": {
      "type": "structure",
      "required": [
        "backupId"
      ],
      "members": {
        "backupId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to describe.</p>",
          "location": "uri",
          "locationName": "backupId"
        }
      }
    },
    "DescribeBackupResponse": {
      "type": "structure",
      "members": {
        "backup": {
          "shape": "Backup",
          "documentation": "<p>The full description of the specified backup.</p>"
        }
      }
    },
    "DescribeDatabaseRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "databaseId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "databaseId": {
          "shape": "String",
          "location": "uri",
          "locationName": "databaseId"
        }
      }
    },
    "DescribeDatabaseResponse": {
      "type": "structure",
      "members": {
        "database": {"shape": "DatabaseResponse"}
      }
    },
    "DescribeServiceRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of the service to describe.</p>",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "DescribeServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of the specified service.</p>"
        }
      }
    },
    "DescribeUserRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "userId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "userId": {
          "shape": "String",
          "location": "uri",
          "locationName": "userId"
        }
      }
    },
    "DescribeUserResponse": {
      "type": "structure",
      "members": {
        "user": {"shape": "UserResponse"}
      }
    },
    "DisableElasticsearchSnapshotRepositoryRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "repositoryId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "repositoryId": {
          "shape": "String",
          "location": "uri",
          "locationName": "repositoryId"
        }
      }
    },
    "DisableElasticsearchSnapshotRepositoryResponse": {
      "type": "structure",
      "members": {
        "repository": {"shape": "ElasticsearchSnapshotRepositoryResponse"}
      }
    },
    "ElasticsearchSnapshotRepositoriesResponseList": {
      "type": "list",
      "member": {"shape": "ElasticsearchSnapshotRepositoryResponse"}
    },
    "ElasticsearchSnapshotRepositoryResponse": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "EnableElasticsearchSnapshotRepositoryRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "repositoryId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "repositoryId": {
          "shape": "String",
          "location": "uri",
          "locationName": "repositoryId"
        }
      }
    },
    "EnableElasticsearchSnapshotRepositoryResponse": {
      "type": "structure",
      "members": {
        "repository": {"shape": "ElasticsearchSnapshotRepositoryResponse"}
      }
    },
    "Instance": {
      "type": "structure",
      "members": {
        "role": {"shape": "String"},
        "instanceId": {"shape": "String"},
        "privateIp": {"shape": "String"},
        "interfaceId": {"shape": "String"},
        "status": {"shape": "String"},
        "index": {"shape": "Integer"},
        "endpoints": {"shape": "InstanceEndpoints"},
        "name": {"shape": "String"}
      }
    },
    "InstanceEndpoint": {
      "type": "structure",
      "members": {
        "name": {"shape": "String"},
        "address": {"shape": "String"}
      }
    },
    "InstanceEndpoints": {
      "type": "list",
      "member": {"shape": "InstanceEndpoint"}
    },
    "InstanceList": {
      "type": "list",
      "member": {"shape": "Instance"}
    },
    "Integer": {"type": "integer"},
    "ListBackups": {
      "type": "list",
      "member": {"shape": "Backup"}
    },
    "ListBackupsRequest": {
      "type": "structure",
      "members": {
        "serviceClass": {
          "shape": "String",
          "documentation": "<p>The service class filter.</p>"
        },
        "serviceType": {
          "shape": "String",
          "documentation": "<p>The service type filter.</p>"
        },
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID filter.</p>"
        }
      }
    },
    "ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "shape": "ListBackups",
          "documentation": "<p>A list of all backups for the account in the specified Region.</p>"
        }
      }
    },
    "ListBackupUsers": {
      "type": "list",
      "member": {"shape": "BackupUser"}
    },
    "ListBackupUsersRequest": {
      "type": "structure",
      "members": {

      }
    },
    "ListBackupUsersResponse": {
      "type": "structure",
      "members": {
        "users": {
          "shape": "ListBackupUsers",
          "documentation": "<p>A list of users, available for service backup.</p>"
        }
      }
    },
    "ListDatabasesRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListDatabasesResponse": {
      "type": "structure",
      "members": {
        "databases": {"shape": "DatabaseCompactResponseList"}
      }
    },
    "ListElasticsearchServicesSuitableForRecoveryRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListElasticsearchSnapshotRepositoriesRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListElasticsearchServicesSuitableForRecoveryResponse": {
      "type": "structure",
      "members": {
        "services": {"shape": "ListServices"}
      }
    },
    "ListElasticsearchSnapshotRepositoriesResponse": {
      "type": "structure",
      "members": {
        "repositories": {"shape": "ElasticsearchSnapshotRepositoriesResponseList"}
      }
    },
    "ListServiceItem": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "status": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "serviceClass": {"shape": "String"},
        "serviceTypeCaption": {"shape": "String"},
        "version": {"shape": "String"},
        "errorCode": {"shape": "String"},
        "totalCpuCount": {"shape": "Integer"},
        "totalMemory": {"shape": "Integer"},
        "vpcId": {"shape": "String"},
        "environmentVersion": {"shape":  "String"}
      }
    },
    "ListServices": {
      "type": "list",
      "member": {"shape": "ListServiceItem"}
    },
    "ListServicesRequest": {
      "type": "structure",
      "members": {
        "serviceClass": {
          "shape": "String",
          "documentation": "<p>The service class filter.</p>"
        },
        "serviceType": {
          "shape": "String",
          "documentation": "<p>The service type filter.</p>"
        }
      }
    },
    "ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "shape": "ListServices",
          "documentation": "<p>A list of all of the services for the account in the specified Region.</p>"
        }
      }
    },
    "ListUsersRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListUsersResponse": {
      "type": "structure",
      "members": {
        "users": {"shape": "UserCompactResponseList"}
      }
    },
    "LoadBalancerTargetGroup": {
      "type": "structure",
      "members": {
        "arn": {"shape": "String"},
        "port": {"shape": "Integer"},
        "protocol": {"shape": "String"},
        "targetType": {"shape": "String"}
      }
    },
    "LoadBalancerListener": {
      "type": "structure",
      "members": {
        "arn": {"shape": "String"},
        "port": {"shape": "Integer"},
        "protocol": {"shape": "String"}
      }
    },
    "targetGroupsList": {
      "type": "list",
      "member": {"shape": "LoadBalancerTargetGroup"}
    },
    "listenersList": {
      "type": "list",
      "member": {"shape": "LoadBalancerListener"}
    },
    "LoadBalancer": {
      "type": "structure",
      "members": {
        "balancerId": {"shape": "String"},
        "dnsName": {"shape": "String"},
        "balancerName": {"shape": "String"},
        "targetGroups": {"shape": "targetGroupsList"},
        "listeners": {"shape": "listenersList"}
      }
    },
    "LoadBalancerList": {
      "type": "list",
      "member": {"shape": "LoadBalancer"}
    },
    "LoadBalancers": {
      "type": "structure",
      "members": {
        "internalBalancers": {"shape": "LoadBalancerList"},
        "externalBalancers": {"shape": "LoadBalancerList"}
      }
    },
    "ModifyBackupRequest": {
      "type": "structure",
      "required": [
        "backupId"
      ],
      "members": {
        "backupId": {
          "shape": "String",
          "documentation": "<p>The backup ID to modify.</p>",
          "location": "uri",
          "locationName": "backupId"
        },
        "protected": {
          "shape": "Boolean",
          "documentation": "<p>Protected backups will not be deleted after expiration time.</p>"
        }
      }
    },
    "ModifyBackupResponse": {
      "type": "structure",
      "members": {
        "backup": {
          "shape": "Backup",
          "documentation": "<p>The full description of the specified backup.</p>"
        }
      }
    },
    "ModifyDatabaseRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "databaseId",
        "database"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "databaseId": {
          "shape": "String",
          "location": "uri",
          "locationName": "databaseId"
        },
        "database": {"shape": "DatabaseModifyRequest"}
      }
    },
    "ModifyDatabaseResponse": {
      "type": "structure",
      "members": {
        "database": {"shape": "DatabaseResponse"}
      }
    },
    "ModifyEnvironmentRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "environmentVersion": {
          "shape": "String"
        }
      }
    },
    "ModifyEnvironmentResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of your modified service.</p>"
        }
      }
    },
    "ModifyServiceRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "users": {"shape": "UserCreateRequestList"},
        "databases": {"shape": "DatabaseCreateRequestList"},
        "backupSettings": {"shape": "BackupSettingsRequest"}
      }
    },
    "ModifyServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of your modified service.</p>"
        }
      }
    },
    "ModifyServiceParametersRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "parameters": {"shape": "None"}
      }
    },
    "ModifyServiceParametersResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of your modified service.</p>"
        }
      }
    },
    "PatchServiceParametersRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "parameters": {"shape": "None"}
      }
    },
    "PatchServiceParametersResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of your modified service.</p>"
        }
      }
    },
    "ModifyUserRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "userId",
        "user"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "location": "uri",
          "locationName": "serviceId"
        },
        "userId": {
          "shape": "String",
          "location": "uri",
          "locationName": "userId"
        },
        "user": {"shape": "UserModifyRequest"}
      }
    },
    "ModifyUserResponse": {
      "type": "structure",
      "members": {
        "user": {"shape": "UserResponse"}
      }
    },
    "ModifyLoadBalancersRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>ID of the service to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "internalBalancerRequired": {"shape": "Boolean"},
        "externalBalancerRequired": {"shape": "Boolean"}
      }
    },
    "ModifyLoadBalancersResponse": {
      "type": "structure",
      "members": {
        "internalBalancerRequired": {"shape": "Boolean"},
        "externalBalancerRequired": {"shape": "Boolean"}
      }
    },
    "Node": {
        "type": "structure",
        "members": {
            "role": {"shape": "String"},
            "instanceType": {"shape": "String"},
            "nodeQty": {"shape": "Integer"},
            "rootVolumeType": {"shape": "String"},
            "rootVolumeSize": {"shape": "Integer"},
            "rootVolumeIops": {"shape": "Integer"},
            "dataVolumeType": {"shape": "String"},
            "dataVolumeSize": {"shape": "Integer"},
            "dataVolumeIops": {"shape": "Integer"}
        }
    },
    "Nodes": {
        "type": "structure",
        "members": {
            "main": {"shape": "Node"},
            "arbitrator": {"shape": "Node"},
            "coordinator": {"shape": "Node"}
        }
    },
    "NodeRequest": {
        "type": "structure",
        "required": [
            "instanceType",
            "rootVolumeType",
            "rootVolumeSize"
        ],
        "members": {
            "instanceType": {"shape": "String"},
            "rootVolumeType": {"shape": "String"},
            "rootVolumeSize": {"shape": "Integer"},
            "rootVolumeIops": {"shape": "Integer"},
            "dataVolumeType": {"shape": "String"},
            "dataVolumeSize": {"shape": "Integer"},
            "dataVolumeIops": {"shape": "Integer"}
        }
    },
    "None": {"type": "none"},
    "SecurityGroup": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "createdAutomatically": {"shape": "Boolean"}
      }
    },
    "SecurityGroupList": {
      "type": "list",
      "member": {"shape": "SecurityGroup"}
    },
    "Service": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "serviceClass": {"shape": "String"},
        "serviceType": {"shape": "String"},
        "subnetIds": {"shape": "StringList"},
        "networkInterfaceIds": {"shape": "StringList"},
        "securityGroups": {"shape": "SecurityGroupList"},
        "rootVolumeType": {"shape": "String"},
        "rootVolumeSize": {"shape": "Integer"},
        "rootVolumeIops": {"shape": "Integer"},
        "dataVolumeType": {"shape": "String"},
        "dataVolumeSize": {"shape": "Integer"},
        "dataVolumeIops": {"shape": "Integer"},
        "instanceType": {"shape": "String"},
        "highAvailability": {"shape": "Boolean"},
        "instanceQty": {"shape": "Integer"},
        "nodes": {"shape": "Nodes"},
        "sshKeyName": {"shape": "String"},
        "parameters": {"shape": "None"},
        "users": {"shape": "UserResponseList"},
        "databases": {"shape": "DatabaseResponseList"},
        "status": {"shape": "String"},
        "errorCode": {"shape": "String"},
        "errorDescription": {"shape": "String"},
        "endpoints": {"shape": "ServiceEndpoints"},
        "instances": {"shape": "InstanceList"},
        "supportedFeatures": {"shape": "StringList"},
        "backupSettings": {"shape": "BackupSettingsResponse"},
        "totalCpuCount": {"shape": "Integer"},
        "totalMemory": {"shape": "Integer"},
        "vpcId": {"shape": "String"},
        "internalBalancerRequired": {"shape": "Boolean"},
        "externalBalancerRequired": {"shape": "Boolean"},
        "internalBalancerAllowed": {"shape": "Boolean"},
        "externalBalancerAllowed": {"shape": "Boolean"},
        "internalBalancerTargets": {"shape": "BalancerTargets"},
        "externalBalancerTargets": {"shape": "BalancerTargets"},
        "loadBalancers": {"shape": "LoadBalancers"},
        "environmentVersion": {"shape": "String"},
        "availableEnvironmentVersions": {"shape": "StringList"},
        "isRolledBack": {"shape": "Boolean"},
        "supportAccessEnabled": {"shape": "Boolean"}
      }
    },
    "ServiceEndpoint": {
      "type": "structure",
      "members": {
        "name": {"shape": "String"},
        "addresses": {"shape": "StringList"}
      }
    },
    "ServiceEndpoints": {
      "type": "list",
      "member": {"shape": "ServiceEndpoint"}
    },
    "String": {"type": "string"},
    "StringList": {
      "type": "list",
      "member": {"shape": "String"}
    },
    "Timestamp": {"type": "timestamp"},
    "UserCompactResponse": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"}
      }
    },
    "UserCompactResponseList": {
      "type": "list",
      "member": {"shape": "UserCompactResponse"}
    },
    "UserCreateRequest": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "UserCreateRequestList": {
      "type": "list",
      "member": {"shape": "UserCreateRequest"}
    },
    "UserModifyRequest": {
      "type": "structure",
      "members": {
        "parameters": {"shape": "None"}
      }
    },
    "UserResponse": {
      "type": "structure",
      "required": [
        "name"
      ],
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "UserResponseList": {
      "type": "list",
      "member": {"shape": "UserResponse"}
    },

    "CreateLogstashPipelineRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "name",
        "configuration"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "name": {"shape": "String"},
        "configuration": {"shape": "String"}
      }
    },
    "CreateLogstashPipelineResponse": {
      "type": "structure",
      "members": {
        "logstashPipeline": {
          "shape": "LogstashPipeline",
          "documentation": "<p>The full description of created logstash pipeline.</p>"
        }
      }
    },
    "DeleteLogstashPipelineRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "pipelineId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "pipelineId": {
          "shape": "String",
          "documentation": "<p>The ID of pipeline to delete.</p>",
          "location": "uri",
          "locationName": "pipelineId"
        }
      }
    },
    "DeleteLogstashPipelineResponse": {
      "type": "structure",
      "members": {}
    },
    "ListLogstashPipelinesRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListLogstashPipelinesResponse": {
      "type": "structure",
      "members": {
        "logstashPipelines": {
          "shape": "LogstashPipelineList",
          "documentation": "<p>A list of logstash pipelines, available for service.</p>"
        }
      }
    },
    "LogstashPipeline": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "configuration": {"shape": "String"}
      }
    },
    "LogstashPipelineList": {
      "type": "list",
      "member": {"shape": "LogstashPipeline"}
    },
    "ModifyLogstashPipelineRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "pipelineId",
        "configuration"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "pipelineId": {
          "shape": "String",
          "documentation": "<p>The ID of pipeline to modify.</p>",
          "location": "uri",
          "locationName": "pipelineId"
        },
        "configuration": {"shape": "String"}
      }
    },
    "ModifyLogstashPipelineResponse": {
      "type": "structure",
      "members": {
        "logstashPipeline": {
          "shape": "LogstashPipeline",
          "documentation": "<p>The full description of modified logstash pipeline.</p>"
        }
      }
    },
    "CreatePrometheusRouteRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "name",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "CreatePrometheusRouteResponse": {
      "type": "structure",
      "members": {
        "prometheusRoute": {
          "shape": "PrometheusRoute",
          "documentation": "<p>The full description of created prometheus route.</p>"
        }
      }
    },
    "DeletePrometheusRouteRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "routeId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "routeId": {
          "shape": "String",
          "documentation": "<p>The ID of route to delete.</p>",
          "location": "uri",
          "locationName": "routeId"
        }
      }
    },
    "DeletePrometheusRouteResponse": {
      "type": "structure",
      "members": {}
    },
    "ListPrometheusRoutesRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListPrometheusRoutesResponse": {
      "type": "structure",
      "members": {
        "prometheusRoutes": {
          "shape": "PrometheusRouteList",
          "documentation": "<p>A list of Prometheus routes, available for service.</p>"
        }
      }
    },
    "PrometheusRoute": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "PrometheusRouteList": {
      "type": "list",
      "member": {"shape": "PrometheusRoute"}
    },
    "ModifyPrometheusRouteRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "routeId",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "routeId": {
          "shape": "String",
          "documentation": "<p>The ID of route to modify.</p>",
          "location": "uri",
          "locationName": "routeId"
        },
        "parameters": {"shape": "None"}
      }
    },
    "ModifyPrometheusRouteResponse": {
      "type": "structure",
      "members": {
        "prometheusRoute": {
          "shape": "PrometheusRoute",
          "documentation": "<p>The full description of modified Prometheus route.</p>"
        }
      }
    },

    "CreatePrometheusScrapeJobRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "name",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "CreatePrometheusScrapeJobResponse": {
      "type": "structure",
      "members": {
        "prometheusScrapeJob": {
          "shape": "PrometheusScrapeJob",
          "documentation": "<p>The full description of created prometheus job.</p>"
        }
      }
    },
    "DeletePrometheusScrapeJobRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "jobId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "jobId": {
          "shape": "String",
          "documentation": "<p>The ID of job to delete.</p>",
          "location": "uri",
          "locationName": "jobId"
        }
      }
    },
    "DeletePrometheusScrapeJobResponse": {
      "type": "structure",
      "members": {}
    },
    "ListPrometheusScrapeJobsRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListPrometheusScrapeJobsResponse": {
      "type": "structure",
      "members": {
        "prometheusScrapeJobs": {
          "shape": "PrometheusScrapeJobList",
          "documentation": "<p>A list of Prometheus jobs, available for service.</p>"
        }
      }
    },
    "PrometheusScrapeJob": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "PrometheusScrapeJobList": {
      "type": "list",
      "member": {"shape": "PrometheusScrapeJob"}
    },
    "ModifyPrometheusScrapeJobRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "jobId",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "jobId": {
          "shape": "String",
          "documentation": "<p>The ID of job to modify.</p>",
          "location": "uri",
          "locationName": "jobId"
        },
        "parameters": {"shape": "None"}
      }
    },
    "ModifyPrometheusScrapeJobResponse": {
      "type": "structure",
      "members": {
        "prometheusScrapeJob": {
          "shape": "PrometheusScrapeJob",
          "documentation": "<p>The full description of modified Prometheus job.</p>"
        }
      }
    },

    "CreateNotificationChannelRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "name",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The service ID to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "CreateNotificationChannelResponse": {
      "type": "structure",
      "members": {
        "notificationChannel": {
          "shape": "NotificationChannel",
          "documentation": "<p>The full description of created notification channel.</p>"
        }
      }
    },
    "DeleteNotificationChannelRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "channelId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "channelId": {
          "shape": "String",
          "documentation": "<p>The ID of channel to delete.</p>",
          "location": "uri",
          "locationName": "channelId"
        }
      }
    },
    "DeleteNotificationChannelResponse": {
      "type": "structure",
      "members": {}
    },
    "ListNotificationChannelsRequest": {
      "type": "structure",
      "required": [
        "serviceId"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service.</p>",
          "location": "uri",
          "locationName": "serviceId"
        }
      }
    },
    "ListNotificationChannelsResponse": {
      "type": "structure",
      "members": {
        "notificationChannels": {
          "shape": "NotificationChannelList",
          "documentation": "<p>A list of notification channels, available for service.</p>"
        }
      }
    },
    "NotificationChannel": {
      "type": "structure",
      "members": {
        "id": {"shape": "String"},
        "name": {"shape": "String"},
        "parameters": {"shape": "None"}
      }
    },
    "NotificationChannelList": {
      "type": "list",
      "member": {"shape": "NotificationChannel"}
    },
    "ModifyNotificationChannelRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "channelId",
        "parameters"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "channelId": {
          "shape": "String",
          "documentation": "<p>The ID of channel to modify.</p>",
          "location": "uri",
          "locationName": "channelId"
        },
        "parameters": {"shape": "None"}
      }
    },
    "ModifyNotificationChannelResponse": {
      "type": "structure",
      "members": {
        "notificationChannel": {
          "shape": "NotificationChannel",
          "documentation": "<p>The full description of modified notification channel.</p>"
        }
      }
    },
    "ModifySupportAccessRequest": {
      "type": "structure",
      "required": [
        "serviceId",
        "enable"
      ],
      "members": {
        "serviceId": {
          "shape": "String",
          "documentation": "<p>The ID of service to modify.</p>",
          "location": "uri",
          "locationName": "serviceId"
        },
        "enable": {
          "shape": "Boolean",
          "documentation": "<p>Indicates whether the support access is enabled.</p>"
        }
      }
    },
    "ModifySupportAccessResponse": {
      "type": "structure",
      "members": {
        "service": {
          "shape": "Service",
          "documentation": "<p>The full description of the specified service.</p>"
        }
      }
    }
  }
}
