{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-03-21",
    "endpointPrefix":"iam",
    "globalEndpoint":"iam.amazonaws.com",
    "protocol":"query",
    "serviceAbbreviation":"IAM",
    "serviceFullName":"Identity and Access Management",
    "serviceId":"IAM",
    "signatureVersion":"v4",
    "uid":"iam-2024-03-21",
    "xmlNamespace":"https://iam.amazonaws.com/doc/2024-03-21/"
  },
  "operations":{
    "AddIDProviderGroupToGroup":{
      "name":"AddIDProviderGroupToGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddIDProviderGroupToGroupRequest"}
    },
    "AddUserToGroup":{
      "name":"AddUserToGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddUserToGroupRequest"}
    },
    "AttachGroupPolicy":{
      "name":"AttachGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachGroupPolicyRequest"}
    },
    "AttachIDProviderGroupPolicy":{
      "name":"AttachIDProviderGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachIDProviderGroupPolicyRequest"}
    },
    "AttachUserPolicy":{
      "name":"AttachUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachUserPolicyRequest"}
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{
        "shape":"CreateGroupResponse",
        "resultWrapper":"CreateGroupResult"
      }
    },
    "CreateIDProvider":{
      "name":"CreateIDProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIDProviderRequest"},
      "output":{
        "shape":"CreateIDProviderResponse",
        "resultWrapper":"CreateIDProviderResult"
      }
    },
    "CreateIDProviderGroup":{
      "name":"CreateIDProviderGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIDProviderGroupRequest"},
      "output":{
        "shape":"CreateIDProviderGroupResponse",
        "resultWrapper":"CreateIDProviderGroupResult"
      }
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyRequest"},
      "output":{
        "shape":"CreatePolicyResponse",
        "resultWrapper":"CreatePolicyResult"
      }
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProjectRequest"},
      "output":{
        "shape":"CreateProjectResponse",
        "resultWrapper":"CreateProjectResult"
      }
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{
        "shape":"CreateUserResponse",
        "resultWrapper":"CreateUserResult"
      }
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupRequest"}
    },
    "DeleteIDProvider":{
      "name":"DeleteIDProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIDProviderRequest"}
    },
    "DeleteIDProviderGroup":{
      "name":"DeleteIDProviderGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIDProviderGroupRequest"}
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyRequest"}
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProjectRequest"}
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"}
    },
    "DetachGroupPolicy":{
      "name":"DetachGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachGroupPolicyRequest"}
    },
    "DetachIDProviderGroupPolicy":{
      "name":"DetachIDProviderGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachIDProviderGroupPolicyRequest"}
    },
    "DetachUserPolicy":{
      "name":"DetachUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachUserPolicyRequest"}
    },
    "GetGroup":{
      "name":"GetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupRequest"},
      "output":{
        "shape":"GetGroupResponse",
        "resultWrapper":"GetGroupResult"
      }
    },
    "GetIDProvider":{
      "name":"GetIDProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIDProviderRequest"},
      "output":{
        "shape":"GetIDProviderResponse",
        "resultWrapper":"GetIDProviderResult"
      }
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{
        "shape":"GetPolicyResponse",
        "resultWrapper":"GetPolicyResult"
      }
    },
    "GetProject":{
      "name":"GetProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetProjectRequest"},
      "output":{
        "shape":"GetProjectResponse",
        "resultWrapper":"GetProjectResult"
      }
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServiceRequest"},
      "output":{
        "shape":"GetServiceResponse",
        "resultWrapper":"GetServiceResult"
      }
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserRequest"},
      "output":{
        "shape":"GetUserResponse",
        "resultWrapper":"GetUserResult"
      }
    },
    "ListGroupPolicies":{
      "name":"ListGroupPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupPoliciesRequest"},
      "output":{
        "shape":"ListGroupPoliciesResponse",
        "resultWrapper":"ListGroupPoliciesResult"
      }
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{
        "shape":"ListGroupsResponse",
        "resultWrapper":"ListGroupsResult"
      }
    },
    "ListIDProviderGroupGlobalActions":{
      "name":"ListIDProviderGroupGlobalActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIDProviderGroupGlobalActionsRequest"},
      "output":{
        "shape":"ListIDProviderGroupGlobalActionsResponse",
        "resultWrapper":"ListIDProviderGroupGlobalActionsResult"
      }
    },
    "ListIDProviderGroupGlobalGroups":{
      "name":"ListIDProviderGroupGlobalGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIDProviderGroupGlobalGroupsRequest"},
      "output":{
        "shape":"ListIDProviderGroupGlobalGroupsResponse",
        "resultWrapper":"ListIDProviderGroupGlobalGroupsResult"
      }
    },
    "ListIDProviderGroupGlobalPolicies":{
      "name":"ListIDProviderGroupGlobalPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIDProviderGroupGlobalPoliciesRequest"},
      "output":{
        "shape":"ListIDProviderGroupGlobalPoliciesResponse",
        "resultWrapper":"ListIDProviderGroupGlobalPoliciesResult"
      }
    },
    "ListIDProviderGroupProjectActions":{
      "name":"ListIDProviderGroupProjectActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIDProviderGroupProjectActionsRequest"},
      "output":{
        "shape":"ListIDProviderGroupProjectActionsResponse",
        "resultWrapper":"ListIDProviderGroupProjectActionsResult"
      }
    },
    "ListIDProviderGroupProjectGroups":{
      "name":"ListIDProviderGroupProjectGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIDProviderGroupProjectGroupsRequest"},
      "output":{
        "shape":"ListIDProviderGroupProjectGroupsResponse",
        "resultWrapper":"ListIDProviderGroupProjectGroupsResult"
      }
    },
    "ListIDProviderGroupProjectPolicies":{
      "name":"ListIDProviderGroupProjectPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIDProviderGroupProjectPoliciesRequest"},
      "output":{
        "shape":"ListIDProviderGroupProjectPoliciesResponse",
        "resultWrapper":"ListIDProviderGroupProjectPoliciesResult"
      }
    },
    "ListIDProviderGroupProjects":{
      "name":"ListIDProviderGroupProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIDProviderGroupProjectsRequest"},
      "output":{
        "shape":"ListIDProviderGroupProjectsResponse",
        "resultWrapper":"ListIDProviderGroupProjectsResult"
      }
    },
    "ListIDProviders":{
      "name":"ListIDProviders",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListIDProvidersResponse",
        "resultWrapper":"ListIDProvidersResult"
      }
    },
    "ListPolicies":{
      "name":"ListPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoliciesRequest"},
      "output":{
        "shape":"ListPoliciesResponse",
        "resultWrapper":"ListPoliciesResult"
      }
    },
    "ListProjects":{
      "name":"ListProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListProjectsResponse",
        "resultWrapper":"ListProjectsResult"
      }
    },
    "ListProjectUsers":{
      "name":"ListProjectUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProjectUsersRequest"},
      "output":{
        "shape":"ListProjectUsersResponse",
        "resultWrapper":"ListProjectUsersResult"
      }
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServicesRequest"},
      "output":{
        "shape":"ListServicesResponse",
        "resultWrapper":"ListServicesResult"
      }
    },
    "ListUserGlobalActions":{
      "name":"ListUserGlobalActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserGlobalActionsRequest"},
      "output":{
        "shape":"ListUserGlobalActionsResponse",
        "resultWrapper":"ListUserGlobalActionsResult"
      }
    },
    "ListUserGlobalGroups":{
      "name":"ListUserGlobalGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserGlobalGroupsRequest"},
      "output":{
        "shape":"ListUserGlobalGroupsResponse",
        "resultWrapper":"ListUserGlobalGroupsResult"
      }
    },
    "ListUserGlobalPolicies":{
      "name":"ListUserGlobalPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserGlobalPoliciesRequest"},
      "output":{
        "shape":"ListUserGlobalPoliciesResponse",
        "resultWrapper":"ListUserGlobalPoliciesResult"
      }
    },
    "ListUserProjectActions":{
      "name":"ListUserProjectActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserProjectActionsRequest"},
      "output":{
        "shape":"ListUserProjectActionsResponse",
        "resultWrapper":"ListUserProjectActionsResult"
      }
    },
    "ListUserProjectGroups":{
      "name":"ListUserProjectGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserProjectGroupsRequest"},
      "output":{
        "shape":"ListUserProjectGroupsResponse",
        "resultWrapper":"ListUserProjectGroupsResult"
      }
    },
    "ListUserProjectPolicies":{
      "name":"ListUserProjectPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserProjectPoliciesRequest"},
      "output":{
        "shape":"ListUserProjectPoliciesResponse",
        "resultWrapper":"ListUserProjectPoliciesResult"
      }
    },
    "ListUserProjects":{
      "name":"ListUserProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserProjectsRequest"},
      "output":{
        "shape":"ListUserProjectsResponse",
        "resultWrapper":"ListUserProjectsResult"
      }
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListUsersResponse",
        "resultWrapper":"ListUsersResult"
      }
    },
    "RemoveIDProviderGroupFromGroup":{
      "name":"RemoveIDProviderGroupFromGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveIDProviderGroupFromGroupRequest"}
    },
    "RemoveIDProviderGroupFromProject":{
      "name":"RemoveIDProviderGroupFromProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveIDProviderGroupFromProjectRequest"}
    },
    "RemoveUserFromGroup":{
      "name":"RemoveUserFromGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveUserFromGroupRequest"}
    },
    "RemoveUserFromProject":{
      "name":"RemoveUserFromProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveUserFromProjectRequest"}
    },
    "UpdateIDProvider":{
      "name":"UpdateIDProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateIDProviderRequest"},
      "output":{
        "shape":"UpdateIDProviderResponse",
        "resultWrapper":"UpdateIDProviderResult"
      }
    },
    "UpdatePolicy":{
      "name":"UpdatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyRequest"},
      "output":{
        "shape":"UpdatePolicyResponse",
        "resultWrapper":"UpdatePolicyResult"
      }
    },
    "UpdateProject":{
      "name":"UpdateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProjectRequest"},
      "output":{
        "shape":"UpdateProjectResponse",
        "resultWrapper":"UpdateProjectResult"
      }
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{
        "shape":"UpdateUserResponse",
        "resultWrapper":"UpdateUserResult"
      }
    },
    "UploadServerCertificate":{
      "name":"UploadServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UploadServerCertificateRequest"},
      "output":{
        "shape":"UploadServerCertificateResponse",
        "resultWrapper":"UploadServerCertificateResult"
      }
    },
    "DeleteServerCertificate":{
      "name":"DeleteServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServerCertificateRequest"}
    },
    "ListServerCertificates":{
      "name":"ListServerCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServerCertificatesRequest"},
      "output":{
        "shape":"ListServerCertificatesResponse",
        "resultWrapper":"ListServerCertificatesResult"
      }
    }
  },
  "shapes":{
    "actionListType":{
      "type":"list",
      "member":{"shape":"stringType"}
    },
    "AddIDProviderGroupToGroupRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName",
        "GroupArn"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "GroupArn":{
          "shape":"arnType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "AddUserToGroupRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "GroupArn"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "GroupArn":{
          "shape":"arnType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "arnType":{
      "type":"string",
      "max":2048,
      "min":15
    },
    "AttachGroupPolicyRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "PolicyArn"
      ],
      "members":{
        "GroupName":{
          "shape":"groupNameType"
        },
        "PolicyArn":{
          "shape":"arnType"
        }
      }
    },
    "AttachIDProviderGroupPolicyRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName",
        "PolicyArn"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "PolicyArn":{
          "shape":"arnType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "AttachUserPolicyRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "PolicyArn"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "PolicyArn":{
          "shape":"arnType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "booleanType":{"type":"boolean"},
    "clientIdType":{
      "type":"string",
      "max": 255,
      "min":8
    },
    "CreateGroupRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "Type"
      ],
      "members":{
        "GroupName":{
          "shape":"groupNameType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "CreateGroupResponse":{
      "type":"structure",
      "members":{
        "Group":{
          "shape":"Group"
        }
      }
    },
    "CreateIDProviderRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "ClientId",
        "ClientSecret",
        "AuthUrl",
        "LogoutUrl",
        "TokenUrl"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "ClientId":{
          "shape":"clientIdType"
        },
        "ClientSecret":{
          "shape":"stringType"
        },
        "AuthUrl":{
          "shape":"stringType"
        },
        "LogoutUrl":{
          "shape":"stringType"
        },
        "TokenUrl":{
          "shape":"stringType"
        }
      }
    },
    "CreateIDProviderResponse":{
      "type":"structure",
      "members":{
        "IDProvider":{
          "shape":"IDProvider"
        }
      }
    },
    "CreateIDProviderGroupRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        }
      }
    },
    "CreateIDProviderGroupResponse":{
      "type":"structure",
      "members":{
        "IDProviderGroup":{
          "shape":"IDProviderGroup"
        }
      }
    },
    "CreatePolicyRequest":{
      "type":"structure",
      "required":[
        "PolicyName",
        "Document",
        "Type"
      ],
      "members":{
        "PolicyName":{
          "shape":"policyNameType"
        },
        "Document":{
          "shape":"policyDocumentType"
        },
        "Description":{
          "shape":"policyDescriptionType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "CreatePolicyResponse":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"Policy"
        }
      }
    },
    "CreateProjectRequest":{
      "type":"structure",
      "required":[
        "ProjectName",
        "DisplayName"
      ],
      "members":{
        "ProjectName":{
          "shape":"projectNameType"
        },
        "DisplayName":{
          "shape":"stringType"
        }
      }
    },
    "CreateProjectResponse":{
      "type":"structure",
      "members":{
        "Project":{
          "shape":"Project"
        }
      }
    },
    "CreateUserRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "DisplayName",
        "Password"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "DisplayName":{
          "shape":"stringType"
        },
        "Password":{
          "shape":"stringType"
        },
        "Email":{
          "shape":"stringType"
        },
        "OtpRequired":{
          "shape":"booleanType"
        }
      }
    },
    "CreateUserResponse":{
      "type":"structure",
      "members":{
        "User":{
          "shape":"User"
        }
      }
    },
    "dateType":{"type":"timestamp"},
    "DeleteGroupRequest":{
      "type":"structure",
      "required":["GroupName"],
      "members":{
        "GroupName":{
          "shape":"groupNameType"
        }
      }
    },
    "DeleteIDProviderRequest":{
      "type":"structure",
      "required":["IDProviderName"],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        }
      }
    },
    "DeleteIDProviderGroupRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        }
      }
    },
    "DeletePolicyRequest":{
      "type":"structure",
      "required":["PolicyName"],
      "members":{
        "PolicyName":{
          "shape":"policyNameType"
        }
      }
    },
    "DeleteProjectRequest":{
      "type":"structure",
      "required":["ProjectName"],
      "members":{
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "DeleteUserRequest":{
      "type":"structure",
      "required":["UserName"],
      "members":{
        "UserName":{
          "shape":"userNameType"
        }
      }
    },
    "DetachGroupPolicyRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "PolicyArn"
      ],
      "members":{
        "GroupName":{
          "shape":"groupNameType"
        },
        "PolicyArn":{
          "shape":"arnType"
        }
      }
    },
    "DetachIDProviderGroupPolicyRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName",
        "PolicyArn"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "PolicyArn":{
          "shape":"arnType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "DetachUserPolicyRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "PolicyArn"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "PolicyArn":{
          "shape":"arnType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "GetGroupRequest":{
      "type":"structure",
      "required":["GroupArn"],
      "members":{
        "GroupArn":{
          "shape":"arnType"
        }
      }
    },
    "GetGroupResponse":{
      "type":"structure",
      "members":{
        "Group":{
          "shape":"Group"
        },
        "Users":{
          "shape":"userListType"
        }
      }
    },
    "GetIDProviderRequest":{
      "type":"structure",
      "required":["IDProviderName"],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        }
      }
    },
    "GetIDProviderResponse":{
      "type":"structure",
      "members":{
        "IDProvider":{
          "shape":"IDProvider"
        },
        "IDProviderGroups":{
          "shape":"idProviderGroupListType"
        }
      }
    },
    "GetPolicyRequest":{
      "type":"structure",
      "required":["PolicyArn"],
      "members":{
        "PolicyArn":{
          "shape":"arnType"
        }
      }
    },
    "GetPolicyResponse":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"PolicyFullInfo"
        }
      }
    },
    "GetProjectRequest":{
      "type":"structure",
      "required":["ProjectName"],
      "members":{
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "GetProjectResponse":{
      "type":"structure",
      "members":{
        "Project":{
          "shape":"Project"
        }
      }
    },
    "GetServiceRequest":{
      "type":"structure",
      "required":["ServiceName"],
      "members":{
        "ServiceName":{
          "shape":"stringType"
        }
      }
    },
    "GetServiceResponse":{
      "type":"structure",
      "members":{
        "Service":{
          "shape":"Service"
        },
        "Actions":{
          "shape":"actionListType"
        }
      }
    },
    "GetUserRequest":{
      "type":"structure",
      "required":["UserName"],
      "members":{
        "UserName":{
          "shape":"userNameType"
        }
      }
    },
    "GetUserResponse":{
      "type":"structure",
      "members":{
        "User":{
          "shape":"User"
        }
      }
    },
    "grantsOwnerType":{
      "type":"string",
      "enum":[
        "provider",
        "self"
      ]
    },
    "grantsTypeType":{
      "type":"string",
      "enum":[
        "global",
        "project"
      ]
    },
    "Group":{
      "type":"structure",
      "members":{
        "GroupArn":{
          "shape":"arnType"
        },
        "GroupId":{
          "shape":"idType"
        },
        "GroupName":{
          "shape":"groupNameType"
        },
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        },
        "CreateDate":{
          "shape":"dateType"
        }
      }
    },
    "groupListType":{
      "type":"list",
      "member":{"shape":"Group"}
    },
    "groupNameType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+=,.@-]+"
    },
    "IDProvider":{
      "type":"structure",
      "members":{
        "IDProviderArn":{
          "shape":"arnType"
        },
        "IDProviderId":{
          "shape":"idType"
        },
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "CreateDate":{
          "shape":"dateType"
        },
        "UpdateDate":{
          "shape":"dateType"
        },
        "ClientId":{
          "shape":"clientIdType"
        },
        "AuthUrl":{
          "shape":"stringType"
        },
        "LogoutUrl":{
          "shape":"stringType"
        },
        "TokenUrl":{
          "shape":"stringType"
        },
        "LoginPage":{
          "shape":"stringType"
        }
      }
    },
    "IDProviderGroup":{
      "type":"structure",
      "members":{
        "IDProviderGroupId":{
          "shape":"idType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "CreateDate":{
          "shape":"dateType"
        }
      }
    },
    "idProviderGroupListType":{
      "type":"list",
      "member":{"shape":"IDProviderGroup"}
    },
    "idProviderGroupNameType":{
      "type":"string",
      "max": 64
    },
    "idProviderLinkType":{
      "type":"structure",
      "members":{
        "IDProviderArn":{
          "shape":"arnType"
        },
        "IDProviderId":{
          "shape":"idType"
        },
        "IDProviderName":{
          "shape":"idProviderNameType"
        }
      }
    },
    "idProviderListType":{
      "type":"list",
      "member":{"shape":"IDProvider"}
    },
    "idProviderNameType":{
      "type":"string",
      "max": 10,
      "min":4
    },
    "idType":{
      "type":"string",
      "max":128,
      "min":16,
      "pattern":"[\\w]+"
    },
    "ListGroupPoliciesRequest":{
      "type":"structure",
      "required":["GroupArn"],
      "members":{
        "GroupArn":{
          "shape":"arnType"
        }
      }
    },
    "ListGroupPoliciesResponse":{
      "type":"structure",
      "members":{
        "Policies":{
          "shape":"policyListType"
        }
      }
    },
    "ListGroupsRequest":{
      "type":"structure",
      "members":{
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "ListGroupsResponse":{
      "type":"structure",
      "members":{
        "Groups":{
          "shape":"groupListType"
        }
      }
    },
    "ListIDProviderGroupGlobalActionsRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        }
      }
    },
    "ListIDProviderGroupGlobalActionsResponse":{
      "type":"structure",
      "members":{
        "Actions":{
          "shape":"actionListType"
        }
      }
    },
    "ListIDProviderGroupGlobalGroupsRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        }
      }
    },
    "ListIDProviderGroupGlobalGroupsResponse":{
      "type":"structure",
      "members":{
        "Groups":{
          "shape":"groupListType"
        }
      }
    },
    "ListIDProviderGroupGlobalPoliciesRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        }
      }
    },
    "ListIDProviderGroupGlobalPoliciesResponse":{
      "type":"structure",
      "members":{
        "Policies":{
          "shape":"policyListType"
        }
      }
    },
    "ListIDProviderGroupProjectActionsRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName",
        "ProjectName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "ListIDProviderGroupProjectActionsResponse":{
      "type":"structure",
      "members":{
        "Actions":{
          "shape":"actionListType"
        }
      }
    },
    "ListIDProviderGroupProjectGroupsRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName",
        "ProjectName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "ListIDProviderGroupProjectGroupsResponse":{
      "type":"structure",
      "members":{
        "Groups":{
          "shape":"groupListType"
        }
      }
    },
    "ListIDProviderGroupProjectPoliciesRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName",
        "ProjectName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "ListIDProviderGroupProjectPoliciesResponse":{
      "type":"structure",
      "members":{
        "Policies":{
          "shape":"policyListType"
        }
      }
    },
    "ListIDProviderGroupProjectsRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        }
      }
    },
    "ListIDProviderGroupProjectsResponse":{
      "type":"structure",
      "members":{
        "Projects":{
          "shape":"projectListType"
        }
      }
    },
    "ListIDProvidersResponse":{
      "type":"structure",
      "members":{
        "IDProviders":{
          "shape":"idProviderListType"
        }
      }
    },
    "ListPoliciesRequest":{
      "type":"structure",
      "members":{
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "ListPoliciesResponse":{
      "type":"structure",
      "members":{
        "Policies":{
          "shape":"policyListType"
        }
      }
    },
    "ListProjectsResponse":{
      "type":"structure",
      "members":{
        "Projects":{
          "shape":"projectListType"
        }
      }
    },
    "ListProjectUsersRequest":{
      "type":"structure",
      "required":[
        "ProjectName"
      ],
      "members":{
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "ListProjectUsersResponse":{
      "type":"structure",
      "members":{
        "Users":{
          "shape":"userListType"
        }
      }
    },
    "ListServicesRequest":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "ListServicesResponse":{
      "type":"structure",
      "members":{
        "Services":{
          "shape":"serviceListType"
        }
      }
    },
    "ListUserProjectsRequest":{
      "type":"structure",
      "required":[
        "UserName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        }
      }
    },
    "ListUserProjectsResponse":{
      "type":"structure",
      "members":{
        "Projects":{
          "shape":"projectListType"
        }
      }
    },
    "ListUserGlobalGroupsRequest":{
      "type":"structure",
      "required":[
        "UserName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        }
      }
    },
    "ListUserGlobalGroupsResponse":{
      "type":"structure",
      "members":{
        "Groups":{
          "shape":"groupListType"
        }
      }
    },
    "ListUserGlobalActionsRequest":{
      "type":"structure",
      "required":[
        "UserName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        }
      }
    },
    "ListUserGlobalActionsResponse":{
      "type":"structure",
      "members":{
        "Actions":{
          "shape":"actionListType"
        }
      }
    },
    "ListUserGlobalPoliciesRequest":{
      "type":"structure",
      "required":[
        "UserName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        }
      }
    },
    "ListUserGlobalPoliciesResponse":{
      "type":"structure",
      "members":{
        "Policies":{
          "shape":"policyListType"
        }
      }
    },
    "ListUserProjectActionsRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "ProjectName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "ListUserProjectActionsResponse":{
      "type":"structure",
      "members":{
        "Actions":{
          "shape":"actionListType"
        }
      }
    },
    "ListUserProjectGroupsRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "ProjectName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "ListUserProjectGroupsResponse":{
      "type":"structure",
      "members":{
        "Groups":{
          "shape":"groupListType"
        }
      }
    },
    "ListUserProjectPoliciesRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "ProjectName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "ListUserProjectPoliciesResponse":{
      "type":"structure",
      "members":{
        "Policies":{
          "shape":"policyListType"
        }
      }
    },
    "ListUsersResponse":{
      "type":"structure",
      "members":{
        "Users":{
          "shape":"userListType"
        }
      }
    },
    "Policy":{
      "type":"structure",
      "members":{
        "PolicyArn":{
          "shape":"arnType"
        },
        "PolicyId":{
          "shape":"idType"
        },
        "PolicyName":{
          "shape":"policyNameType"
        },
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        },
        "Description":{
          "shape":"policyDescriptionType"
        },
        "CreateDate":{
          "shape":"dateType"
        },
        "UpdateDate":{
          "shape":"dateType"
        }
      }
    },
    "PolicyFullInfo":{
      "type":"structure",
      "members":{
        "PolicyArn":{
          "shape":"arnType"
        },
        "PolicyId":{
          "shape":"idType"
        },
        "PolicyName":{
          "shape":"policyNameType"
        },
        "Owner":{
          "shape":"grantsOwnerType"
        },
        "Type":{
          "shape":"grantsTypeType"
        },
        "Description":{
          "shape":"policyDescriptionType"
        },
        "CreateDate":{
          "shape":"dateType"
        },
        "UpdateDate":{
          "shape":"dateType"
        },
        "Document":{
          "shape":"policyDocumentType"
        }
      }
    },
    "policyDescriptionType":{
      "type":"string",
      "max":1000
    },
    "policyDocumentType":{
      "type":"string"
    },
    "policyListType":{
      "type":"list",
      "member":{"shape":"Policy"}
    },
    "policyNameType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+=,.@-]+"
    },
    "Project":{
      "type":"structure",
      "members":{
        "ProjectArn":{
          "shape":"arnType"
        },
        "ProjectId":{
          "shape":"idType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        },
        "State":{
          "shape":"projectStateType"
        },
        "DisplayName":{
          "shape":"stringType"
        },
        "CreateDate":{
          "shape":"dateType"
        },
        "S3Email":{
          "shape":"stringType"
        }
      }
    },
    "projectLinksListType":{
      "type":"list",
      "member":{"shape":"projectLinkType"}
    },
    "projectLinkType":{
      "type":"structure",
      "members":{
        "ProjectArn":{
          "shape":"arnType"
        },
        "ProjectId":{
          "shape":"idType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "projectListType":{
      "type":"list",
      "member":{"shape":"Project"}
    },
    "projectNameType":{
      "type":"string",
      "max":40,
      "min":1,
      "pattern":"^[a-zA-Z][a-zA-Z0-9_.-]*$"
    },
    "projectStateType":{
      "type":"string",
      "enum":[
        "available",
        "blocked",
        "deleted"
      ]
    },
    "RemoveIDProviderGroupFromGroupRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName",
        "GroupArn"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "GroupArn":{
          "shape":"arnType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "RemoveIDProviderGroupFromProjectRequest":{
      "type":"structure",
      "required":[
        "IDProviderName",
        "IDProviderGroupName",
        "ProjectName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "IDProviderGroupName":{
          "shape":"idProviderGroupNameType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "RemoveUserFromGroupRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "GroupArn"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "GroupArn":{
          "shape":"arnType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "RemoveUserFromProjectRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "ProjectName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "ProjectName":{
          "shape":"projectNameType"
        }
      }
    },
    "Service":{
      "type":"structure",
      "members":{
        "ServiceName":{
          "shape":"stringType"
        },
        "Type":{
          "shape":"grantsTypeType"
        }
      }
    },
    "serviceListType":{
      "type":"list",
      "member":{"shape":"Service"}
    },
    "stringType":{"type":"string"},
    "UpdateIDProviderRequest":{
      "type":"structure",
      "required":[
        "IDProviderName"
      ],
      "members":{
        "IDProviderName":{
          "shape":"idProviderNameType"
        },
        "ClientId":{
          "shape":"clientIdType"
        },
        "ClientSecret":{
          "shape":"stringType"
        },
        "AuthUrl":{
          "shape":"stringType"
        },
        "LogoutUrl":{
          "shape":"stringType"
        },
        "TokenUrl":{
          "shape":"stringType"
        }
      }
    },
    "UpdateIDProviderResponse":{
      "type":"structure",
      "members":{
        "IDProvider":{
          "shape":"IDProvider"
        }
      }
    },
    "UpdatePolicyRequest":{
      "type":"structure",
      "required":[
        "PolicyName"
      ],
      "members":{
        "PolicyName":{
          "shape":"policyNameType"
        },
        "Document":{
          "shape":"policyDocumentType"
        },
        "Description":{
          "shape":"policyDescriptionType"
        }
      }
    },
    "UpdatePolicyResponse":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"Policy"
        }
      }
    },
    "UpdateProjectRequest":{
      "type":"structure",
      "required":[
        "ProjectName"
      ],
      "members":{
        "ProjectName":{
          "shape":"projectNameType"
        },
        "DisplayName":{
          "shape":"stringType"
        }
      }
    },
    "UpdateProjectResponse":{
      "type":"structure",
      "members":{
        "Project":{
          "shape":"Project"
        }
      }
    },
    "UpdateUserRequest":{
      "type":"structure",
      "required":[
        "UserName"
      ],
      "members":{
        "UserName":{
          "shape":"userNameType"
        },
        "DisplayName":{
          "shape":"stringType"
        },
        "Enabled":{
          "shape":"booleanType"
        },
        "Email":{
          "shape":"stringType"
        },
        "Phone":{
          "shape":"stringType"
        },
        "Password":{
          "shape":"stringType"
        },
        "OtpRequired":{
          "shape":"booleanType"
        },
        "DisableOtp":{
          "shape":"booleanType"
        }
      }
    },
    "UpdateUserResponse":{
      "type":"structure",
      "members":{
        "User":{
          "shape":"User"
        }
      }
    },
    "User":{
      "type":"structure",
      "members":{
        "UserArn":{
          "shape":"arnType"
        },
        "UserId":{
          "shape":"idType"
        },
        "UserName":{
          "shape":"userNameType"
        },
        "Login":{
          "shape":"stringType"
        },
        "DisplayName":{
          "shape":"stringType"
        },
        "Enabled":{
          "shape":"booleanType"
        },
        "UpdateDate":{
          "shape":"dateType"
        },
        "LastLoginDate":{
          "shape":"dateType"
        },
        "IDProvider":{
          "shape":"idProviderLinkType"
        },
        "Projects":{
          "shape":"projectLinksListType"
        },
        "SecretKey":{
          "shape":"stringType"
        },
        "Email":{
          "shape":"stringType"
        },
        "Phone":{
          "shape":"stringType"
        },
        "OtpRequired":{
          "shape":"booleanType"
        }
      }
    },
    "userListType":{
      "type":"list",
      "member":{"shape":"User"}
    },
    "userNameType":{
      "type":"string",
      "max":40,
      "min":1,
      "pattern":"^[a-zA-Z][a-zA-Z0-9_.-]*$"
    },
    "UploadServerCertificateRequest":{
      "type":"structure",
      "required":[
        "ServerCertificateName",
        "CertificateBody",
        "PrivateKey"
      ],
      "members":{
        "ServerCertificateName":{
          "shape":"serverCertificateNameType"
        },
        "CertificateBody":{
          "shape":"certificateBodyType"
        },
        "PrivateKey":{
          "shape":"privateKeyType"
        },
        "CertificateChain":{
          "shape":"certificateChainType"
        }
      }
    },
    "UploadServerCertificateResponse":{
      "type":"structure",
      "members":{
        "ServerCertificateMetadata":{
          "shape":"ServerCertificateMetadata"
        }
      }
    },
    "serverCertificateNameType":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+=,.@-]+"
    },
    "certificateBodyType":{
      "type":"string",
      "max":16384,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "privateKeyType":{
      "type":"string",
      "max":16384,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
      "sensitive":true
    },
    "certificateChainType":{
      "type":"string",
      "max":2097152,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+"
    },
    "ServerCertificateMetadata":{
      "type":"structure",
      "required":[
        "ServerCertificateName",
        "ServerCertificateId",
        "Arn"
      ],
      "members":{
        "ServerCertificateName":{
          "shape":"serverCertificateNameType",
          "documentation":"<p>The name that identifies the server certificate.</p>"
        },
        "ServerCertificateId":{
          "shape":"idType"
        },
        "Arn":{
          "shape":"arnType"
        },
        "UploadDate":{
          "shape":"dateType"
        },
        "Expiration":{
          "shape":"dateType"
        }
      }
    },
    "DeleteServerCertificateRequest":{
      "type":"structure",
      "required":["ServerCertificateName"],
      "members":{
        "ServerCertificateName":{
          "shape":"serverCertificateNameType"
        }
      }
    },
    "ListServerCertificatesRequest":{
      "type":"structure",
      "members":{}
    },
    "ListServerCertificatesResponse":{
      "type":"structure",
      "required":["ServerCertificateMetadataList"],
      "members":{
        "ServerCertificateMetadataList":{
          "shape":"serverCertificateMetadataListType"
        }
      }
    },
    "serverCertificateMetadataListType":{
      "type":"list",
      "member":{"shape":"ServerCertificateMetadata"}
    }
  },
  "documentation":"Identity and Access Management"
}
