{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-11-01",
    "endpointPrefix":"eks",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Amazon EKS",
    "serviceFullName":"Amazon Elastic Kubernetes Service",
    "serviceId":"EKS",
    "signatureVersion":"v4",
    "signingName":"eks-legacy",
    "uid":"eks-legacy-2017-11-01"
  },
  "operations":{
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/clusters"
      },
      "input":{"shape":"CreateClusterRequest"},
      "output":{"shape":"CreateClusterResponse"},
      "documentation":"<p>Creates Kubernetes cluster.</p>"
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}"
      },
      "input":{"shape":"DeleteClusterRequest"},
      "output":{"shape":"DeleteClusterResponse"},
      "documentation":"<p>Deletes Kubernetes cluster.</p>"
    },
    "DeleteWorker":{
      "name":"DeleteWorker",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/delete_worker"
      },
      "input":{"shape":"DeleteWorkerRequest"},
      "output":{"shape":"DeleteWorkerResponse"},
      "documentation":"<p>Delete Kubernetes worker.</p>"
    },
    "DescribeCluster":{
      "name":"DescribeCluster",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}"
      },
      "input":{"shape":"DescribeClusterRequest"},
      "output":{"shape":"DescribeClusterResponse"},
      "documentation":"<p>Returns descriptive information about Kubernetes cluster.</p>"
    },
    "GetClusterKubeconfig":{
      "name":"GetClusterKubeconfig",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/kubeconfig"
      },
      "input":{"shape":"GetClusterKubeconfigRequest"},
      "output":{"shape":"GetClusterKubeconfigResponse"},
      "documentation":"<p>Returns Kubernetes cluster configuration.</p>"
    },
    "ListClusters":{
      "name":"ListClusters",
      "http":{
        "method":"GET",
        "requestUri":"/clusters"
      },
      "input":{"shape":"ListClustersRequest"},
      "output":{"shape":"ListClustersResponse"},
      "documentation":"<p>Lists Kubernetes clusters.</p>"
    },
    "ResizeCluster":{
      "name":"ResizeCluster",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/resize"
      },
      "input":{"shape":"ResizeClusterRequest"},
      "output":{"shape":"ResizeClusterResponse"},
      "documentation":"<p>Resizes Kubernetes clusters.</p>"
    },
    "ModifyCertAutoUpdate":{
      "name":"ModifyCertAutoUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/modify_auto_update_certificates"
      },
      "input":{"shape":"ModifyCertAutoUpdateRequest"},
      "output":{"shape":"ModifyCertAutoUpdateResponse"},
      "documentation":"<p>Toggle certificate autoupdate.</p>"
    },
    "ModifySecurityGroups":{
      "name":"ModifySecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/modify_security_groups"
      },
      "input":{"shape":"ModifySecurityGroupsRequest"},
      "output":{"shape":"ModifySecurityGroupsResponse"},
      "documentation":"<p>Modify Kubernetes clusters.</p>"
    },
    "ModifyUserData": {
      "name": "ModifyUserData",
      "http": {
        "method": "POST",
        "requestUri": "/clusters/{name}/modify_user_data"
      },
      "input": {"shape": "ModifyUserDataRequest"},
      "output": {"shape": "ModifyUserDataResponse"},
      "documentation": "<p>Modify Kubernetes clusters.</p>"
    },
    "ModifyWorkersInstanceType": {
      "name": "ModifyWorkersInstanceType",
      "http": {
        "method": "POST",
        "requestUri": "/clusters/{name}/modify_workers_instance_type"
      },
      "input": {
        "shape": "ModifyWorkersInstanceTypeRequest"
      },
      "output": {
        "shape": "ModifyWorkersInstanceTypeResponse"
      },
      "documentation": "<p>Modify Kubernetes clusters.</p>"
    }
  },
  "shapes":{
    "AMITypes":{
      "type":"string",
      "enum":[
        "AL2_x86_64",
        "AL2_x86_64_GPU",
        "AL2_ARM_64"
      ]
    },
    "Addon":{
      "type":"structure",
      "members":{
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on.</p>"
        },
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster.</p>"
        },
        "status":{
          "shape":"AddonStatus",
          "documentation":"<p>The status of the add-on.</p>"
        },
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on.</p>"
        },
        "health":{
          "shape":"AddonHealth",
          "documentation":"<p>An object that represents the health of the add-on.</p>"
        },
        "addonArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the add-on.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the add-on was created.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the add-on was last modified.</p>"
        },
        "serviceAccountRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that is bound to the Kubernetes service account used by the add-on.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata that you apply to the cluster to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Cluster tags do not propagate to any other resources associated with the cluster. </p>"
        }
      },
      "documentation":"<p>An Amazon EKS add-on.</p>"
    },
    "AddonHealth":{
      "type":"structure",
      "members":{
        "issues":{
          "shape":"AddonIssueList",
          "documentation":"<p>An object that represents the add-on's health issues.</p>"
        }
      },
      "documentation":"<p>The health of the add-on.</p>"
    },
    "AddonInfo":{
      "type":"structure",
      "members":{
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The type of the add-on.</p>"
        },
        "addonVersions":{
          "shape":"AddonVersionInfoList",
          "documentation":"<p>An object that represents information about available add-on versions and compatible Kubernetes versions.</p>"
        }
      },
      "documentation":"<p>Information about an add-on.</p>"
    },
    "AddonIssue":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"AddonIssueCode",
          "documentation":"<p>A code that describes the type of issue.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A message that provides details about the issue and what might cause it.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>The resource IDs of the issue.</p>"
        }
      },
      "documentation":"<p>An issue related to an add-on.</p>"
    },
    "AddonIssueCode":{
      "type":"string",
      "enum":[
        "AccessDenied",
        "InternalFailure",
        "ClusterUnreachable",
        "InsufficientNumberOfReplicas",
        "ConfigurationConflict"
      ]
    },
    "AddonIssueList":{
      "type":"list",
      "member":{"shape":"AddonIssue"}
    },
    "AddonStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "CREATE_FAILED",
        "UPDATING",
        "DELETING",
        "DELETE_FAILED",
        "DEGRADED"
      ]
    },
    "AddonVersionInfo":{
      "type":"structure",
      "members":{
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on.</p>"
        },
        "architecture":{
          "shape":"StringList",
          "documentation":"<p>The architectures that the version supports.</p>"
        },
        "compatibilities":{
          "shape":"Compatibilities",
          "documentation":"<p>An object that represents the compatibilities of a version.</p>"
        }
      },
      "documentation":"<p>Information about an add-on version.</p>"
    },
    "AddonVersionInfoList":{
      "type":"list",
      "member":{"shape":"AddonVersionInfo"}
    },
    "Addons":{
      "type":"list",
      "member":{"shape":"AddonInfo"}
    },
    "AssociateIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "oidc"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to associate the configuration to.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "oidc":{
          "shape":"OidcIdentityProviderConfigRequest",
          "documentation":"<p>An object that represents an OpenID Connect (OIDC) identity provider configuration.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the configuration to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "AssociateIdentityProviderConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"},
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags for the resource.</p>"
        }
      }
    },
    "AutoScalingGroup":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Auto Scaling group associated with an Amazon EKS managed node group.</p>"
        }
      },
      "documentation":"<p>An Auto Scaling group that is associated with an Amazon EKS managed node group.</p>"
    },
    "AutoScalingGroupList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>This exception is thrown if the request contains a semantic error. The precise meaning will depend on the API, and will be documented in the error message.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "BoxedBoolean":{
      "type":"boolean",
      "box":true
    },
    "BoxedInteger":{
      "type":"integer",
      "box":true
    },
    "Capacity":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CapacityTypes":{
      "type":"string",
      "enum":[
        "ON_DEMAND",
        "SPOT"
      ]
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "data":{
          "shape":"String",
          "documentation":"<p>The Base64-encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>"
        }
      },
      "documentation":"<p>An object representing the <code>certificate-authority-data</code> for your cluster.</p>"
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "id":{"shape":"String"},
        "Name":{"shape":"String"},
        "Version":{"shape":"String"},
        "HighAvailability":{"shape":"Boolean"},
        "WorkersQuantity":{"shape":"Integer"},
        "MastersInstanceType":{"shape":"String"},
        "WorkersInstanceType":{"shape":"String"},
        "MastersVolumeType":{"shape":"String"},
        "WorkersVolumeType":{"shape":"String"},
        "MastersVolumeSize":{"shape":"Integer"},
        "WorkersVolumeSize":{"shape":"Integer"},
        "MastersVolumeIops":{"shape":"String"},
        "WorkersVolumeIops":{"shape":"String"},
        "IngressInstanceType":{"shape":"String"},
        "IngressVolumeType":{"shape":"String"},
        "IngressVolumeSize":{"shape":"Integer"},
        "IngressVolumeIops":{"shape":"String"},
        "SecurityGroupIds":{"shape":"StringList"},
        "Instances":{"shape":"InstanceList"},
        "SubnetIds":{"shape":"StringList"},
        "SshKeyName":{"shape":"String"},
        "Status":{"shape":"ClusterStatus"},
        "Health":{"shape":"String"},
        "DashboardToken":{"shape":"String"},
        "DockerRegistry":{"shape":"String"},
        "Ingress":{"shape":"Ingress"},
        "ApiServer":{"shape":"ApiServer"},
        "ErrorCode":{"shape":"String"},
        "ErrorDescription":{"shape":"String"},
        "UsePlacementGroups":{"shape":"Boolean"},
        "UserData":{"shape":"String"},
        "UserDataContentType":{"shape":"String"},
        "HasNewWarnings":{"shape":"Boolean"},
        "TotalCPUCount":{"shape":"Integer"},
        "TotalMemory":{"shape":"Float"},
        "EbsUser":{"shape":"String"},
        "NlbUser":{"shape":"String"},
        "PodSubnetCidr":{"shape":"String"},
        "ServiceSubnetCidr":{"shape":"String"},
        "AutoUpdateCertificates":{"shape":"Boolean"},
        "SupportedFeatures":{"shape":"StringList"}
      }
    },
    "ClusterList": {
      "type":"list",
      "member":{"shape":"Cluster"}
    },
    "ApiServer":{
      "type":"structure",
      "members":{
        "PublicIp":{
          "shape":"String"
        },
        "PrivateIp":{
          "shape":"String"
        },
        "PrivateIps":{
          "shape":"StringList"
        }
      }
    },
    "ClusterName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[0-9A-Za-z][A-Za-z0-9\\-_]*"
    },
    "ClusterStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING"
      ]
    },
    "Float":{"type":"float"},
    "Ingress":{
      "type":"structure",
      "members":{
        "PublicIp":{
          "shape":"String"
        },
        "PrivateIp":{
          "shape":"String"
        }
      }
    },
    "InstanceList":{
      "type":"list",
      "member":{"shape":"Instance"}
    },
    "Instance":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"String"
        },
        "PrivateIp":{
          "shape":"String"
        },
        "PublicIp":{
          "shape":"String"
        },
        "InterfaceId":{
          "shape":"String"
        },
        "Role":{
          "shape":"String"
        },
        "SchedulingDisabled":{
          "shape":"Boolean"
        },
        "Status":{
          "shape":"String"
        },
        "Type": {
          "shape": "InstanceType"
        },
        "Ghost": {
          "shape": "Boolean"
        },
        "Name": {
          "shape":"String"
        },
        "PendingForTermination": {
          "shape": "Boolean"
        }
      }
    },
    "InstanceType":{
      "type": "structure",
      "members":{
        "ccus":{"shape":"String"},
        "cpu":{"shape":"Integer"},
        "memory":{"shape":"Float"},
        "name":{"shape":"String"}
      }
    },
    "Compatibilities":{
      "type":"list",
      "member":{"shape":"Compatibility"}
    },
    "Compatibility":{
      "type":"structure",
      "members":{
        "clusterVersion":{
          "shape":"String",
          "documentation":"<p>The supported Kubernetes version of the cluster.</p>"
        },
        "platformVersions":{
          "shape":"StringList",
          "documentation":"<p>The supported compute platform.</p>"
        },
        "defaultVersion":{
          "shape":"Boolean",
          "documentation":"<p>The supported default version.</p>"
        }
      },
      "documentation":"<p>Compatibility information.</p>"
    },
    "CreateAddonRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "addonName"
      ],
      "members":{
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster to create the add-on for.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>"
        },
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on. The version must match one of the versions returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonVersions.html\"> <code>DescribeAddonVersions</code> </a>.</p>"
        },
        "serviceAccountRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an existing IAM role to bind to the add-on's service account. The role must be assigned the IAM permissions required by the add-on. If you don't specify an existing IAM role, then the add-on uses the permissions assigned to the node IAM role. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/create-node-role.html\">Amazon EKS node IAM role</a> in the <i>Amazon EKS User Guide</i>.</p> <note> <p>To specify an existing IAM role, you must have an IAM OpenID Connect (OIDC) provider created for your cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html\">Enabling IAM roles for service accounts on your cluster</a> in the <i>Amazon EKS User Guide</i>.</p> </note>"
        },
        "resolveConflicts":{
          "shape":"ResolveConflicts",
          "documentation":"<p>How to resolve parameter value conflicts when migrating an existing add-on to an Amazon EKS add-on.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the cluster to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. </p>"
        }
      }
    },
    "CreateAddonResponse":{
      "type":"structure",
      "members":{
        "addon":{"shape":"Addon"}
      }
    },
    "CreateClusterRequest":{
      "type":"structure",
      "required":[
        "name",
        "version",
        "high_availability",
        "workers_quantity",
        "masters_instance_type",
        "workers_instance_type",
        "masters_volume_type",
        "workers_volume_type",
        "masters_volume_size",
        "workers_volume_size",
        "subnet_ids"
      ],
      "members":{
        "name":{"shape":"String"},
        "version":{"shape":"String"},
        "high_availability":{"shape":"Boolean"},
        "workers_quantity":{"shape":"Integer"},
        "masters_instance_type":{"shape":"String"},
        "workers_instance_type":{"shape":"String"},
        "masters_volume_type":{"shape":"String"},
        "workers_volume_type":{"shape":"String"},
        "masters_volume_size":{"shape":"Integer"},
        "workers_volume_size":{"shape":"Integer"},
        "subnet_ids":{"shape":"StringList"},
        "masters_volume_iops":{"shape":"Integer"},
        "workers_volume_iops":{"shape":"Integer"},
        "master_public_ip":{"shape":"String"},
        "security_group_ids":{"shape":"StringList"},
        "ssh_key_name":{"shape":"String"},
        "docker_registry_required":{"shape":"Boolean"},
        "docker_registry_volume_type":{"shape":"String"},
        "docker_registry_volume_size":{"shape":"Integer"},
        "docker_registry_volume_iops":{"shape":"Integer"},
        "ingress_required":{"shape":"Boolean"},
        "ingress_public_ip":{"shape":"String"},
        "ingress_instance_type":{"shape":"String"},
        "ingress_volume_type":{"shape":"String"},
        "ingress_volume_size":{"shape":"Integer"},
        "ingress_volume_iops":{"shape":"Integer"},
        "ebs_provider_required":{"shape":"Boolean"},
        "ebs_user":{"shape":"String"},
        "nlb_provider_required":{"shape":"Boolean"},
        "nlb_user":{"shape":"String"},
        "use_placement_groups":{"shape":"Boolean"},
        "user_data":{"shape":"String"},
        "user_data_content_type":{"shape":"String"},
        "pod_subnet_cidr":{"shape":"String"},
        "service_subnet_cidr":{"shape":"String"},
        "auto_update_certificates":{"shape":"Boolean"}
      }
    },
    "CreateClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your new cluster.</p>"
        }
      }
    },
    "CreateFargateProfileRequest":{
      "type":"structure",
      "required":[
        "fargateProfileName",
        "clusterName",
        "podExecutionRoleArn"
      ],
      "members":{
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the Fargate profile.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster to apply the Fargate profile to.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "podExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the pod execution role to use for pods that match the selectors in the Fargate profile. The pod execution role allows Fargate infrastructure to register with your cluster as a node, and it provides read access to Amazon ECR image repositories. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/pod-execution-role.html\">Pod Execution Role</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The IDs of subnets to launch your pods into. At this time, pods running on Fargate are not assigned public IP addresses, so only private subnets (with no direct route to an Internet Gateway) are accepted for this parameter.</p>"
        },
        "selectors":{
          "shape":"FargateProfileSelectors",
          "documentation":"<p>The selectors to match for pods to use this Fargate profile. Each selector must have an associated namespace. Optionally, you can also specify labels for a namespace. You may specify up to five selectors in a Fargate profile.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the Fargate profile to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Fargate profile tags do not propagate to any other resources associated with the Fargate profile, such as the pods that are scheduled with it.</p>"
        }
      }
    },
    "CreateFargateProfileResponse":{
      "type":"structure",
      "members":{
        "fargateProfile":{
          "shape":"FargateProfile",
          "documentation":"<p>The full description of your new Fargate profile.</p>"
        }
      }
    },
    "CreateNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName",
        "subnets",
        "nodeRole"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to create the node group in.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The unique name to give your node group.</p>"
        },
        "scalingConfig":{
          "shape":"NodegroupScalingConfig",
          "documentation":"<p>The scaling configuration details for the Auto Scaling group that is created for your node group.</p>"
        },
        "diskSize":{
          "shape":"BoxedInteger",
          "documentation":"<p>The root device disk size (in GiB) for your node group instances. The default disk size is 20 GiB. If you specify <code>launchTemplate</code>, then don't specify <code>diskSize</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The subnets to use for the Auto Scaling group that is created for your node group. These subnets must have the tag key <code>kubernetes.io/cluster/CLUSTER_NAME</code> with a value of <code>shared</code>, where <code>CLUSTER_NAME</code> is replaced with the name of your cluster. If you specify <code>launchTemplate</code>, then don't specify <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateNetworkInterface.html\"> <code>SubnetId</code> </a> in your launch template, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        },
        "instanceTypes":{
          "shape":"StringList",
          "documentation":"<p>Specify the instance types for a node group. If you specify a GPU instance type, be sure to specify <code>AL2_x86_64_GPU</code> with the <code>amiType</code> parameter. If you specify <code>launchTemplate</code>, then you can specify zero or one instance type in your launch template <i>or</i> you can specify 0-20 instance types for <code>instanceTypes</code>. If however, you specify an instance type in your launch template <i>and</i> specify any <code>instanceTypes</code>, the node group deployment will fail. If you don't specify an instance type in a launch template or for <code>instanceTypes</code>, then <code>t3.medium</code> is used, by default. If you specify <code>Spot</code> for <code>capacityType</code>, then we recommend specifying multiple values for <code>instanceTypes</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html#managed-node-group-capacity-types\">Managed node group capacity types</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "amiType":{
          "shape":"AMITypes",
          "documentation":"<p>The AMI type for your node group. GPU instance types should use the <code>AL2_x86_64_GPU</code> AMI type. Non-GPU instances should use the <code>AL2_x86_64</code> AMI type. Arm instances should use the <code>AL2_ARM_64</code> AMI type. All types use the Amazon EKS optimized Amazon Linux 2 AMI. If you specify <code>launchTemplate</code>, and your launch template uses a custom AMI, then don't specify <code>amiType</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        },
        "remoteAccess":{
          "shape":"RemoteAccessConfig",
          "documentation":"<p>The remote access (SSH) configuration to use with your node group. If you specify <code>launchTemplate</code>, then don't specify <code>remoteAccess</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        },
        "nodeRole":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to associate with your node group. The Amazon EKS worker node <code>kubelet</code> daemon makes calls to AWS APIs on your behalf. Nodes receive permissions for these API calls through an IAM instance profile and associated policies. Before you can launch nodes and register them into a cluster, you must create an IAM role for those nodes to use when they are launched. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/worker_node_IAM_role.html\">Amazon EKS node IAM role</a> in the <i> <i>Amazon EKS User Guide</i> </i>. If you specify <code>launchTemplate</code>, then don't specify <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_IamInstanceProfile.html\"> <code>IamInstanceProfile</code> </a> in your launch template, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        },
        "labels":{
          "shape":"labelsMap",
          "documentation":"<p>The Kubernetes labels to be applied to the nodes in the node group when they are created.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the node group to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Node group tags do not propagate to any other resources associated with the node group, such as the Amazon EC2 instances or subnets.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "launchTemplate":{
          "shape":"LaunchTemplateSpecification",
          "documentation":"<p>An object representing a node group's launch template specification. If specified, then do not specify <code>instanceTypes</code>, <code>diskSize</code>, or <code>remoteAccess</code> and make sure that the launch template meets the requirements in <code>launchTemplateSpecification</code>.</p>"
        },
        "capacityType":{
          "shape":"CapacityTypes",
          "documentation":"<p>The capacity type for your node group.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The Kubernetes version to use for your managed nodes. By default, the Kubernetes version of the cluster is used, and this is the only accepted specified value. If you specify <code>launchTemplate</code>, and your launch template uses a custom AMI, then don't specify <code>version</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        },
        "releaseVersion":{
          "shape":"String",
          "documentation":"<p>The AMI version of the Amazon EKS optimized AMI to use with your node group. By default, the latest available AMI version for the node group's current Kubernetes version is used. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-linux-ami-versions.html\">Amazon EKS optimized Amazon Linux 2 AMI versions</a> in the <i>Amazon EKS User Guide</i>. If you specify <code>launchTemplate</code>, and your launch template uses a custom AMI, then don't specify <code>releaseVersion</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        }
      }
    },
    "CreateNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your new node group.</p>"
        }
      }
    },
    "DeleteAddonRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "addonName"
      ],
      "members":{
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster to delete the add-on from.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>",
          "location":"uri",
          "locationName":"addonName"
        }
      }
    },
    "DeleteAddonResponse":{
      "type":"structure",
      "members":{
        "addon":{"shape":"Addon"}
      }
    },
    "DeleteClusterRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to delete.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of the cluster to delete.</p>"
        }
      }
    },
    "DeleteWorkerRequest":{
      "type":"structure",
      "required":["name", "instance_id"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "instance_id":{
          "shape":"String",
          "documentation":"<p>The id of the instance to delete.</p>"
        }
      }
    },
    "DeleteWorkerResponse":{
      "type":"structure",
      "members":{
        "instance":{
          "shape":"Instance",
          "documentation":"<p>The full description of the deleted worker node.</p>"
        }
      }
    },
    "DeleteFargateProfileRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "fargateProfileName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the Fargate profile to delete.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the Fargate profile to delete.</p>",
          "location":"uri",
          "locationName":"fargateProfileName"
        }
      }
    },
    "DeleteFargateProfileResponse":{
      "type":"structure",
      "members":{
        "fargateProfile":{
          "shape":"FargateProfile",
          "documentation":"<p>The deleted Fargate profile.</p>"
        }
      }
    },
    "DeleteNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that is associated with your node group.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the node group to delete.</p>",
          "location":"uri",
          "locationName":"nodegroupName"
        }
      }
    },
    "DeleteNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your deleted node group.</p>"
        }
      }
    },
    "DescribeAddonRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "addonName"
      ],
      "members":{
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>",
          "location":"uri",
          "locationName":"addonName"
        }
      }
    },
    "DescribeAddonResponse":{
      "type":"structure",
      "members":{
        "addon":{"shape":"Addon"}
      }
    },
    "DescribeAddonVersionsRequest":{
      "type":"structure",
      "members":{
        "kubernetesVersion":{
          "shape":"String",
          "documentation":"<p>The Kubernetes versions that the add-on can be used with.</p>",
          "location":"querystring",
          "locationName":"kubernetesVersion"
        },
        "maxResults":{
          "shape":"DescribeAddonVersionsRequestMaxResults",
          "documentation":"<p>The maximum number of results to return.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeAddonVersionsRequest</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p> <note> <p>This token should be treated as an opaque identifier that is used only to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>",
          "location":"querystring",
          "locationName":"addonName"
        }
      }
    },
    "DescribeAddonVersionsRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "DescribeAddonVersionsResponse":{
      "type":"structure",
      "members":{
        "addons":{
          "shape":"Addons",
          "documentation":"<p>The list of available versions with Kubernetes version compatibility.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeAddonVersionsResponse</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p> <note> <p>This token should be treated as an opaque identifier that is used only to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        }
      }
    },
    "DescribeClusterRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to describe.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DescribeClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your specified cluster.</p>"
        }
      }
    },
    "DescribeFargateProfileRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "fargateProfileName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the Fargate profile.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the Fargate profile to describe.</p>",
          "location":"uri",
          "locationName":"fargateProfileName"
        }
      }
    },
    "DescribeFargateProfileResponse":{
      "type":"structure",
      "members":{
        "fargateProfile":{
          "shape":"FargateProfile",
          "documentation":"<p>The full description of your Fargate profile.</p>"
        }
      }
    },
    "DescribeIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "identityProviderConfig"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The cluster name that the identity provider configuration is associated to.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "identityProviderConfig":{
          "shape":"IdentityProviderConfig",
          "documentation":"<p>An object that represents an identity provider configuration.</p>"
        }
      }
    },
    "DescribeIdentityProviderConfigResponse":{
      "type":"structure",
      "members":{
        "identityProviderConfig":{
          "shape":"IdentityProviderConfigResponse",
          "documentation":"<p>The object that represents an OpenID Connect (OIDC) identity provider configuration.</p>"
        }
      }
    },
    "DescribeNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the node group.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the node group to describe.</p>",
          "location":"uri",
          "locationName":"nodegroupName"
        }
      }
    },
    "DescribeNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your node group.</p>"
        }
      }
    },
    "DescribeUpdateRequest":{
      "type":"structure",
      "required":[
        "name",
        "updateId"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the update.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "updateId":{
          "shape":"String",
          "documentation":"<p>The ID of the update to describe.</p>",
          "location":"uri",
          "locationName":"updateId"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS node group associated with the update.</p>",
          "location":"querystring",
          "locationName":"nodegroupName"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>",
          "location":"querystring",
          "locationName":"addonName"
        }
      }
    },
    "DescribeUpdateResponse":{
      "type":"structure",
      "members":{
        "update":{
          "shape":"Update",
          "documentation":"<p>The full description of the specified update.</p>"
        }
      }
    },
    "DisassociateIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "identityProviderConfig"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to disassociate an identity provider from.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "identityProviderConfig":{
          "shape":"IdentityProviderConfig",
          "documentation":"<p>An object that represents an identity provider configuration.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "DisassociateIdentityProviderConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"}
      }
    },
    "EncryptionConfig":{
      "type":"structure",
      "members":{
        "resources":{
          "shape":"StringList",
          "documentation":"<p>Specifies the resources to be encrypted. The only supported value is \"secrets\".</p>"
        },
        "provider":{
          "shape":"Provider",
          "documentation":"<p>AWS Key Management Service (AWS KMS) customer master key (CMK). Either the ARN or the alias can be used.</p>"
        }
      },
      "documentation":"<p>The encryption configuration for the cluster.</p>"
    },
    "EncryptionConfigList":{
      "type":"list",
      "member":{"shape":"EncryptionConfig"},
      "max":1
    },
    "ErrorCode":{
      "type":"string",
      "enum":[
        "SubnetNotFound",
        "SecurityGroupNotFound",
        "EniLimitReached",
        "IpNotAvailable",
        "AccessDenied",
        "OperationNotPermitted",
        "VpcIdNotFound",
        "Unknown",
        "NodeCreationFailure",
        "PodEvictionFailure",
        "InsufficientFreeAddresses",
        "ClusterUnreachable",
        "InsufficientNumberOfReplicas",
        "ConfigurationConflict"
      ]
    },
    "ErrorDetail":{
      "type":"structure",
      "members":{
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>A brief description of the error. </p> <ul> <li> <p> <b>SubnetNotFound</b>: We couldn't find one of the subnets associated with the cluster.</p> </li> <li> <p> <b>SecurityGroupNotFound</b>: We couldn't find one of the security groups associated with the cluster.</p> </li> <li> <p> <b>EniLimitReached</b>: You have reached the elastic network interface limit for your account.</p> </li> <li> <p> <b>IpNotAvailable</b>: A subnet associated with the cluster doesn't have any free IP addresses.</p> </li> <li> <p> <b>AccessDenied</b>: You don't have permissions to perform the specified operation.</p> </li> <li> <p> <b>OperationNotPermitted</b>: The service role associated with the cluster doesn't have the required access permissions for Amazon EKS.</p> </li> <li> <p> <b>VpcIdNotFound</b>: We couldn't find the VPC associated with the cluster.</p> </li> </ul>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>A more complete description of the error.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>An optional field that contains the resource IDs associated with the error.</p>"
        }
      },
      "documentation":"<p>An object representing an error when an asynchronous operation fails.</p>"
    },
    "ErrorDetails":{
      "type":"list",
      "member":{"shape":"ErrorDetail"}
    },
    "FargateProfile":{
      "type":"structure",
      "members":{
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the Fargate profile.</p>"
        },
        "fargateProfileArn":{
          "shape":"String",
          "documentation":"<p>The full Amazon Resource Name (ARN) of the Fargate profile.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that the Fargate profile belongs to.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the Fargate profile was created.</p>"
        },
        "podExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the pod execution role to use for pods that match the selectors in the Fargate profile. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/pod-execution-role.html\">Pod Execution Role</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The IDs of subnets to launch pods into.</p>"
        },
        "selectors":{
          "shape":"FargateProfileSelectors",
          "documentation":"<p>The selectors to match for pods to use this Fargate profile.</p>"
        },
        "status":{
          "shape":"FargateProfileStatus",
          "documentation":"<p>The current status of the Fargate profile.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata applied to the Fargate profile to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Fargate profile tags do not propagate to any other resources associated with the Fargate profile, such as the pods that are scheduled with it.</p>"
        }
      },
      "documentation":"<p>An object representing an AWS Fargate profile.</p>"
    },
    "FargateProfileLabel":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "FargateProfileSelector":{
      "type":"structure",
      "members":{
        "namespace":{
          "shape":"String",
          "documentation":"<p>The Kubernetes namespace that the selector should match.</p>"
        },
        "labels":{
          "shape":"FargateProfileLabel",
          "documentation":"<p>The Kubernetes labels that the selector should match. A pod must contain all of the labels that are specified in the selector for it to be considered a match.</p>"
        }
      },
      "documentation":"<p>An object representing an AWS Fargate profile selector.</p>"
    },
    "FargateProfileSelectors":{
      "type":"list",
      "member":{"shape":"FargateProfileSelector"}
    },
    "FargateProfileStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "CREATE_FAILED",
        "DELETE_FAILED"
      ]
    },
    "FargateProfilesRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "GetClusterKubeconfigRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to describe.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetClusterKubeconfigResponse":{
      "type":"structure",
      "members":{
        "kubeconfig":{"shape":"String"}
      }
    },
    "ClusterNotReady":{
      "type":"structure",
      "members":{
        "Message": {"shape": "String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Identity":{
      "type":"structure",
      "members":{
        "oidc":{
          "shape":"OIDC",
          "documentation":"<p>An object representing the <a href=\"https://openid.net/connect/\">OpenID Connect</a> identity provider information.</p>"
        }
      },
      "documentation":"<p>An object representing an identity provider.</p>"
    },
    "IdentityProviderConfig":{
      "type":"structure",
      "required":[
        "type",
        "name"
      ],
      "members":{
        "type":{
          "shape":"String",
          "documentation":"<p>The type of the identity provider configuration.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the identity provider configuration.</p>"
        }
      },
      "documentation":"<p>An object representing an identity provider configuration.</p>"
    },
    "IdentityProviderConfigResponse":{
      "type":"structure",
      "members":{
        "oidc":{
          "shape":"OidcIdentityProviderConfig",
          "documentation":"<p>An object that represents an OpenID Connect (OIDC) identity provider configuration.</p>"
        }
      },
      "documentation":"<p>An object that represents an identity configuration.</p>"
    },
    "IdentityProviderConfigs":{
      "type":"list",
      "member":{"shape":"IdentityProviderConfig"}
    },
    "Integer":{"type":"integer"},
    "InvalidParameterException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The Fargate profile associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidRequestException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request is invalid given the state of the cluster. Check the state of the cluster and the associated operations.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Issue":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"NodegroupIssueCode",
          "documentation":"<p>A brief description of the error.</p> <ul> <li> <p> <b>AccessDenied</b>: Amazon EKS or one or more of your managed nodes is failing to authenticate or authorize with your Kubernetes cluster API server.</p> </li> <li> <p> <b>AsgInstanceLaunchFailures</b>: Your Auto Scaling group is experiencing failures while attempting to launch instances.</p> </li> <li> <p> <b>AutoScalingGroupNotFound</b>: We couldn't find the Auto Scaling group associated with the managed node group. You may be able to recreate an Auto Scaling group with the same settings to recover.</p> </li> <li> <p> <b>ClusterUnreachable</b>: Amazon EKS or one or more of your managed nodes is unable to to communicate with your Kubernetes cluster API server. This can happen if there are network disruptions or if API servers are timing out processing requests. </p> </li> <li> <p> <b>Ec2LaunchTemplateNotFound</b>: We couldn't find the Amazon EC2 launch template for your managed node group. You may be able to recreate a launch template with the same settings to recover.</p> </li> <li> <p> <b>Ec2LaunchTemplateVersionMismatch</b>: The Amazon EC2 launch template version for your managed node group does not match the version that Amazon EKS created. You may be able to revert to the version that Amazon EKS created to recover.</p> </li> <li> <p> <b>Ec2SecurityGroupDeletionFailure</b>: We could not delete the remote access security group for your managed node group. Remove any dependencies from the security group.</p> </li> <li> <p> <b>Ec2SecurityGroupNotFound</b>: We couldn't find the cluster security group for the cluster. You must recreate your cluster.</p> </li> <li> <p> <b>Ec2SubnetInvalidConfiguration</b>: One or more Amazon EC2 subnets specified for a node group do not automatically assign public IP addresses to instances launched into it. If you want your instances to be assigned a public IP address, then you need to enable the <code>auto-assign public IP address</code> setting for the subnet. See <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-ip-addressing.html#subnet-public-ip\">Modifying the public IPv4 addressing attribute for your subnet</a> in the Amazon VPC User Guide.</p> </li> <li> <p> <b>IamInstanceProfileNotFound</b>: We couldn't find the IAM instance profile for your managed node group. You may be able to recreate an instance profile with the same settings to recover.</p> </li> <li> <p> <b>IamNodeRoleNotFound</b>: We couldn't find the IAM role for your managed node group. You may be able to recreate an IAM role with the same settings to recover.</p> </li> <li> <p> <b>InstanceLimitExceeded</b>: Your AWS account is unable to launch any more instances of the specified instance type. You may be able to request an Amazon EC2 instance limit increase to recover.</p> </li> <li> <p> <b>InsufficientFreeAddresses</b>: One or more of the subnets associated with your managed node group does not have enough available IP addresses for new nodes.</p> </li> <li> <p> <b>InternalFailure</b>: These errors are usually caused by an Amazon EKS server-side issue.</p> </li> <li> <p> <b>NodeCreationFailure</b>: Your launched instances are unable to register with your Amazon EKS cluster. Common causes of this failure are insufficient <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/worker_node_IAM_role.html\">node IAM role</a> permissions or lack of outbound internet access for the nodes. </p> </li> </ul>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>The error message associated with the issue.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>The AWS resources that are afflicted by this issue.</p>"
        }
      },
      "documentation":"<p>An object representing an issue with an Amazon EKS resource.</p>"
    },
    "IssueList":{
      "type":"list",
      "member":{"shape":"Issue"}
    },
    "KubernetesNetworkConfigRequest":{
      "type":"structure",
      "members":{
        "serviceIpv4Cidr":{
          "shape":"String",
          "documentation":"<p>The CIDR block to assign Kubernetes service IP addresses from. If you don't specify a block, Kubernetes assigns addresses from either the 10.100.0.0/16 or 172.20.0.0/16 CIDR blocks. We recommend that you specify a block that does not overlap with resources in other networks that are peered or connected to your VPC. The block must meet the following requirements:</p> <ul> <li> <p>Within one of the following private IP address blocks: 10.0.0.0/8, 172.16.0.0.0/12, or 192.168.0.0/16.</p> </li> <li> <p>Doesn't overlap with any CIDR block assigned to the VPC that you selected for VPC.</p> </li> <li> <p>Between /24 and /12.</p> </li> </ul> <important> <p>You can only specify a custom CIDR block when you create a cluster and can't change this value once the cluster is created.</p> </important>"
        }
      },
      "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
    },
    "KubernetesNetworkConfigResponse":{
      "type":"structure",
      "members":{
        "serviceIpv4Cidr":{
          "shape":"String",
          "documentation":"<p>The CIDR block that Kubernetes service IP addresses are assigned from. If you didn't specify a CIDR block when you created the cluster, then Kubernetes assigns addresses from either the 10.100.0.0/16 or 172.20.0.0/16 CIDR blocks. If this was specified, then it was specified when the cluster was created and it cannot be changed.</p>"
        }
      },
      "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
    },
    "LaunchTemplateSpecification":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the launch template.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The version of the launch template to use. If no version is specified, then the template's default version is used.</p>"
        },
        "id":{
          "shape":"String",
          "documentation":"<p>The ID of the launch template.</p>"
        }
      },
      "documentation":"<p>An object representing a node group launch template specification. The launch template cannot include <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateNetworkInterface.html\"> <code>SubnetId</code> </a>, <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_IamInstanceProfile.html\"> <code>IamInstanceProfile</code> </a>, <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_RequestSpotInstances.html\"> <code>RequestSpotInstances</code> </a>, <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_HibernationOptionsRequest.html\"> <code>HibernationOptions</code> </a>, or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_TerminateInstances.html\"> <code>TerminateInstances</code> </a>, or the node group deployment or update will fail. For more information about launch templates, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateLaunchTemplate.html\"> <code>CreateLaunchTemplate</code> </a> in the Amazon EC2 API Reference. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p> <p>Specify either <code>name</code> or <code>id</code>, but not both.</p>"
    },
    "ListAddonsRequest":{
      "type":"structure",
      "required":["clusterName"],
      "members":{
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{
          "shape":"ListAddonsRequestMaxResults",
          "documentation":"<p>The maximum number of add-on results returned by <code>ListAddonsRequest</code> in paginated output. When you use this parameter, <code>ListAddonsRequest</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListAddonsRequest</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListAddonsRequest</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListAddonsRequest</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p> <note> <p>This token should be treated as an opaque identifier that is used only to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListAddonsRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListAddonsResponse":{
      "type":"structure",
      "members":{
        "addons":{
          "shape":"StringList",
          "documentation":"<p>A list of available add-ons.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListAddonsResponse</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p> <note> <p>This token should be treated as an opaque identifier that is used only to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        }
      }
    },
    "ListClustersRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListClustersRequestMaxResults",
          "documentation":"<p>The maximum number of cluster results returned by <code>ListClusters</code> in paginated output. When you use this parameter, <code>ListClusters</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListClusters</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListClusters</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListClusters</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p> <note> <p>This token should be treated as an opaque identifier that is used only to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListClustersRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListClustersResponse":{
      "type":"structure",
      "members":{
        "clusters":{
          "shape":"ClusterList",
          "documentation":"<p>A list of all of the clusters for your account in the specified Region.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListClusters</code> request. When the results of a <code>ListClusters</code> request exceed <code>maxResults</code>, you can use this value to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListFargateProfilesRequest":{
      "type":"structure",
      "required":["clusterName"],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that you would like to listFargate profiles in.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{
          "shape":"FargateProfilesRequestMaxResults",
          "documentation":"<p>The maximum number of Fargate profile results returned by <code>ListFargateProfiles</code> in paginated output. When you use this parameter, <code>ListFargateProfiles</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListFargateProfiles</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListFargateProfiles</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListFargateProfiles</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListFargateProfilesResponse":{
      "type":"structure",
      "members":{
        "fargateProfileNames":{
          "shape":"StringList",
          "documentation":"<p>A list of all of the Fargate profiles associated with the specified cluster.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListFargateProfiles</code> request. When the results of a <code>ListFargateProfiles</code> request exceed <code>maxResults</code>, you can use this value to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListIdentityProviderConfigsRequest":{
      "type":"structure",
      "required":["clusterName"],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The cluster name that you want to list identity provider configurations for.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{
          "shape":"ListIdentityProviderConfigsRequestMaxResults",
          "documentation":"<p>The maximum number of identity provider configurations returned by <code>ListIdentityProviderConfigs</code> in paginated output. When you use this parameter, <code>ListIdentityProviderConfigs</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListIdentityProviderConfigs</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListIdentityProviderConfigs</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>IdentityProviderConfigsRequest</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListIdentityProviderConfigsRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListIdentityProviderConfigsResponse":{
      "type":"structure",
      "members":{
        "identityProviderConfigs":{
          "shape":"IdentityProviderConfigs",
          "documentation":"<p>The identity provider configurations for the cluster.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListIdentityProviderConfigsResponse</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>"
        }
      }
    },
    "ListNodegroupsRequest":{
      "type":"structure",
      "required":["clusterName"],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that you would like to list node groups in.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{
          "shape":"ListNodegroupsRequestMaxResults",
          "documentation":"<p>The maximum number of node group results returned by <code>ListNodegroups</code> in paginated output. When you use this parameter, <code>ListNodegroups</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListNodegroups</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListNodegroups</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListNodegroups</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListNodegroupsRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListNodegroupsResponse":{
      "type":"structure",
      "members":{
        "nodegroups":{
          "shape":"StringList",
          "documentation":"<p>A list of all of the node groups associated with the specified cluster.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListNodegroups</code> request. When the results of a <code>ListNodegroups</code> request exceed <code>maxResults</code>, you can use this value to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the resource for which to list the tags. Currently, the supported resources are Amazon EKS clusters and managed node groups.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags for the resource.</p>"
        }
      }
    },
    "ListUpdatesRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster to list updates for.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS managed node group to list updates for.</p>",
          "location":"querystring",
          "locationName":"nodegroupName"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The names of the installed add-ons that have available updates.</p>",
          "location":"querystring",
          "locationName":"addonName"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListUpdates</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListUpdatesRequestMaxResults",
          "documentation":"<p>The maximum number of update results returned by <code>ListUpdates</code> in paginated output. When you use this parameter, <code>ListUpdates</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListUpdates</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListUpdates</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListUpdatesRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListUpdatesResponse":{
      "type":"structure",
      "members":{
        "updateIds":{
          "shape":"StringList",
          "documentation":"<p>A list of all the updates for the specified cluster and Region.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListUpdates</code> request. When the results of a <code>ListUpdates</code> request exceed <code>maxResults</code>, you can use this value to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "LogSetup":{
      "type":"structure",
      "members":{
        "types":{
          "shape":"LogTypes",
          "documentation":"<p>The available cluster control plane log types.</p>"
        },
        "enabled":{
          "shape":"BoxedBoolean",
          "documentation":"<p>If a log type is enabled, that log type exports its control plane logs to CloudWatch Logs. If a log type isn't enabled, that log type doesn't export its control plane logs. Each individual log type can be enabled or disabled independently.</p>"
        }
      },
      "documentation":"<p>An object representing the enabled or disabled Kubernetes control plane logs for your cluster.</p>"
    },
    "LogSetups":{
      "type":"list",
      "member":{"shape":"LogSetup"}
    },
    "LogType":{
      "type":"string",
      "enum":[
        "api",
        "audit",
        "authenticator",
        "controllerManager",
        "scheduler"
      ]
    },
    "LogTypes":{
      "type":"list",
      "member":{"shape":"LogType"}
    },
    "Logging":{
      "type":"structure",
      "members":{
        "clusterLogging":{
          "shape":"LogSetups",
          "documentation":"<p>The cluster control plane logging configuration for your cluster.</p>"
        }
      },
      "documentation":"<p>An object representing the logging configuration for resources in your cluster.</p>"
    },
    "Nodegroup":{
      "type":"structure",
      "members":{
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name associated with an Amazon EKS managed node group.</p>"
        },
        "nodegroupArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the managed node group.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster that the managed node group resides in.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The Kubernetes version of the managed node group.</p>"
        },
        "releaseVersion":{
          "shape":"String",
          "documentation":"<p>If the node group was deployed using a launch template with a custom AMI, then this is the AMI ID that was specified in the launch template. For node groups that weren't deployed using a launch template, this is the version of the Amazon EKS optimized AMI that the node group was deployed with.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the managed node group was created.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the managed node group was last modified.</p>"
        },
        "status":{
          "shape":"NodegroupStatus",
          "documentation":"<p>The current status of the managed node group.</p>"
        },
        "capacityType":{
          "shape":"CapacityTypes",
          "documentation":"<p>The capacity type of your managed node group.</p>"
        },
        "scalingConfig":{
          "shape":"NodegroupScalingConfig",
          "documentation":"<p>The scaling configuration details for the Auto Scaling group that is associated with your node group.</p>"
        },
        "instanceTypes":{
          "shape":"StringList",
          "documentation":"<p>If the node group wasn't deployed with a launch template, then this is the instance type that is associated with the node group. If the node group was deployed with a launch template, then this is <code>null</code>.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The subnets that were specified for the Auto Scaling group that is associated with your node group.</p>"
        },
        "remoteAccess":{
          "shape":"RemoteAccessConfig",
          "documentation":"<p>If the node group wasn't deployed with a launch template, then this is the remote access configuration that is associated with the node group. If the node group was deployed with a launch template, then this is <code>null</code>.</p>"
        },
        "amiType":{
          "shape":"AMITypes",
          "documentation":"<p>If the node group was deployed using a launch template with a custom AMI, then this is <code>CUSTOM</code>. For node groups that weren't deployed using a launch template, this is the AMI type that was specified in the node group configuration.</p>"
        },
        "nodeRole":{
          "shape":"String",
          "documentation":"<p>The IAM role associated with your node group. The Amazon EKS node <code>kubelet</code> daemon makes calls to AWS APIs on your behalf. Nodes receive permissions for these API calls through an IAM instance profile and associated policies.</p>"
        },
        "labels":{
          "shape":"labelsMap",
          "documentation":"<p>The Kubernetes labels applied to the nodes in the node group.</p> <note> <p>Only labels that are applied with the Amazon EKS API are shown here. There may be other Kubernetes labels applied to the nodes in this group.</p> </note>"
        },
        "resources":{
          "shape":"NodegroupResources",
          "documentation":"<p>The resources associated with the node group, such as Auto Scaling groups and security groups for remote access.</p>"
        },
        "diskSize":{
          "shape":"BoxedInteger",
          "documentation":"<p>If the node group wasn't deployed with a launch template, then this is the disk size in the node group configuration. If the node group was deployed with a launch template, then this is <code>null</code>.</p>"
        },
        "health":{
          "shape":"NodegroupHealth",
          "documentation":"<p>The health status of the node group. If there are issues with your node group's health, they are listed here.</p>"
        },
        "launchTemplate":{
          "shape":"LaunchTemplateSpecification",
          "documentation":"<p>If a launch template was used to create the node group, then this is the launch template that was used.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata applied to the node group to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Node group tags do not propagate to any other resources associated with the node group, such as the Amazon EC2 instances or subnets. </p>"
        }
      },
      "documentation":"<p>An object representing an Amazon EKS managed node group.</p>"
    },
    "NodegroupHealth":{
      "type":"structure",
      "members":{
        "issues":{
          "shape":"IssueList",
          "documentation":"<p>Any issues that are associated with the node group. </p>"
        }
      },
      "documentation":"<p>An object representing the health status of the node group.</p>"
    },
    "NodegroupIssueCode":{
      "type":"string",
      "enum":[
        "AutoScalingGroupNotFound",
        "AutoScalingGroupInvalidConfiguration",
        "Ec2SecurityGroupNotFound",
        "Ec2SecurityGroupDeletionFailure",
        "Ec2LaunchTemplateNotFound",
        "Ec2LaunchTemplateVersionMismatch",
        "Ec2SubnetNotFound",
        "Ec2SubnetInvalidConfiguration",
        "IamInstanceProfileNotFound",
        "IamLimitExceeded",
        "IamNodeRoleNotFound",
        "NodeCreationFailure",
        "AsgInstanceLaunchFailures",
        "InstanceLimitExceeded",
        "InsufficientFreeAddresses",
        "AccessDenied",
        "InternalFailure",
        "ClusterUnreachable"
      ]
    },
    "NodegroupResources":{
      "type":"structure",
      "members":{
        "autoScalingGroups":{
          "shape":"AutoScalingGroupList",
          "documentation":"<p>The Auto Scaling groups associated with the node group.</p>"
        },
        "remoteAccessSecurityGroup":{
          "shape":"String",
          "documentation":"<p>The remote access security group associated with the node group. This security group controls SSH access to the nodes.</p>"
        }
      },
      "documentation":"<p>An object representing the resources associated with the node group, such as Auto Scaling groups and security groups for remote access.</p>"
    },
    "NodegroupScalingConfig":{
      "type":"structure",
      "members":{
        "minSize":{
          "shape":"Capacity",
          "documentation":"<p>The minimum number of nodes that the managed node group can scale in to. This number must be greater than zero.</p>"
        },
        "maxSize":{
          "shape":"Capacity",
          "documentation":"<p>The maximum number of nodes that the managed node group can scale out to. For information about the maximum number that you can specify, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/service-quotas.html\">Amazon EKS service quotas</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "desiredSize":{
          "shape":"Capacity",
          "documentation":"<p>The current number of nodes that the managed node group should maintain.</p>"
        }
      },
      "documentation":"<p>An object representing the scaling configuration details for the Auto Scaling group that is associated with your node group. If you specify a value for any property, then you must specify values for all of the properties.</p>"
    },
    "NodegroupStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "CREATE_FAILED",
        "DELETE_FAILED",
        "DEGRADED"
      ]
    },
    "NotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "OIDC":{
      "type":"structure",
      "members":{
        "issuer":{
          "shape":"String",
          "documentation":"<p>The issuer URL for the OIDC identity provider.</p>"
        }
      },
      "documentation":"<p>An object representing the <a href=\"https://openid.net/connect/\">OpenID Connect</a> (OIDC) identity provider information for the cluster.</p>"
    },
    "OidcIdentityProviderConfig":{
      "type":"structure",
      "members":{
        "identityProviderConfigName":{
          "shape":"String",
          "documentation":"<p>The name of the configuration.</p>"
        },
        "identityProviderConfigArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the configuration.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The cluster that the configuration is associated to.</p>"
        },
        "issuerUrl":{
          "shape":"String",
          "documentation":"<p>The URL of the OIDC identity provider that allows the API server to discover public signing keys for verifying tokens.</p>"
        },
        "clientId":{
          "shape":"String",
          "documentation":"<p>This is also known as <i>audience</i>. The ID of the client application that makes authentication requests to the OIDC identity provider.</p>"
        },
        "usernameClaim":{
          "shape":"String",
          "documentation":"<p>The JSON Web token (JWT) claim that is used as the username.</p>"
        },
        "usernamePrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that is prepended to username claims to prevent clashes with existing names. The prefix can't contain <code>system:</code> </p>"
        },
        "groupsClaim":{
          "shape":"String",
          "documentation":"<p>The JSON web token (JWT) claim that the provider uses to return your groups.</p>"
        },
        "groupsPrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that is prepended to group claims to prevent clashes with existing names (such as <code>system:</code> groups). For example, the value<code> oidc:</code> creates group names like <code>oidc:engineering</code> and <code>oidc:infra</code>. The prefix can't contain <code>system:</code> </p>"
        },
        "requiredClaims":{
          "shape":"requiredClaimsMap",
          "documentation":"<p>The key-value pairs that describe required claims in the identity token. If set, each claim is verified to be present in the token with a matching value.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the provider configuration to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you defined.</p>"
        },
        "status":{
          "shape":"configStatus",
          "documentation":"<p>The status of the OIDC identity provider.</p>"
        }
      },
      "documentation":"<p>An object that represents the configuration for an OpenID Connect (OIDC) identity provider. </p>"
    },
    "OidcIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "identityProviderConfigName",
        "issuerUrl",
        "clientId"
      ],
      "members":{
        "identityProviderConfigName":{
          "shape":"String",
          "documentation":"<p>The name of the OIDC provider configuration.</p>"
        },
        "issuerUrl":{
          "shape":"String",
          "documentation":"<p>The URL of the OpenID identity provider that allows the API server to discover public signing keys for verifying tokens. The URL must begin with <code>https://</code> and should correspond to the <code>iss</code> claim in the provider's OIDC ID tokens. Per the OIDC standard, path components are allowed but query parameters are not. Typically the URL consists of only a hostname, like <code>https://server.example.org</code> or <code>https://example.com</code>. This URL should point to the level below <code>.well-known/openid-configuration</code> and must be publicly accessible over the internet.</p>"
        },
        "clientId":{
          "shape":"String",
          "documentation":"<p>This is also known as <i>audience</i>. The ID for the client application that makes authentication requests to the OpenID identity provider.</p>"
        },
        "usernameClaim":{
          "shape":"String",
          "documentation":"<p>The JSON Web Token (JWT) claim to use as the username. The default is <code>sub</code>, which is expected to be a unique identifier of the end user. You can choose other claims, such as <code>email</code> or <code>name</code>, depending on the OpenID identity provider. Claims other than <code>email</code> are prefixed with the issuer URL to prevent naming clashes with other plug-ins.</p>"
        },
        "usernamePrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that is prepended to username claims to prevent clashes with existing names. If you do not provide this field, and <code>username</code> is a value other than <code>email</code>, the prefix defaults to <code>issuerurl#</code>. You can use the value <code>-</code> to disable all prefixing.</p>"
        },
        "groupsClaim":{
          "shape":"String",
          "documentation":"<p>The JWT claim that the provider uses to return your groups.</p>"
        },
        "groupsPrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that is prepended to group claims to prevent clashes with existing names (such as <code>system:</code> groups). For example, the value<code> oidc:</code> will create group names like <code>oidc:engineering</code> and <code>oidc:infra</code>.</p>"
        },
        "requiredClaims":{
          "shape":"requiredClaimsMap",
          "documentation":"<p>The key value pairs that describe required claims in the identity token. If set, each claim is verified to be present in the token with a matching value. For the maximum number of claims that you can require, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/service-quotas.html\">Amazon EKS service quotas</a> in the <i>Amazon EKS User Guide</i>.</p>"
        }
      },
      "documentation":"<p>An object representing an OpenID Connect (OIDC) configuration. Before associating an OIDC identity provider to your cluster, review the considerations in <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/authenticate-oidc-identity-provider.html\">Authenticating users for your cluster from an OpenID Connect identity provider</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "Provider":{
      "type":"structure",
      "members":{
        "keyArn":{
          "shape":"String",
          "documentation":"<p>Amazon Resource Name (ARN) or alias of the customer master key (CMK). The CMK must be symmetric, created in the same region as the cluster, and if the CMK was created in a different account, the user must have access to the CMK. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policy-modifying-external-accounts.html\">Allowing Users in Other Accounts to Use a CMK</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      },
      "documentation":"<p>Identifies the AWS Key Management Service (AWS KMS) customer master key (CMK) used to encrypt the secrets.</p>"
    },
    "RemoteAccessConfig":{
      "type":"structure",
      "members":{
        "ec2SshKey":{
          "shape":"String",
          "documentation":"<p>The Amazon EC2 SSH key that provides access for SSH communication with the nodes in the managed node group. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html\">Amazon EC2 Key Pairs</a> in the <i>Amazon Elastic Compute Cloud User Guide for Linux Instances</i>.</p>"
        },
        "sourceSecurityGroups":{
          "shape":"StringList",
          "documentation":"<p>The security groups that are allowed SSH access (port 22) to the nodes. If you specify an Amazon EC2 SSH key but do not specify a source security group when you create a managed node group, then port 22 on the nodes is opened to the internet (0.0.0.0/0). For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>"
        }
      },
      "documentation":"<p>An object representing the remote access configuration for the managed node group.</p>"
    },
    "ResizeClusterRequest":{
      "type":"structure",
      "required":[
        "name",
        "workers_quantity"],
      "members":{
        "name":{
          "shape":"String",
          "location":"uri",
          "locationName":"name"
        },
        "workers_quantity":{"shape":"Integer"}
      }
    },
    "ModifyCertAutoUpdateRequest":{
      "type":"structure",
      "members":{
        "name": {
          "shape":"String",
          "documentation":"<p>The name of the cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "auto_update_certificates":{"shape":"Boolean"}
      }
    },
    "ModifyCertAutoUpdateResponse":{
      "type":"structure",
      "members":{
        "auto_update_certificates":{"shape":"Boolean"}
      }
    },
    "ModifySecurityGroupsRequest":{
      "type":"structure",
      "required":[
        "name",
        "security_group_ids"
      ],
      "members":{
        "name":{
          "shape":"String",
          "location":"uri",
          "locationName":"name"
        },
        "security_group_ids":{"shape":"StringList"}
      }
    },
    "ModifySecurityGroupsResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your modified cluster.</p>"
        }
      }
    },
    "ModifyUserDataRequest":{
      "type": "structure",
      "required":[
        "name"
      ],
      "members":{
        "name":{
          "shape": "String",
          "location": "uri",
          "locationName": "name"
        },
        "user_data":{"shape":"String"},
        "user_data_content_type":{"shape":"String"}
      }
    },
[...]
