{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-11-01",
    "endpointPrefix":"eks",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Amazon EKS",
    "serviceFullName":"Amazon Elastic Kubernetes Service",
    "serviceId":"Elastic Kubernetes Service",
    "signatureVersion":"v4",
    "signingName":"eks",
    "uid":"eks-2017-11-01"
  },
  "operations":{
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/clusters"
      },
      "input":{"shape":"CreateClusterRequest"},
      "output":{"shape":"CreateClusterResponse"},
      "documentation":"<p>Creates Kubernetes cluster.</p>"
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}"
      },
      "input":{"shape":"DeleteClusterRequest"},
      "output":{"shape":"DeleteClusterResponse"},
      "documentation":"<p>Deletes Kubernetes cluster.</p>"
    },
    "DescribeCluster":{
      "name":"DescribeCluster",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}"
      },
      "input":{"shape":"DescribeClusterRequest"},
      "output":{"shape":"DescribeClusterResponse"},
      "documentation":"<p>Returns descriptive information about Kubernetes cluster.</p>"
    },
    "ListClusters":{
      "name":"ListClusters",
      "http":{
        "method":"GET",
        "requestUri":"/clusters"
      },
      "input":{"shape":"ListClustersRequest"},
      "output":{"shape":"ListClustersResponse"},
      "documentation":"<p>Lists Kubernetes clusters.</p>"
    },
    "CreateNodegroup":{
      "name":"CreateNodegroup",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups"
      },
      "input":{"shape":"CreateNodegroupRequest"},
      "output":{"shape":"CreateNodegroupResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a managed node group for an Amazon EKS cluster. You can only create a node group for your cluster that is equal to the current Kubernetes version for the cluster. All node groups are created with the latest AMI release version for the respective minor Kubernetes version of the cluster, unless you deploy a custom AMI using a launch template. For more information about using launch templates, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a>.</p> <p>An Amazon EKS managed node group is an Amazon EC2 Auto Scaling group and associated Amazon EC2 instances that are managed by Amazon Web Services for an Amazon EKS cluster. Each node group uses a version of the Amazon EKS optimized Amazon Linux 2 AMI. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html\">Managed Node Groups</a> in the <i>Amazon EKS User Guide</i>. </p>"
    },
    "DescribeNodegroup":{
      "name":"DescribeNodegroup",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input":{"shape":"DescribeNodegroupRequest"},
      "output":{"shape":"DescribeNodegroupResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns descriptive information about an Amazon EKS node group.</p>"
    },
    "ListNodegroups":{
      "name":"ListNodegroups",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/node-groups"
      },
      "input":{"shape":"ListNodegroupsRequest"},
      "output":{"shape":"ListNodegroupsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the Amazon EKS managed node groups associated with the specified cluster in your Amazon Web Services account in the specified Region. Self-managed node groups are not listed.</p>"
    },
    "UpdateClusterConfig":{
      "name":"UpdateClusterConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/update-config"
      },
      "input":{"shape":"UpdateClusterConfigRequest"},
      "output":{"shape":"UpdateClusterConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates an Amazon EKS cluster configuration. Your cluster continues to function during the update. The response output includes an update ID that you can use to track the status of your cluster update with the <a>DescribeUpdate</a> API operation.</p> <p>You can use this API operation to enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs aren't exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster Control Plane Logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">CloudWatch Pricing</a>.</p> </note> <p>You can also use this API operation to enable or disable public and private access to your cluster's Kubernetes API server endpoint. By default, public access is enabled, and private access is disabled. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/cluster-endpoint.html\">Amazon EKS cluster endpoint access control</a> in the <i> <i>Amazon EKS User Guide</i> </i>. </p> <important> <p>You can't update the subnets or security group IDs for an existing cluster.</p> </important> <p>Cluster updates are asynchronous, and they should finish within a few minutes. During an update, the cluster status moves to <code>UPDATING</code> (this status transition is eventually consistent). When the update is complete (either <code>Failed</code> or <code>Successful</code>), the cluster status moves to <code>Active</code>.</p>"
    },
    "UpdateNodegroupConfig":{
      "name":"UpdateNodegroupConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}/update-config"
      },
      "input":{"shape":"UpdateNodegroupConfigRequest"},
      "output":{"shape":"UpdateNodegroupConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates an Amazon EKS managed node group configuration. Your node group continues to function during the update. The response output includes an update ID that you can use to track the status of your node group update with the <a>DescribeUpdate</a> API operation. Currently you can update the Kubernetes labels for a node group or the scaling configuration.</p>"
    },
    "UpdateNodegroupVersion":{
      "name":"UpdateNodegroupVersion",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}/update-version"
      },
      "input":{"shape":"UpdateNodegroupVersionRequest"},
      "output":{"shape":"UpdateNodegroupVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates the Kubernetes version or AMI version of an Amazon EKS managed node group.</p> <p>You can update a node group using a launch template only if the node group was originally deployed with a launch template. If you need to update a custom AMI in a node group that was deployed with a launch template, then update your custom AMI, specify the new ID in a new version of the launch template, and then update the node group to the new version of the launch template.</p> <p>If you update without a launch template, then you can update to the latest available AMI version of a node group's current Kubernetes version by not specifying a Kubernetes version in the request. You can update to the latest AMI version of your cluster's current Kubernetes version by specifying your cluster's Kubernetes version in the request. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-linux-ami-versions.html\">Amazon EKS optimized Amazon Linux 2 AMI versions</a> in the <i>Amazon EKS User Guide</i>.</p> <p>You cannot roll back a node group to an earlier Kubernetes version or AMI version.</p> <p>When a node in a managed node group is terminated due to a scaling action or update, the pods in that node are drained first. Amazon EKS attempts to drain the nodes gracefully and will fail if it is unable to do so. You can <code>force</code> the update if Amazon EKS is unable to drain the nodes as a result of a pod disruption budget issue.</p>"
    },
    "DeleteNodegroup":{
      "name":"DeleteNodegroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input":{"shape":"DeleteNodegroupRequest"},
      "output":{"shape":"DeleteNodegroupResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes an Amazon EKS node group for a cluster.</p>"
    }
  },
  "shapes":{
    "AMITypes":{
      "type":"string",
      "enum":[
        "AL2_x86_64",
        "AL2_x86_64_GPU",
        "AL2_ARM_64"
      ]
    },
    "AutoScalingGroup":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Auto Scaling group associated with an Amazon EKS managed node group.</p>"
        }
      },
      "documentation":"<p>An Auto Scaling group that is associated with an Amazon EKS managed node group.</p>"
    },
    "AutoScalingGroupList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>This exception is thrown if the request contains a semantic error. The precise meaning will depend on the API, and will be documented in the error message.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "BoxedBoolean":{
      "type":"boolean",
      "box":true
    },
    "BoxedInteger":{
      "type":"integer",
      "box":true
    },
    "Capacity":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CapacityTypes":{
      "type":"string",
      "enum":[
        "ON_DEMAND",
        "SPOT"
      ]
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "data":{
          "shape":"String",
          "documentation":"<p>The Base64-encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>"
        }
      },
      "documentation":"<p>An object representing the <code>certificate-authority-data</code> for your cluster.</p>"
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ClusterName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[0-9A-Za-z][A-Za-z0-9\\-_]*"
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"String",
          "documentation":"<p>The id of the cluster.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>"
        },
        "remoteAccessConfig":{
          "shape":"RemoteAccessConfig",
          "documentation":"<p>An object representing the remote access configuration for the Kubernetes cluster.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The Kubernetes server version for the cluster.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The endpoint for your Kubernetes API server.</p>"
        },
        "resourcesVpcConfig":{
          "shape":"VpcConfigResponse",
          "documentation":"<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "kubernetesNetworkConfig":{
          "shape":"KubernetesNetworkConfigResponse",
          "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
        },
        "logging":{
          "shape":"Logging",
          "documentation":"<p>The logging configuration for your cluster.</p>"
        },
        "status":{
          "shape":"ClusterStatus",
          "documentation":"<p>The current status of the cluster.</p>"
        },
        "certificateAuthority":{
          "shape":"Certificate",
          "documentation":"<p>The <code>certificate-authority-data</code> for your cluster.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
        },
        "platformVersion":{
          "shape":"String",
          "documentation":"<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata that you apply to the cluster to assist with categorization and organization. Each tag consists of a key and an optional value. You define both. Cluster tags do not propagate to any other resources associated with the cluster.</p>"
        },
        "health":{
          "shape":"ClusterHealth",
          "documentation":"<p>An object representing the health of your local Amazon EKS cluster on an Amazon Web Services Outpost. This object isn't available for clusters on the Amazon Web Services cloud.</p>"
        },
        "legacyClusterParams":{
          "shape":"legacyClusterParams",
          "documentation":"<p>Legacy cluster parameters</p>"
        }
      },
      "documentation":"<p>An object representing an EKS cluster.</p>"
    },
    "ClusterHealth":{
      "type":"structure",
      "members":{
        "issues":{
          "shape":"ClusterIssueList",
          "documentation":"<p>An object representing the health issues of your local Amazon EKS cluster on an Amazon Web Services Outpost.</p>"
        }
      },
      "documentation":"<p>An object representing the health of your local Amazon EKS cluster on an Amazon Web Services Outpost. You can't use this API with an Amazon EKS cluster on the Amazon Web Services cloud. </p>"
    },
    "ClusterIssue":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"ClusterIssueCode",
          "documentation":"<p>The error code of the issue.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A description of the issue.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>The resource IDs that the issue relates to.</p>"
        }
      },
      "documentation":"<p>An issue with your local Amazon EKS cluster on an Amazon Web Services Outpost. You can't use this API with an Amazon EKS cluster on the Amazon Web Services cloud.</p>"
    },
    "ClusterIssueCode":{
      "type":"string",
      "enum":[
        "AccessDenied",
        "ClusterUnreachable",
        "ConfigurationConflict",
        "InternalFailure",
        "ResourceLimitExceeded",
        "ResourceNotFound"
      ]
    },
    "ClusterIssueList":{
      "type":"list",
      "member":{"shape":"ClusterIssue"}
    },
    "ClusterStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING"
      ]
    },
    "CreateClusterRequest":{
      "type":"structure",
      "required":[
        "name",
        "resourcesVpcConfig",
        "version"
      ],
      "members":{
        "name":{
          "shape":"ClusterName",
          "documentation":"<p>The unique name to give to your cluster.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The desired Kubernetes version for your cluster. If you don't specify a value here, the default version available in Amazon EKS is used.</p> <note> <p>The default version might not be the latest version available.</p> </note>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>A valid Amazon Resource Name (ARN) that identifies an IAM role."
        },
        "remoteAccessConfig":{
          "shape":"RemoteAccessConfig",
          "documentation":"<p>An object representing the remote access configuration for the Kubernetes cluster.</p>",
          "deprecated":true
        },
        "resourcesVpcConfig":{
          "shape":"VpcConfigRequest",
          "documentation":"<p>The VPC configuration that's used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>. You must specify at least two subnets. You can specify up to five security groups. However, we recommend that you use a dedicated security group for your cluster control plane.</p>"
        },
        "kubernetesNetworkConfig":{
          "shape":"KubernetesNetworkConfigRequest",
          "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
        },
        "logging":{
          "shape":"Logging",
          "documentation":"<p>Enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs aren't exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster control plane logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">CloudWatch Pricing</a>.</p> </note>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "platformVersion":{
          "shape":"String",
          "documentation":"<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the cluster to assist with categorization and organization. Each tag consists of a key and an optional value. You define both.</p>"
        },
        "legacyClusterParams":{
          "shape":"legacyClusterParams",
          "documentation":"<p>Legacy cluster parameters that are required to start control plane</p>"
        }
      }
    },
    "CreateClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your new cluster.</p>"
        }
      }
    },
    "InstanceList":{
      "type":"list",
      "member":{"shape":"Instance"}
    },
    "Instance":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"String"
        },
        "PrivateIp":{
          "shape":"String"
        },
        "PublicIp":{
          "shape":"String"
        },
        "InterfaceId":{
          "shape":"String"
        },
        "Role":{
          "shape":"String"
        },
        "SchedulingDisabled":{
          "shape":"Boolean"
        },
        "Status":{
          "shape":"String"
        },
        "Type": {
          "shape": "InstanceType"
        },
        "Ghost": {
          "shape": "Boolean"
        },
        "Name": {
          "shape":"String"
        },
        "PendingForTermination": {
          "shape": "Boolean"
        }
      }
    },
    "InstanceType":{
      "type": "structure",
      "members":{
        "ccus":{"shape":"String"},
        "cpu":{"shape":"Integer"},
        "memory":{"shape":"Integer"},
        "name":{"shape":"String"}
      }
    },
    "Compatibilities":{
      "type":"list",
      "member":{"shape":"Compatibility"}
    },
    "Compatibility":{
      "type":"structure",
      "members":{
        "clusterVersion":{
          "shape":"String",
          "documentation":"<p>The supported Kubernetes version of the cluster.</p>"
        },
        "platformVersions":{
          "shape":"StringList",
          "documentation":"<p>The supported compute platform.</p>"
        },
        "defaultVersion":{
          "shape":"Boolean",
          "documentation":"<p>The supported default version.</p>"
        }
      },
      "documentation":"<p>Compatibility information.</p>"
    },
    "CreateNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName",
        "subnets"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to create the node group in.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "instanceTypes":{
          "shape":"StringList",
          "documentation":"<p>Specify the instance types for a node group. If you specify a GPU instance type, make sure to also specify an applicable GPU AMI type with the <code>amiType</code> parameter. If you specify <code>launchTemplate</code>, then you can specify zero or one instance type in your launch template <i>or</i> you can specify 0-20 instance types for <code>instanceTypes</code>. If however, you specify an instance type in your launch template <i>and</i> specify any <code>instanceTypes</code>, the node group deployment will fail. If you don't specify an instance type in a launch template or for <code>instanceTypes</code>, then <code>t3.medium</code> is used, by default. If you specify <code>Spot</code> for <code>capacityType</code>, then we recommend specifying multiple values for <code>instanceTypes</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html#managed-node-group-capacity-types\">Managed node group capacity types</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The unique name to give your node group.</p>"
        },
        "taints":{
          "shape":"taintsList",
          "documentation":"<p>The Kubernetes taints to be applied to the nodes in the node group when they are created. Effect is one of <code>No_Schedule</code>, <code>Prefer_No_Schedule</code>, or <code>No_Execute</code>. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/node-taints-managed-node-groups.html\">Node taints on managed node groups</a>.</p>"
        },
        "remoteAccess":{
          "shape":"RemoteAccessConfig",
          "documentation":"<p>An object representing the remote access configuration for the Kubernetes node group.</p>"
        },
        "diskSize":{
          "shape":"BoxedInteger",
          "documentation":"<p>The root device disk size (in GiB) for your node group instances. The default disk size is 20 GiB for Linux and Bottlerocket. The default disk size is 50 GiB for Windows. If you specify <code>launchTemplate</code>, then don't specify <code>diskSize</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "scalingConfig":{
          "shape":"NodegroupScalingConfig",
          "documentation":"<p>The scaling configuration details for the Auto Scaling group that is created for your node group.</p>"
        },
        "updateConfig":{
          "shape":"NodegroupUpdateConfig",
          "documentation":"<p>The node group update configuration.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The subnets to use for the Auto Scaling group that is created for your node group. These subnets must have the tag key <code>kubernetes.io/cluster/CLUSTER_NAME</code> with a value of <code>shared</code>, where <code>CLUSTER_NAME</code> is replaced with the name of your cluster. If you specify <code>launchTemplate</code>, then don't specify <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateNetworkInterface.html\"> <code>SubnetId</code> </a> in your launch template, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        },
        "nodeRole":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to associate with your node group. The Amazon EKS worker node <code>kubelet</code> daemon makes calls to AWS APIs on your behalf. Nodes receive permissions for these API calls through an IAM instance profile and associated policies. Before you can launch nodes and register them into a cluster, you must create an IAM role for those nodes to use when they are launched. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/worker_node_IAM_role.html\">Amazon EKS node IAM role</a> in the <i> <i>Amazon EKS User Guide</i> </i>. If you specify <code>launchTemplate</code>, then don't specify <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_IamInstanceProfile.html\"> <code>IamInstanceProfile</code> </a> in your launch template, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
        },
        "labels":{
          "shape":"labelsMap",
          "documentation":"<p>The Kubernetes labels to be applied to the nodes in the node group when they are created.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the node group to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Node group tags do not propagate to any other resources associated with the node group, such as the Amazon EC2 instances or subnets.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "launchTemplate":{
          "shape":"LaunchTemplateSpecification",
          "documentation":"<p>An object representing a node group's launch template specification. If specified, then do not specify <code>instanceTypes</code>, <code>diskSize</code>, or <code>remoteAccess</code> and make sure that the launch template meets the requirements in <code>launchTemplateSpecification</code>.</p>"
        },
        "capacityType":{
          "shape":"CapacityTypes",
          "documentation":"<p>The capacity type for your node group.</p>"
        }
      }
    },
    "CreateNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your new node group.</p>"
        }
      }
    },
    "DeleteClusterRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to delete.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of the cluster to delete.</p>"
        }
      }
    },
    "DeleteNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that is associated with your node group.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the node group to delete.</p>",
          "location":"uri",
          "locationName":"nodegroupName"
        }
      }
    },
    "DeleteNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your deleted node group.</p>"
        }
      }
    },
    "DescribeClusterRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to describe.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DescribeClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your specified cluster.</p>"
        }
      }
    },
    "DescribeNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the node group.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the node group to describe.</p>",
          "location":"uri",
          "locationName":"nodegroupName"
        }
      }
    },
    "DescribeNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your node group.</p>"
        }
      }
    },
    "DescribeUpdateRequest":{
      "type":"structure",
      "required":[
        "name",
        "updateId"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the update.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "updateId":{
          "shape":"String",
          "documentation":"<p>The ID of the update to describe.</p>",
          "location":"uri",
          "locationName":"updateId"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS node group associated with the update.</p>",
          "location":"querystring",
          "locationName":"nodegroupName"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>",
          "location":"querystring",
          "locationName":"addonName"
        }
      }
    },
    "DescribeUpdateResponse":{
      "type":"structure",
      "members":{
        "update":{
          "shape":"Update",
          "documentation":"<p>The full description of the specified update.</p>"
        }
      }
    },
    "dockerRegistryConfig":{
      "type":"structure",
      "members":{
        "dockerRegistryRequired":{"shape":"Boolean"},
        "dockerRegistryVolumeType":{"shape":"String"},
        "dockerRegistryVolumeSize":{"shape":"Integer"},
        "dockerRegistryVolumeIops":{"shape":"Integer"}
      }
    },
    "ebsProviderConfig":{
      "type":"structure",
      "members": {
        "ebsProviderRequired":{"shape":"Boolean"},
        "ebsUser":{"shape":"String"}
      }
    },
    "nlbProviderConfig":{
      "type":"structure",
      "members": {
        "nlbProviderRequired":{"shape":"Boolean"},
        "nlbUser":{"shape":"String"}
      }
    },
    "ErrorCode":{
      "type":"string",
      "enum":[
        "SubnetNotFound",
        "SecurityGroupNotFound",
        "EniLimitReached",
        "IpNotAvailable",
        "AccessDenied",
        "OperationNotPermitted",
        "VpcIdNotFound",
        "Unknown",
        "NodeCreationFailure",
        "PodEvictionFailure",
        "InsufficientFreeAddresses",
        "ClusterUnreachable",
        "InsufficientNumberOfReplicas",
        "ConfigurationConflict"
      ]
    },
    "ErrorDetail":{
      "type":"structure",
      "members":{
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>A brief description of the error. </p> <ul> <li> <p> <b>SubnetNotFound</b>: We couldn't find one of the subnets associated with the cluster.</p> </li> <li> <p> <b>SecurityGroupNotFound</b>: We couldn't find one of the security groups associated with the cluster.</p> </li> <li> <p> <b>EniLimitReached</b>: You have reached the elastic network interface limit for your account.</p> </li> <li> <p> <b>IpNotAvailable</b>: A subnet associated with the cluster doesn't have any free IP addresses.</p> </li> <li> <p> <b>AccessDenied</b>: You don't have permissions to perform the specified operation.</p> </li> <li> <p> <b>OperationNotPermitted</b>: The service role associated with the cluster doesn't have the required access permissions for Amazon EKS.</p> </li> <li> <p> <b>VpcIdNotFound</b>: We couldn't find the VPC associated with the cluster.</p> </li> </ul>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>A more complete description of the error.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>An optional field that contains the resource IDs associated with the error.</p>"
        }
      },
      "documentation":"<p>An object representing an error when an asynchronous operation fails.</p>"
    },
    "ErrorDetails":{
      "type":"list",
      "member":{"shape":"ErrorDetail"}
    },
    "ClusterNotReady":{
      "type":"structure",
      "members":{
        "Message": {"shape": "String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "IncludeClustersList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ingressConfig":{
      "type":"structure",
      "members":{
        "ingressRequired":{"shape":"Boolean"},
        "ingressPublicIp":{"shape":"String"},
        "ingressInstanceType":{"shape":"String"},
        "ingressVolumeType":{"shape":"String"},
        "ingressVolumeSize":{"shape":"Integer"},
        "ingressVolumeIops":{"shape":"Integer"}
      }
    },
    "Integer":{"type":"integer"},
    "InvalidParameterException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The Fargate profile associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidRequestException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request is invalid given the state of the cluster. Check the state of the cluster and the associated operations.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Issue":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"NodegroupIssueCode",
          "documentation":"<p>A brief description of the error.</p> <ul> <li> <p> <b>AccessDenied</b>: Amazon EKS or one or more of your managed nodes is failing to authenticate or authorize with your Kubernetes cluster API server.</p> </li> <li> <p> <b>AsgInstanceLaunchFailures</b>: Your Auto Scaling group is experiencing failures while attempting to launch instances.</p> </li> <li> <p> <b>AutoScalingGroupNotFound</b>: We couldn't find the Auto Scaling group associated with the managed node group. You may be able to recreate an Auto Scaling group with the same settings to recover.</p> </li> <li> <p> <b>ClusterUnreachable</b>: Amazon EKS or one or more of your managed nodes is unable to to communicate with your Kubernetes cluster API server. This can happen if there are network disruptions or if API servers are timing out processing requests. </p> </li> <li> <p> <b>Ec2LaunchTemplateNotFound</b>: We couldn't find the Amazon EC2 launch template for your managed node group. You may be able to recreate a launch template with the same settings to recover.</p> </li> <li> <p> <b>Ec2LaunchTemplateVersionMismatch</b>: The Amazon EC2 launch template version for your managed node group does not match the version that Amazon EKS created. You may be able to revert to the version that Amazon EKS created to recover.</p> </li> <li> <p> <b>Ec2SecurityGroupDeletionFailure</b>: We could not delete the remote access security group for your managed node group. Remove any dependencies from the security group.</p> </li> <li> <p> <b>Ec2SecurityGroupNotFound</b>: We couldn't find the cluster security group for the cluster. You must recreate your cluster.</p> </li> <li> <p> <b>Ec2SubnetInvalidConfiguration</b>: One or more Amazon EC2 subnets specified for a node group do not automatically assign public IP addresses to instances launched into it. If you want your instances to be assigned a public IP address, then you need to enable the <code>auto-assign public IP address</code> setting for the subnet. See <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-ip-addressing.html#subnet-public-ip\">Modifying the public IPv4 addressing attribute for your subnet</a> in the Amazon VPC User Guide.</p> </li> <li> <p> <b>IamInstanceProfileNotFound</b>: We couldn't find the IAM instance profile for your managed node group. You may be able to recreate an instance profile with the same settings to recover.</p> </li> <li> <p> <b>IamNodeRoleNotFound</b>: We couldn't find the IAM role for your managed node group. You may be able to recreate an IAM role with the same settings to recover.</p> </li> <li> <p> <b>InstanceLimitExceeded</b>: Your AWS account is unable to launch any more instances of the specified instance type. You may be able to request an Amazon EC2 instance limit increase to recover.</p> </li> <li> <p> <b>InsufficientFreeAddresses</b>: One or more of the subnets associated with your managed node group does not have enough available IP addresses for new nodes.</p> </li> <li> <p> <b>InternalFailure</b>: These errors are usually caused by an Amazon EKS server-side issue.</p> </li> <li> <p> <b>NodeCreationFailure</b>: Your launched instances are unable to register with your Amazon EKS cluster. Common causes of this failure are insufficient <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/worker_node_IAM_role.html\">node IAM role</a> permissions or lack of outbound internet access for the nodes. </p> </li> </ul>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>The error message associated with the issue.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>The AWS resources that are afflicted by this issue.</p>"
        }
      },
      "documentation":"<p>An object representing an issue with an Amazon EKS resource.</p>"
    },
    "IssueList":{
      "type":"list",
      "member":{"shape":"Issue"}
    },
    "KubernetesNetworkConfigRequest":{
      "type":"structure",
      "members":{
        "podIpv4Cidr":{
          "shape":"String",
          "documentation":"<p>The CIDR block to assign Kubernetes service IP addresses from. If you don't specify a block, Kubernetes assigns addresses from either the 10.100.0.0/16 or 172.20.0.0/16 CIDR blocks. We recommend that you specify a block that does not overlap with resources in other networks that are peered or connected to your VPC. The block must meet the following requirements:</p> <ul> <li> <p>Within one of the following private IP address blocks: 10.0.0.0/8, 172.16.0.0.0/12, or 192.168.0.0/16.</p> </li> <li> <p>Doesn't overlap with any CIDR block assigned to the VPC that you selected for VPC.</p> </li> <li> <p>Between /24 and /12.</p> </li> </ul> <important> <p>You can only specify a custom CIDR block when you create a cluster and can't change this value once the cluster is created.</p> </important>"
        },
        "serviceIpv4Cidr":{
          "shape":"String",
          "documentation":"<p>The CIDR block to assign Kubernetes service IP addresses from. If you don't specify a block, Kubernetes assigns addresses from either the 10.100.0.0/16 or 172.20.0.0/16 CIDR blocks. We recommend that you specify a block that does not overlap with resources in other networks that are peered or connected to your VPC. The block must meet the following requirements:</p> <ul> <li> <p>Within one of the following private IP address blocks: 10.0.0.0/8, 172.16.0.0.0/12, or 192.168.0.0/16.</p> </li> <li> <p>Doesn't overlap with any CIDR block assigned to the VPC that you selected for VPC.</p> </li> <li> <p>Between /24 and /12.</p> </li> </ul> <important> <p>You can only specify a custom CIDR block when you create a cluster and can't change this value once the cluster is created.</p> </important>"
        },
        "serviceIpv6Cidr":{
          "shape":"String"
        },
        "ipFamily":{
          "shape":"String"
        }
      },
      "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
    },
    "KubernetesNetworkConfigResponse":{
      "type":"structure",
      "members":{
        "podIpv4Cidr":{
          "shape":"String",
          "documentation":"<p>The CIDR block to assign Kubernetes service IP addresses from. If you don't specify a block, Kubernetes assigns addresses from either the 10.100.0.0/16 or 172.20.0.0/16 CIDR blocks. We recommend that you specify a block that does not overlap with resources in other networks that are peered or connected to your VPC. The block must meet the following requirements:</p> <ul> <li> <p>Within one of the following private IP address blocks: 10.0.0.0/8, 172.16.0.0.0/12, or 192.168.0.0/16.</p> </li> <li> <p>Doesn't overlap with any CIDR block assigned to the VPC that you selected for VPC.</p> </li> <li> <p>Between /24 and /12.</p> </li> </ul> <important> <p>You can only specify a custom CIDR block when you create a cluster and can't change this value once the cluster is created.</p> </important>"
        },
        "serviceIpv4Cidr":{
          "shape":"String",
          "documentation":"<p>The CIDR block that Kubernetes service IP addresses are assigned from. If you didn't specify a CIDR block when you created the cluster, then Kubernetes assigns addresses from either the 10.100.0.0/16 or 172.20.0.0/16 CIDR blocks. If this was specified, then it was specified when the cluster was created and it cannot be changed.</p>"
        },
        "ipFamily":{
          "shape":"String"
        },
        "serviceIpv6Cidr":{
          "shape":"String"
        }
      },
      "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
    },
    "LaunchTemplateSpecification":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the launch template.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The version of the launch template to use. If no version is specified, then the template's default version is used.</p>"
        },
        "id":{
          "shape":"String",
          "documentation":"<p>The ID of the launch template.</p>"
        }
      },
      "documentation":"<p>An object representing a node group launch template specification. The launch template cannot include <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateNetworkInterface.html\"> <code>SubnetId</code> </a>, <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_IamInstanceProfile.html\"> <code>IamInstanceProfile</code> </a>, <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_RequestSpotInstances.html\"> <code>RequestSpotInstances</code> </a>, <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_HibernationOptionsRequest.html\"> <code>HibernationOptions</code> </a>, or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_TerminateInstances.html\"> <code>TerminateInstances</code> </a>, or the node group deployment or update will fail. For more information about launch templates, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateLaunchTemplate.html\"> <code>CreateLaunchTemplate</code> </a> in the Amazon EC2 API Reference. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p> <p>Specify either <code>name</code> or <code>id</code>, but not both.</p>"
    },
    "legacyClusterParams":{
      "type":"structure",
      "required":[
        "masterConfig"
      ],
      "members":{
        "masterConfig":{
          "shape":"masterConfig",
          "documentation":"<p>The Kubernetes master configuration for the cluster.</p>"
        },
        "ingressConfig":{
          "shape":"ingressConfig",
          "documentation":"<p>The Kubernetes ingress configuration for the cluster.</p>"
        },
        "dockerRegistryConfig":{
          "shape":"dockerRegistryConfig",
          "documentation":"<p>The Kubernetes docker registry configuration for the cluster.</p>"
        },
        "ebsProviderConfig":{
          "shape":"ebsProviderConfig",
          "documentation":"<p>The Kubernetes ebs provider configuration for the cluster</p>"
        },
        "nlbProviderConfig":{
          "shape":"nlbProviderConfig",
          "documentation":"<p>The Kubernetes nlb provider configuration for the cluster</p>"
        },
        "userDataConfig":{
          "shape":"userDataConfig",
          "documentation":"<p>The Kubernetes userData configuration for the cluster</p>"
        },
        "placementGroupsConfig":{
          "shape":"placementGroupsConfig",
          "documentation":"<p>The Kubernetes placement groups configuration for the cluster</p>"
        }
      }
    },
    "ListClustersRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListClustersRequestMaxResults",
          "documentation":"<p>The maximum number of cluster results returned by <code>ListClusters</code> in paginated output. When you use this parameter, <code>ListClusters</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListClusters</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListClusters</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListClusters</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p> <note> <p>This token should be treated as an opaque identifier that is used only to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "locationName":"nextToken"
        }
      }
    },
    "ListClustersRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListClustersResponse":{
      "type":"structure",
      "members":{
        "clusters":{
          "shape":"StringList",
          "documentation":"<p>A list of all of the clusters for your account in the specified Region.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListClusters</code> request. When the results of a <code>ListClusters</code> request exceed <code>maxResults</code>, you can use this value to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListFargateProfilesRequest":{
      "type":"structure",
      "required":["clusterName"],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that you would like to listFargate profiles in.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{
          "shape":"FargateProfilesRequestMaxResults",
          "documentation":"<p>The maximum number of Fargate profile results returned by <code>ListFargateProfiles</code> in paginated output. When you use this parameter, <code>ListFargateProfiles</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListFargateProfiles</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListFargateProfiles</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListFargateProfiles</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListFargateProfilesResponse":{
      "type":"structure",
      "members":{
        "fargateProfileNames":{
          "shape":"StringList",
          "documentation":"<p>A list of all of the Fargate profiles associated with the specified cluster.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListFargateProfiles</code> request. When the results of a <code>ListFargateProfiles</code> request exceed <code>maxResults</code>, you can use this value to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListIdentityProviderConfigsRequest":{
      "type":"structure",
      "required":["clusterName"],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The cluster name that you want to list identity provider configurations for.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{
          "shape":"ListIdentityProviderConfigsRequestMaxResults",
          "documentation":"<p>The maximum number of identity provider configurations returned by <code>ListIdentityProviderConfigs</code> in paginated output. When you use this parameter, <code>ListIdentityProviderConfigs</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListIdentityProviderConfigs</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListIdentityProviderConfigs</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>IdentityProviderConfigsRequest</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListIdentityProviderConfigsRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListIdentityProviderConfigsResponse":{
      "type":"structure",
      "members":{
        "identityProviderConfigs":{
          "shape":"IdentityProviderConfigs",
          "documentation":"<p>The identity provider configurations for the cluster.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListIdentityProviderConfigsResponse</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>"
        }
      }
    },
    "ListNodegroupsRequest":{
      "type":"structure",
      "required":["clusterName"],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that you would like to list node groups in.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "maxResults":{
          "shape":"ListNodegroupsRequestMaxResults",
          "documentation":"<p>The maximum number of node group results returned by <code>ListNodegroups</code> in paginated output. When you use this parameter, <code>ListNodegroups</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListNodegroups</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListNodegroups</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListNodegroups</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>"
        }
      }
    },
    "ListNodegroupsRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListNodegroupsResponse":{
      "type":"structure",
      "members":{
        "nodegroups":{
          "shape":"StringList",
          "documentation":"<p>A list of all of the node groups associated with the specified cluster.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListNodegroups</code> request. When the results of a <code>ListNodegroups</code> request exceed <code>maxResults</code>, you can use this value to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the resource for which to list the tags. Currently, the supported resources are Amazon EKS clusters and managed node groups.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags for the resource.</p>"
        }
      }
    },
    "ListUpdatesRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster to list updates for.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS managed node group to list updates for.</p>",
          "location":"querystring",
          "locationName":"nodegroupName"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The names of the installed add-ons that have available updates.</p>",
          "location":"querystring",
          "locationName":"addonName"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>ListUpdates</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListUpdatesRequestMaxResults",
          "documentation":"<p>The maximum number of update results returned by <code>ListUpdates</code> in paginated output. When you use this parameter, <code>ListUpdates</code> returns only <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. You can see the remaining results of the initial request by sending another <code>ListUpdates</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If you don't use this parameter, <code>ListUpdates</code> returns up to 100 results and a <code>nextToken</code> value if applicable.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListUpdatesRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListUpdatesResponse":{
      "type":"structure",
      "members":{
        "updateIds":{
          "shape":"StringList",
          "documentation":"<p>A list of all the updates for the specified cluster and Region.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>ListUpdates</code> request. When the results of a <code>ListUpdates</code> request exceed <code>maxResults</code>, you can use this value to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "LogSetup":{
      "type":"structure",
      "members":{
        "types":{
          "shape":"LogTypes",
          "documentation":"<p>The available cluster control plane log types.</p>"
        },
        "enabled":{
          "shape":"BoxedBoolean",
          "documentation":"<p>If a log type is enabled, that log type exports its control plane logs to CloudWatch Logs. If a log type isn't enabled, that log type doesn't export its control plane logs. Each individual log type can be enabled or disabled independently.</p>"
        }
      },
      "documentation":"<p>An object representing the enabled or disabled Kubernetes control plane logs for your cluster.</p>"
    },
    "LogSetups":{
      "type":"list",
      "member":{"shape":"LogSetup"}
    },
    "LogType":{
      "type":"string",
      "enum":[
        "api",
        "audit",
        "authenticator",
        "controllerManager",
        "scheduler"
      ]
    },
    "LogTypes":{
      "type":"list",
      "member":{"shape":"LogType"}
    },
    "Logging":{
      "type":"structure",
      "members":{
        "clusterLogging":{
          "shape":"LogSetups",
          "documentation":"<p>The cluster control plane logging configuration for your cluster.</p>"
        }
      },
      "documentation":"<p>An object representing the logging configuration for resources in your cluster.</p>"
    },
    "masterConfig":{
      "type":"structure",
      "required":[
        "highAvailability",
        "mastersInstanceType",
        "mastersVolumeType",
        "mastersVolumeSize"
      ],
      "members":{
        "highAvailability":{"shape":"Boolean"},
        "mastersInstanceType":{"shape":"String"},
        "mastersVolumeType":{"shape":"String"},
        "mastersVolumeSize":{"shape":"Integer"},
        "mastersVolumeIops":{"shape":"Integer"},
        "masterPublicIp":{"shape":"String"}
      }
    },
    "Nodegroup":{
      "type":"structure",
      "members":{
        "diskSize":{
          "shape":"BoxedInteger",
          "documentation":"<p>The root device disk size (in GiB) for your node group instances. The default disk size is 20 GiB for Linux. If you specify <code>launchTemplate</code>, then don't specify <code>diskSize</code>, or the node group deployment will fail.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name associated with an Amazon EKS managed node group.</p>"
        },
        "nodegroupArn":{
          "shape":"String",
          "documentation":"<p>The id associated with an Amazon EKS managed node group.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster that the managed node group resides in.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the managed node group was created.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the managed node group was last modified.</p>"
        },
        "status":{
          "shape":"NodegroupStatus",
          "documentation":"<p>The current status of the managed node group.</p>"
        },
        "remoteAccess":{
          "shape":"RemoteAccessConfig",
          "documentation":"<p>An object representing the remote access configuration for the Kubernetes node group.</p>"
        },
        "capacityType":{
          "shape":"CapacityTypes",
          "documentation":"<p>The capacity type of your managed node group.</p>"
        },
        "scalingConfig":{
          "shape":"NodegroupScalingConfig",
          "documentation":"<p>The scaling configuration details for the Auto Scaling group that is associated with your node group.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The subnets that were specified for the Auto Scaling group that is associated with your node group.</p>"
        },
        "labels":{
          "shape":"labelsMap",
          "documentation":"<p>The Kubernetes labels applied to the nodes in the node group.</p> <note> <p>Only labels that are applied with the Amazon EKS API are shown here. There may be other Kubernetes labels applied to the nodes in this group.</p> </note>"
        },
        "taints":{
          "shape":"taintsList",
          "documentation":"<p>The Kubernetes taints to be applied to the nodes in the node group when they are created. Effect is one of <code>No_Schedule</code>, <code>Prefer_No_Schedule</code>, or <code>No_Execute</code>. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/node-taints-managed-node-groups.html\">Node taints on managed node groups</a>.</p>"
        },
        "resources":{
          "shape":"NodegroupResources",
          "documentation":"<p>The resources associated with the node group, such as Auto Scaling groups and security groups for remote access.</p>"
        },
        "health":{
          "shape":"NodegroupHealth",
          "documentation":"<p>The health status of the node group. If there are issues with your node group's health, they are listed here.</p>"
        },
        "launchTemplate":{
          "shape":"LaunchTemplateSpecification",
          "documentation":"<p>If a launch template was used to create the node group, then this is the launch template that was used.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata applied to the node group to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Node group tags do not propagate to any other resources associated with the node group, such as the Amazon EC2 instances or subnets. </p>"
        }
      },
      "documentation":"<p>An object representing an Amazon EKS managed node group.</p>"
    },
    "NodegroupHealth":{
      "type":"structure",
      "members":{
        "issues":{
          "shape":"IssueList",
          "documentation":"<p>Any issues that are associated with the node group. </p>"
        }
      },
      "documentation":"<p>An object representing the health status of the node group.</p>"
    },
    "NodegroupIssueCode":{
      "type":"string",
      "enum":[
        "AutoScalingGroupNotFound",
        "AutoScalingGroupInvalidConfiguration",
        "Ec2SecurityGroupNotFound",
        "Ec2SecurityGroupDeletionFailure",
        "Ec2LaunchTemplateNotFound",
        "Ec2LaunchTemplateVersionMismatch",
        "Ec2SubnetNotFound",
        "Ec2SubnetInvalidConfiguration",
        "IamInstanceProfileNotFound",
        "IamLimitExceeded",
        "IamNodeRoleNotFound",
        "NodeCreationFailure",
        "AsgInstanceLaunchFailures",
        "InstanceLimitExceeded",
        "InsufficientFreeAddresses",
        "AccessDenied",
        "InternalFailure",
        "ClusterUnreachable"
      ]
    },
    "NodegroupResources":{
      "type":"structure",
      "members":{
        "autoScalingGroups":{
          "shape":"AutoScalingGroupList",
          "documentation":"<p>The Auto Scaling groups associated with the node group.</p>"
        },
        "remoteAccessSecurityGroup":{
          "shape":"String",
          "documentation":"<p>The remote access security group associated with the node group. This security group controls SSH access to the nodes.</p>"
        }
      },
      "documentation":"<p>An object representing the resources associated with the node group, such as Auto Scaling groups and security groups for remote access.</p>"
    },
    "NodegroupScalingConfig":{
      "type":"structure",
      "members":{
        "minSize":{
          "shape":"Capacity",
          "documentation":"<p>The minimum number of nodes that the managed node group can scale in to. This number must be greater than zero.</p>"
        },
        "maxSize":{
          "shape":"Capacity",
          "documentation":"<p>The maximum number of nodes that the managed node group can scale out to. For information about the maximum number that you can specify, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/service-quotas.html\">Amazon EKS service quotas</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "desiredSize":{
          "shape":"Capacity",
          "documentation":"<p>The current number of nodes that the managed node group should maintain.</p>"
        }
      },
      "documentation":"<p>An object representing the scaling configuration details for the Auto Scaling group that is associated with your node group. If you specify a value for any property, then you must specify values for all of the properties.</p>"
    },
    "NodegroupStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "CREATE_FAILED",
        "DELETE_FAILED",
        "DEGRADED",
        "CLAIMED",
        "DELETED",
        "PENDING",
        "PROVISIONING"
      ]
    },
    "NodegroupUpdateConfig":{
      "type":"structure",
      "members":{
        "maxUnavailable":{
          "shape":"NonZeroInteger",
          "documentation":"<p>The maximum number of nodes unavailable at once during a version update. Nodes will be updated in parallel. This value or <code>maxUnavailablePercentage</code> is required to have a value.The maximum number is 100.</p>"
        },
        "maxUnavailablePercentage":{
          "shape":"PercentCapacity",
          "documentation":"<p>The maximum percentage of nodes unavailable during a version update. This percentage of nodes will be updated in parallel, up to 100 nodes at once. This value or <code>maxUnavailable</code> is required to have a value.</p>"
        }
      },
      "documentation":"<p>The node group update configuration.</p>"
    },
    "NonZeroInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "NotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>A service resource associated with the request could not be found. Clients should not retry such requests.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "OIDC":{
      "type":"structure",
      "members":{
        "issuer":{
          "shape":"String",
          "documentation":"<p>The issuer URL for the OIDC identity provider.</p>"
        }
      },
      "documentation":"<p>An object representing the <a href=\"https://openid.net/connect/\">OpenID Connect</a> (OIDC) identity provider information for the cluster.</p>"
    },
    "OidcIdentityProviderConfig":{
      "type":"structure",
      "members":{
        "identityProviderConfigName":{
          "shape":"String",
          "documentation":"<p>The name of the configuration.</p>"
        },
        "identityProviderConfigArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the configuration.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The cluster that the configuration is associated to.</p>"
        },
        "issuerUrl":{
          "shape":"String",
          "documentation":"<p>The URL of the OIDC identity provider that allows the API server to discover public signing keys for verifying tokens.</p>"
        },
        "clientId":{
          "shape":"String",
          "documentation":"<p>This is also known as <i>audience</i>. The ID of the client application that makes authentication requests to the OIDC identity provider.</p>"
        },
        "usernameClaim":{
          "shape":"String",
          "documentation":"<p>The JSON Web token (JWT) claim that is used as the username.</p>"
        },
        "usernamePrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that is prepended to username claims to prevent clashes with existing names. The prefix can't contain <code>system:</code> </p>"
        },
        "groupsClaim":{
          "shape":"String",
          "documentation":"<p>The JSON web token (JWT) claim that the provider uses to return your groups.</p>"
        },
        "groupsPrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that is prepended to group claims to prevent clashes with existing names (such as <code>system:</code> groups). For example, the value<code> oidc:</code> creates group names like <code>oidc:engineering</code> and <code>oidc:infra</code>. The prefix can't contain <code>system:</code> </p>"
        },
        "requiredClaims":{
          "shape":"requiredClaimsMap",
          "documentation":"<p>The key-value pairs that describe required claims in the identity token. If set, each claim is verified to be present in the token with a matching value.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the provider configuration to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you defined.</p>"
        },
        "status":{
          "shape":"configStatus",
          "documentation":"<p>The status of the OIDC identity provider.</p>"
        }
      },
      "documentation":"<p>An object that represents the configuration for an OpenID Connect (OIDC) identity provider. </p>"
    },
    "OidcIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "identityProviderConfigName",
        "issuerUrl",
        "clientId"
      ],
      "members":{
        "identityProviderConfigName":{
          "shape":"String",
          "documentation":"<p>The name of the OIDC provider configuration.</p>"
        },
        "issuerUrl":{
          "shape":"String",
          "documentation":"<p>The URL of the OpenID identity provider that allows the API server to discover public signing keys for verifying tokens. The URL must begin with <code>https://</code> and should correspond to the <code>iss</code> claim in the provider's OIDC ID tokens. Per the OIDC standard, path components are allowed but query parameters are not. Typically the URL consists of only a hostname, like <code>https://server.example.org</code> or <code>https://example.com</code>. This URL should point to the level below <code>.well-known/openid-configuration</code> and must be publicly accessible over the internet.</p>"
        },
        "clientId":{
          "shape":"String",
          "documentation":"<p>This is also known as <i>audience</i>. The ID for the client application that makes authentication requests to the OpenID identity provider.</p>"
        },
        "usernameClaim":{
          "shape":"String",
          "documentation":"<p>The JSON Web Token (JWT) claim to use as the username. The default is <code>sub</code>, which is expected to be a unique identifier of the end user. You can choose other claims, such as <code>email</code> or <code>name</code>, depending on the OpenID identity provider. Claims other than <code>email</code> are prefixed with the issuer URL to prevent naming clashes with other plug-ins.</p>"
        },
        "usernamePrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that is prepended to username claims to prevent clashes with existing names. If you do not provide this field, and <code>username</code> is a value other than <code>email</code>, the prefix defaults to <code>issuerurl#</code>. You can use the value <code>-</code> to disable all prefixing.</p>"
        },
        "groupsClaim":{
          "shape":"String",
          "documentation":"<p>The JWT claim that the provider uses to return your groups.</p>"
        },
        "groupsPrefix":{
          "shape":"String",
          "documentation":"<p>The prefix that is prepended to group claims to prevent clashes with existing names (such as <code>system:</code> groups). For example, the value<code> oidc:</code> will create group names like <code>oidc:engineering</code> and <code>oidc:infra</code>.</p>"
        },
        "requiredClaims":{
          "shape":"requiredClaimsMap",
          "documentation":"<p>The key value pairs that describe required claims in the identity token. If set, each claim is verified to be present in the token with a matching value. For the maximum number of claims that you can require, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/service-quotas.html\">Amazon EKS service quotas</a> in the <i>Amazon EKS User Guide</i>.</p>"
        }
      },
      "documentation":"<p>An object representing an OpenID Connect (OIDC) configuration. Before associating an OIDC identity provider to your cluster, review the considerations in <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/authenticate-oidc-identity-provider.html\">Authenticating users for your cluster from an OpenID Connect identity provider</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "Provider":{
      "type":"structure",
      "members":{
        "keyArn":{
          "shape":"String",
          "documentation":"<p>Amazon Resource Name (ARN) or alias of the customer master key (CMK). The CMK must be symmetric, created in the same region as the cluster, and if the CMK was created in a different account, the user must have access to the CMK. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policy-modifying-external-accounts.html\">Allowing Users in Other Accounts to Use a CMK</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      },
      "documentation":"<p>Identifies the AWS Key Management Service (AWS KMS) customer master key (CMK) used to encrypt the secrets.</p>"
    },
    "PercentCapacity":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "placementGroupsConfig":{
      "type":"structure",
      "members":{
        "usePlacementGroups":{"shape":"Boolean"}
      }
    },
    "RemoteAccessConfig":{
      "type":"structure",
      "members":{
        "ec2SshKey":{
          "shape":"String",
          "documentation":"<p>The Amazon EC2 SSH key that provides access for SSH communication with the nodes in the managed node group. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html\">Amazon EC2 Key Pairs</a> in the <i>Amazon Elastic Compute Cloud User Guide for Linux Instances</i>.</p>"
        },
        "sourceSecurityGroups":{
          "shape":"StringList",
          "documentation":"<p>The security groups that are allowed SSH access (port 22) to the nodes. If you specify an Amazon EC2 SSH key but do not specify a source security group when you create a managed node group, then port 22 on the nodes is opened to the internet (0.0.0.0/0). For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p>"
        }
      },
      "documentation":"<p>An object representing the remote access configuration for the managed node group.</p>"
    },
    "ResizeClusterRequest":{
      "type":"structure",
      "required":[
        "name",
        "workers_quantity"],
      "members":{
        "name":{
          "shape":"String",
          "location":"uri",
          "locationName":"name"
        },
        "workers_quantity":{"shape":"Integer"}
      }
    },
    "ModifyCertAutoUpdateRequest":{
      "type":"structure",
      "members":{
        "name": {
          "shape":"String",
          "documentation":"<p>The name of the cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "auto_update_certificates":{"shape":"Boolean"}
      }
    },
    "ModifyCertAutoUpdateResponse":{
      "type":"structure",
      "members":{
        "auto_update_certificates":{"shape":"Boolean"}
      }
    },
    "ModifySecurityGroupsRequest":{
      "type":"structure",
      "required":[
        "name",
        "security_group_ids"
      ],
      "members":{
        "name":{
          "shape":"String",
          "location":"uri",
          "locationName":"name"
        },
        "security_group_ids":{"shape":"StringList"}
      }
    },
    "ModifySecurityGroupsResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your modified cluster.</p>"
        }
      }
    },
    "ModifyUserDataRequest":{
      "type": "structure",
      "required":[
        "name"
      ],
      "members":{
        "name":{
          "shape": "String",
          "location": "uri",
          "locationName": "name"
        },
        "user_data":{"shape":"String"},
        "user_data_content_type":{"shape":"String"}
      }
    },
    "ModifyUserDataResponse":{
      "type": "structure",
      "members":{
        "cluster":{
          "shape": "Cluster",
          "documentation": "<p>The full description of your modified cluster.</p>"
        }
      }
    },
    "ModifyWorkersInstanceTypeRequest": {
      "type": "structure",
      "required": [
        "name",
        "workers_instance_type"
      ],
      "members":{
        "name":{
          "shape": "String",
          "location": "uri",
          "locationName": "name"
        },
        "workers_instance_type":{"shape": "String"}
      }
    },
    "ModifyWorkersInstanceTypeResponse": {
      "type": "structure",
      "members": {
        "cluster": {
          "shape": "Cluster",
          "documentation": "<p>The full description of your modified cluster.</p>"
        }
      }
    },
    "ResizeClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"Cluster"}
      }
    },
    "ResolveConflicts":{
      "type":"string",
      "enum":[
        "OVERWRITE",
        "NONE"
      ]
    },
    "ResourceInUseException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified resource is in use.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ResourceLimitExceededException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "message":{"shape":"String"}
      },
      "documentation":"<p>You have encountered a service limit on the specified resource.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The Fargate profile associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified resource could not be found. You can view your available clusters with <a>ListClusters</a>. You can view your available managed node groups with <a>ListNodegroups</a>. Amazon EKS clusters and node groups are Region-specific.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ServerException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>These errors are usually caused by a server-side issue.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "ServiceUnavailableException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The service is unavailable. Back off and retry the operation.</p>",
      "error":{"httpStatusCode":503},
      "exception":true,
      "fault":true
    },
    "String":{"type":"string"},
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":1
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":50,
      "min":1
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource to which to add tags. Currently, the supported resources are Amazon EKS clusters and managed node groups.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the resource. A tag is an array of key-value pairs.</p>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256
    },
    "Taint":{
      "type":"structure",
      "members":{
        "key":{
          "shape":"taintKey",
          "documentation":"<p>The key of the taint.</p>"
        },
        "value":{
          "shape":"taintValue",
          "documentation":"<p>The value of the taint.</p>"
        },
        "effect":{
          "shape":"TaintEffect",
          "documentation":"<p>The effect of the taint.</p>"
        }
      },
      "documentation":"<p>A property that allows a node to repel a set of pods. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/node-taints-managed-node-groups.html\">Node taints on managed node groups</a>.</p>"
    },
    "TaintEffect":{
      "type":"string",
      "enum":[
        "NO_SCHEDULE",
        "NO_EXECUTE",
        "PREFER_NO_SCHEDULE"
      ]
    },
    "Timestamp":{"type":"timestamp"},
    "UnsupportedAvailabilityZoneException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "validZones":{
          "shape":"StringList",
          "documentation":"<p>The supported Availability Zones for your account. Choose subnets in these Availability Zones for your cluster.</p>"
        }
      },
      "documentation":"<p>At least one of your specified cluster subnets is in an Availability Zone that does not support Amazon EKS. The exception output specifies the supported Availability Zones for your account, from which you can choose subnets for your cluster.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource from which to delete tags. Currently, the supported resources are Amazon EKS clusters and managed node groups.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>The keys of the tags to be removed.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Update":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>A UUID that is used to track the update.</p>"
        },
        "status":{
          "shape":"UpdateStatus",
          "documentation":"<p>The current status of the update.</p>"
        },
        "type":{
          "shape":"UpdateType",
          "documentation":"<p>The type of the update.</p>"
        },
        "params":{
          "shape":"UpdateParams",
          "documentation":"<p>A key-value map that contains the parameters associated with the update.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the update was created.</p>"
        },
        "errors":{
          "shape":"ErrorDetails",
          "documentation":"<p>Any errors associated with a <code>Failed</code> update.</p>"
        }
      },
      "documentation":"<p>An object representing an asynchronous update.</p>"
    },
    "UpdateClusterConfigRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster to update.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "resourcesVpcConfig":{
          "shape":"VpcConfigRequest"
        },
        "logging":{
          "shape":"Logging",
          "documentation":"<p>Enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs aren't exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster Control Plane Logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> </note>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "UpdateClusterConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"}
      }
    },
    "UpdateClusterVersionRequest":{
      "type":"structure",
      "required":[
        "name",
        "version"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster to update.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The desired Kubernetes version following a successful update.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "UpdateClusterVersionResponse":{
      "type":"structure",
      "members":{
        "update":{
          "shape":"Update",
          "documentation":"<p>The full description of the specified update</p>"
        }
      }
    },
    "UpdateLabelsPayload":{
      "type":"structure",
      "members":{
        "addOrUpdateLabels":{
          "shape":"labelsMap",
          "documentation":"<p>Kubernetes labels to be added or updated.</p>"
        },
        "removeLabels":{
          "shape":"labelsKeyList",
          "documentation":"<p>Kubernetes labels to be removed.</p>"
        }
      },
      "documentation":"<p>An object representing a Kubernetes label change for a managed node group.</p>"
    },
    "UpdateNodegroupConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that the managed node group resides in.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the managed node group to update.</p>",
          "location":"uri",
          "locationName":"nodegroupName"
        },
        "labels":{
          "shape":"UpdateLabelsPayload",
          "documentation":"<p>The Kubernetes labels to be applied to the nodes in the node group after the update.</p>"
        },
        "taints":{
          "shape":"UpdateTaintsPayload",
          "documentation":"<p>The Kubernetes taints to be applied to the nodes in the node group after the update. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/node-taints-managed-node-groups.html\">Node taints on managed node groups</a>.</p>"
        },
        "scalingConfig":{
          "shape":"NodegroupScalingConfig",
          "documentation":"<p>The scaling configuration details for the Auto Scaling group after the update.</p>"
        },
        "updateConfig":{
          "shape":"NodegroupUpdateConfig",
          "documentation":"<p>The node group update configuration.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "UpdateNodegroupConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"}
      }
    },
    "UpdateNodegroupVersionRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that is associated with the managed node group to update.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the managed node group to update.</p>",
          "location":"uri",
[...]
