{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-11-15",
    "endpointPrefix":"backup",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS Backup",
    "serviceId":"Backup",
    "signatureVersion":"v4",
    "uid":"backup-2018-11-15"
  },
  "operations":{
    "CreateBackupPlan":{
      "name":"CreateBackupPlan",
      "http":{
        "method":"PUT",
        "requestUri":"/backup/plans/"
      },
      "input":{"shape":"CreateBackupPlanInput"},
      "output":{"shape":"CreateBackupPlanOutput"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a backup plan using a backup plan name and backup rules. A backup plan is a document that contains information that AWS Backup uses to schedule tasks that create recovery points for resources.</p> <p>If you call <code>CreateBackupPlan</code> with a plan that already exists, an <code>AlreadyExistsException</code> is returned.</p>",
      "idempotent":true
    },
    "CreateBackupSelection":{
      "name":"CreateBackupSelection",
      "http":{
        "method":"PUT",
        "requestUri":"/backup/plans/{backupPlanId}/selections/"
      },
      "input":{"shape":"CreateBackupSelectionInput"},
      "output":{"shape":"CreateBackupSelectionOutput"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a JSON document that specifies a set of resources to assign to a backup plan. Resources can be included by specifying patterns for a <code>ListOfTags</code> and selected <code>Resources</code>. </p> <p>For example, consider the following patterns:</p> <ul> <li> <p> <code>Resources: \"arn:aws:ec2:region:account-id:volume/volume-id\"</code> </p> </li> <li> <p> <code>ConditionKey:\"department\"</code> </p> <p> <code>ConditionValue:\"finance\"</code> </p> <p> <code>ConditionType:\"StringEquals\"</code> </p> </li> <li> <p> <code>ConditionKey:\"importance\"</code> </p> <p> <code>ConditionValue:\"critical\"</code> </p> <p> <code>ConditionType:\"StringEquals\"</code> </p> </li> </ul> <p>Using these patterns would back up all Amazon Elastic Block Store (Amazon EBS) volumes that are tagged as <code>\"department=finance\"</code>, <code>\"importance=critical\"</code>, in addition to an EBS volume with the specified volume ID.</p> <p>Resources and conditions are additive in that all resources that match the pattern are selected. This shouldn't be confused with a logical AND, where all conditions must match. The matching patterns are logically put together using the OR operator. In other words, all patterns that match are selected for backup.</p>",
      "idempotent":true
    },
    "CreateBackupVault":{
      "name":"CreateBackupVault",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-vaults/{backupVaultName}"
      },
      "input":{"shape":"CreateBackupVaultInput"},
      "output":{"shape":"CreateBackupVaultOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"}
      ],
      "documentation":"<p>Creates a logical container where backups are stored. A <code>CreateBackupVault</code> request includes a name, optionally one or more resource tags, an encryption key, and a request ID.</p> <note> <p>Sensitive data, such as passport numbers, should not be included the name of a backup vault.</p> </note>",
      "idempotent":true
    },
    "CreateRestoreTestingPlan":{
      "name":"CreateRestoreTestingPlan",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-testing/plans",
        "responseCode":201
      },
      "input":{"shape":"CreateRestoreTestingPlanInput"},
      "output":{"shape":"CreateRestoreTestingPlanOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This is the first of two steps to create a restore testing plan; once this request is successful, finish the procedure with request CreateRestoreTestingSelection.</p> <p>You must include the parameter RestoreTestingPlan. You may optionally include CreatorRequestId and Tags.</p>",
      "idempotent":true
    },
    "CreateRestoreTestingSelection":{
      "name":"CreateRestoreTestingSelection",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections",
        "responseCode":201
      },
      "input":{"shape":"CreateRestoreTestingSelectionInput"},
      "output":{"shape":"CreateRestoreTestingSelectionOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request can be sent after CreateRestoreTestingPlan request returns successfully. This is the second part of creating a resource testing plan, and it must be completed sequentially.</p> <p>This consists of <code>RestoreTestingSelectionName</code>, <code>ProtectedResourceType</code>, and one of the following:</p> <ul> <li> <p> <code>ProtectedResourceArns</code> </p> </li> <li> <p> <code>ProtectedResourceConditions</code> </p> </li> </ul> <p>Each protected resource type can have one single value.</p> <p>A restore testing selection can include a wildcard value (\"*\") for <code>ProtectedResourceArns</code> along with <code>ProtectedResourceConditions</code>. Alternatively, you can include up to 30 specific protected resource ARNs in <code>ProtectedResourceArns</code>.</p> <p>Cannot select by both protected resource types AND specific ARNs. Request will fail if both are included.</p>",
      "idempotent":true
    },
    "DeleteBackupPlan":{
      "name":"DeleteBackupPlan",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup/plans/{backupPlanId}"
      },
      "input":{"shape":"DeleteBackupPlanInput"},
      "output":{"shape":"DeleteBackupPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes a backup plan. A backup plan can only be deleted after all associated selections of resources have been deleted. Deleting a backup plan deletes the current version of a backup plan. Previous versions, if any, will still exist.</p>"
    },
    "DeleteBackupSelection":{
      "name":"DeleteBackupSelection",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "input":{"shape":"DeleteBackupSelectionInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes the resource selection associated with a backup plan that is specified by the <code>SelectionId</code>.</p>"
    },
    "DeleteBackupVault":{
      "name":"DeleteBackupVault",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}"
      },
      "input":{"shape":"DeleteBackupVaultInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes the backup vault identified by its name. A vault can be deleted only if it is empty.</p>"
    },
    "DeleteBackupVaultAccessPolicy":{
      "name":"DeleteBackupVaultAccessPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}/access-policy"
      },
      "input":{"shape":"DeleteBackupVaultAccessPolicyInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes the policy document that manages permissions on a backup vault.</p>",
      "idempotent":true
    },
    "DeleteBackupVaultNotifications":{
      "name":"DeleteBackupVaultNotifications",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "input":{"shape":"DeleteBackupVaultNotificationsInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes event notifications for the specified backup vault.</p>",
      "idempotent":true
    },
    "DeleteRecoveryPoint":{
      "name":"DeleteRecoveryPoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "input":{"shape":"DeleteRecoveryPointInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes the recovery point specified by a recovery point ID.</p>",
      "idempotent":true
    },
    "DeleteRestoreTestingPlan":{
      "name":"DeleteRestoreTestingPlan",
      "http":{
        "method":"DELETE",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRestoreTestingPlanInput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request deletes the specified restore testing plan.</p> <p>Deletion can only successfully occur if all associated restore testing selections are deleted first.</p>",
      "idempotent":true
    },
    "DeleteRestoreTestingSelection":{
      "name":"DeleteRestoreTestingSelection",
      "http":{
        "method":"DELETE",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections/{RestoreTestingSelectionName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRestoreTestingSelectionInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Input the Restore Testing Plan name and Restore Testing Selection name.</p> <p>All testing selections associated with a restore testing plan must be deleted before the restore testing plan can be deleted.</p>",
      "idempotent":true
    },
    "DescribeBackupJob":{
      "name":"DescribeBackupJob",
      "http":{
        "method":"GET",
        "requestUri":"/backup-jobs/{backupJobId}"
      },
      "input":{"shape":"DescribeBackupJobInput"},
      "output":{"shape":"DescribeBackupJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Returns backup job details for the specified <code>BackupJobId</code>.</p>",
      "idempotent":true
    },
    "DescribeBackupVault":{
      "name":"DescribeBackupVault",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}"
      },
      "input":{"shape":"DescribeBackupVaultInput"},
      "output":{"shape":"DescribeBackupVaultOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns metadata about a backup vault specified by its name.</p>",
      "idempotent":true
    },
    "DescribeCopyJob":{
      "name":"DescribeCopyJob",
      "http":{
        "method":"GET",
        "requestUri":"/copy-jobs/{copyJobId}"
      },
      "input":{"shape":"DescribeCopyJobInput"},
      "output":{"shape":"DescribeCopyJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns metadata associated with creating a copy of a resource.</p>",
      "idempotent":true
    },
    "DescribeGlobalSettings":{
      "name":"DescribeGlobalSettings",
      "http":{
        "method":"GET",
        "requestUri":"/global-settings"
      },
      "input":{"shape":"DescribeGlobalSettingsInput"},
      "output":{"shape":"DescribeGlobalSettingsOutput"},
      "errors":[
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Describes the global settings of the AWS account, including whether it is opted in to cross-account backup.</p>"
    },
    "DescribeProtectedResource":{
      "name":"DescribeProtectedResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{resourceArn}"
      },
      "input":{"shape":"DescribeProtectedResourceInput"},
      "output":{"shape":"DescribeProtectedResourceOutput"},
      "errors":[
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a saved resource, including the last time it was backed up, its Amazon Resource Name (ARN), and the AWS service type of the saved resource.</p>",
      "idempotent":true
    },
    "DescribeRecoveryPoint":{
      "name":"DescribeRecoveryPoint",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "input":{"shape":"DescribeRecoveryPointInput"},
      "output":{"shape":"DescribeRecoveryPointOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns metadata associated with a recovery point, including ID, status, encryption, and lifecycle.</p>",
      "idempotent":true
    },
    "DescribeRegionSettings":{
      "name":"DescribeRegionSettings",
      "http":{
        "method":"GET",
        "requestUri":"/account-settings"
      },
      "input":{"shape":"DescribeRegionSettingsInput"},
      "output":{"shape":"DescribeRegionSettingsOutput"},
      "errors":[
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns the current service opt-in settings for the Region. If service-opt-in is enabled for a service, AWS Backup tries to protect that service's resources in this Region, when the resource is included in an on-demand backup or scheduled backup plan. Otherwise, AWS Backup does not try to protect that service's resources in this Region, AWS Backup does not try to protect that service's resources in this Region.</p>"
    },
    "DescribeRestoreJob":{
      "name":"DescribeRestoreJob",
      "http":{
        "method":"GET",
        "requestUri":"/restore-jobs/{restoreJobId}"
      },
      "input":{"shape":"DescribeRestoreJobInput"},
      "output":{"shape":"DescribeRestoreJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Returns metadata associated with a restore job that is specified by a job ID.</p>",
      "idempotent":true
    },
    "ExportBackupPlanTemplate":{
      "name":"ExportBackupPlanTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/toTemplate/"
      },
      "input":{"shape":"ExportBackupPlanTemplateInput"},
      "output":{"shape":"ExportBackupPlanTemplateOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the backup plan that is specified by the plan ID as a backup template.</p>"
    },
    "GetBackupPlan":{
      "name":"GetBackupPlan",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/"
      },
      "input":{"shape":"GetBackupPlanInput"},
      "output":{"shape":"GetBackupPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns <code>BackupPlan</code> details for the specified <code>BackupPlanId</code>. Returns the body of a backup plan in JSON format, in addition to plan metadata.</p>",
      "idempotent":true
    },
    "GetBackupPlanFromJSON":{
      "name":"GetBackupPlanFromJSON",
      "http":{
        "method":"POST",
        "requestUri":"/backup/template/json/toPlan"
      },
      "input":{"shape":"GetBackupPlanFromJSONInput"},
      "output":{"shape":"GetBackupPlanFromJSONOutput"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns a valid JSON document specifying a backup plan or an error.</p>"
    },
    "GetBackupPlanFromTemplate":{
      "name":"GetBackupPlanFromTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/backup/template/plans/{templateId}/toPlan"
      },
      "input":{"shape":"GetBackupPlanFromTemplateInput"},
      "output":{"shape":"GetBackupPlanFromTemplateOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the template specified by its <code>templateId</code> as a backup plan.</p>"
    },
    "GetBackupSelection":{
      "name":"GetBackupSelection",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "input":{"shape":"GetBackupSelectionInput"},
      "output":{"shape":"GetBackupSelectionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns selection metadata and a document in JSON format that specifies a list of resources that are associated with a backup plan.</p>",
      "idempotent":true
    },
    "GetBackupVaultAccessPolicy":{
      "name":"GetBackupVaultAccessPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/access-policy"
      },
      "input":{"shape":"GetBackupVaultAccessPolicyInput"},
      "output":{"shape":"GetBackupVaultAccessPolicyOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns the access policy document that is associated with the named backup vault.</p>",
      "idempotent":true
    },
    "GetBackupVaultNotifications":{
      "name":"GetBackupVaultNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "input":{"shape":"GetBackupVaultNotificationsInput"},
      "output":{"shape":"GetBackupVaultNotificationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns event notifications for the specified backup vault.</p>",
      "idempotent":true
    },
    "GetRecoveryPointRestoreMetadata":{
      "name":"GetRecoveryPointRestoreMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/restore-metadata"
      },
      "input":{"shape":"GetRecoveryPointRestoreMetadataInput"},
      "output":{"shape":"GetRecoveryPointRestoreMetadataOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a set of metadata key-value pairs that were used to create the backup.</p>",
      "idempotent":true
    },
    "GetRestoreJobMetadata":{
      "name":"GetRestoreJobMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/restore-jobs/{restoreJobId}/metadata"
      },
      "input":{"shape":"GetRestoreJobMetadataInput"},
      "output":{"shape":"GetRestoreJobMetadataOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request returns the metadata for the specified restore job.</p>"
    },
    "GetRestoreTestingInferredMetadata":{
      "name":"GetRestoreTestingInferredMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/inferred-metadata",
        "responseCode":200
      },
      "input":{"shape":"GetRestoreTestingInferredMetadataInput"},
      "output":{"shape":"GetRestoreTestingInferredMetadataOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request returns the minimal required set of metadata needed to start a restore job with secure default settings. <code>BackupVaultName</code> and <code>RecoveryPointArn</code> are required parameters. <code>BackupVaultAccountId</code> is an optional parameter.</p>"
    },
    "GetRestoreTestingPlan":{
      "name":"GetRestoreTestingPlan",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}",
        "responseCode":200
      },
      "input":{"shape":"GetRestoreTestingPlanInput"},
      "output":{"shape":"GetRestoreTestingPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns <code>RestoreTestingPlan</code> details for the specified <code>RestoreTestingPlanName</code>. The details are the body of a restore testing plan in JSON format, in addition to plan metadata.</p>"
    },
    "GetRestoreTestingSelection":{
      "name":"GetRestoreTestingSelection",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections/{RestoreTestingSelectionName}",
        "responseCode":200
      },
      "input":{"shape":"GetRestoreTestingSelectionInput"},
      "output":{"shape":"GetRestoreTestingSelectionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns RestoreTestingSelection, which displays resources and elements of the restore testing plan.</p>"
    },
    "GetSupportedResourceTypes":{
      "name":"GetSupportedResourceTypes",
      "http":{
        "method":"GET",
        "requestUri":"/supported-resource-types"
      },
      "output":{"shape":"GetSupportedResourceTypesOutput"},
      "errors":[
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns the AWS resource types supported by AWS Backup.</p>"
    },
    "ListBackupJobs":{
      "name":"ListBackupJobs",
      "http":{
        "method":"GET",
        "requestUri":"/backup-jobs/"
      },
      "input":{"shape":"ListBackupJobsInput"},
      "output":{"shape":"ListBackupJobsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of existing backup jobs for an authenticated account.</p>",
      "idempotent":true
    },
    "ListBackupPlanTemplates":{
      "name":"ListBackupPlanTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/backup/template/plans"
      },
      "input":{"shape":"ListBackupPlanTemplatesInput"},
      "output":{"shape":"ListBackupPlanTemplatesOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns metadata of your saved backup plan templates, including the template ID, name, and the creation and deletion dates.</p>"
    },
    "ListBackupPlanVersions":{
      "name":"ListBackupPlanVersions",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/versions/"
      },
      "input":{"shape":"ListBackupPlanVersionsInput"},
      "output":{"shape":"ListBackupPlanVersionsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns version metadata of your backup plans, including Amazon Resource Names (ARNs), backup plan IDs, creation and deletion dates, plan names, and version IDs.</p>",
      "idempotent":true
    },
    "ListBackupPlans":{
      "name":"ListBackupPlans",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/"
      },
      "input":{"shape":"ListBackupPlansInput"},
      "output":{"shape":"ListBackupPlansOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of existing backup plans for an authenticated account. The list is populated only if the advanced option is set for the backup plan. The list contains information such as Amazon Resource Names (ARNs), plan IDs, creation and deletion dates, version IDs, plan names, and creator request IDs.</p>",
      "idempotent":true
    },
    "ListBackupSelections":{
      "name":"ListBackupSelections",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/selections/"
      },
      "input":{"shape":"ListBackupSelectionsInput"},
      "output":{"shape":"ListBackupSelectionsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns an array containing metadata of the resources associated with the target backup plan.</p>",
      "idempotent":true
    },
    "ListBackupVaults":{
      "name":"ListBackupVaults",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/"
      },
      "input":{"shape":"ListBackupVaultsInput"},
      "output":{"shape":"ListBackupVaultsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of recovery point storage containers along with information about them.</p>",
      "idempotent":true
    },
    "ListCopyJobs":{
      "name":"ListCopyJobs",
      "http":{
        "method":"GET",
        "requestUri":"/copy-jobs/"
      },
      "input":{"shape":"ListCopyJobsInput"},
      "output":{"shape":"ListCopyJobsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns metadata about your copy jobs.</p>"
    },
    "ListProtectedResources":{
      "name":"ListProtectedResources",
      "http":{
        "method":"GET",
        "requestUri":"/resources/"
      },
      "input":{"shape":"ListProtectedResourcesInput"},
      "output":{"shape":"ListProtectedResourcesOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns an array of resources successfully backed up by AWS Backup, including the time the resource was saved, an Amazon Resource Name (ARN) of the resource, and a resource type.</p>",
      "idempotent":true
    },
    "ListRecoveryPointsByBackupVault":{
      "name":"ListRecoveryPointsByBackupVault",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/"
      },
      "input":{"shape":"ListRecoveryPointsByBackupVaultInput"},
      "output":{"shape":"ListRecoveryPointsByBackupVaultOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns detailed information about the recovery points stored in a backup vault.</p>",
      "idempotent":true
    },
    "ListRecoveryPointsByResource":{
      "name":"ListRecoveryPointsByResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{resourceArn}/recovery-points/"
      },
      "input":{"shape":"ListRecoveryPointsByResourceInput"},
      "output":{"shape":"ListRecoveryPointsByResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns detailed information about recovery points of the type specified by a resource Amazon Resource Name (ARN).</p>",
      "idempotent":true
    },
    "ListRestoreJobs":{
      "name":"ListRestoreJobs",
      "http":{
        "method":"GET",
        "requestUri":"/restore-jobs/"
      },
      "input":{"shape":"ListRestoreJobsInput"},
      "output":{"shape":"ListRestoreJobsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of jobs that AWS Backup initiated to restore a saved resource, including metadata about the recovery process.</p>",
      "idempotent":true
    },
    "ListRestoreJobsByProtectedResource":{
      "name":"ListRestoreJobsByProtectedResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{resourceArn}/restore-jobs/"
      },
      "input":{"shape":"ListRestoreJobsByProtectedResourceInput"},
      "output":{"shape":"ListRestoreJobsByProtectedResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This returns restore jobs that contain the specified protected resource.</p> <p>You must include <code>ResourceArn</code>. You can optionally include <code>NextToken</code>, <code>ByStatus</code>, <code>MaxResults</code>, <code>ByRecoveryPointCreationDateAfter</code> , and <code>ByRecoveryPointCreationDateBefore</code>.</p>"
    },
    "ListRestoreTestingPlans":{
      "name":"ListRestoreTestingPlans",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/plans",
        "responseCode":200
      },
      "input":{"shape":"ListRestoreTestingPlansInput"},
      "output":{"shape":"ListRestoreTestingPlansOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of restore testing plans.</p>"
    },
    "ListRestoreTestingSelections":{
      "name":"ListRestoreTestingSelections",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections",
        "responseCode":200
      },
      "input":{"shape":"ListRestoreTestingSelectionsInput"},
      "output":{"shape":"ListRestoreTestingSelectionsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of restore testing selections. Can be filtered by <code>MaxResults</code> and <code>RestoreTestingPlanName</code>.</p>"
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of key-value pairs assigned to a target recovery point, backup plan, or backup vault.</p> <note> <p> <code>ListTags</code> are currently only supported with Amazon EFS backups.</p> </note>",
      "idempotent":true
    },
    "PutBackupVaultAccessPolicy":{
      "name":"PutBackupVaultAccessPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-vaults/{backupVaultName}/access-policy"
      },
      "input":{"shape":"PutBackupVaultAccessPolicyInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Sets a resource-based policy that is used to manage access permissions on the target backup vault. Requires a backup vault name and an access policy document in JSON format.</p>",
      "idempotent":true
    },
    "PutBackupVaultNotifications":{
      "name":"PutBackupVaultNotifications",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "input":{"shape":"PutBackupVaultNotificationsInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Turns on notifications on a backup vault for the specified topic and events.</p>",
      "idempotent":true
    },
    "PutRestoreValidationResult":{
      "name":"PutRestoreValidationResult",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-jobs/{restoreJobId}/validations",
        "responseCode":204
      },
      "input":{"shape":"PutRestoreValidationResultInput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request allows you to send your independent self-run restore test validation results. <code>RestoreJobId</code> and <code>ValidationStatus</code> are required. Optionally, you can input a <code>ValidationStatusMessage</code>.</p>",
      "idempotent":true
    },
    "StartBackupJob":{
      "name":"StartBackupJob",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-jobs"
      },
      "input":{"shape":"StartBackupJobInput"},
      "output":{"shape":"StartBackupJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Starts an on-demand backup job for the specified resource.</p>",
      "idempotent":true
    },
    "StartCopyJob":{
      "name":"StartCopyJob",
      "http":{
        "method":"PUT",
        "requestUri":"/copy-jobs"
      },
      "input":{"shape":"StartCopyJobInput"},
      "output":{"shape":"StartCopyJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Starts a job to create a one-time copy of the specified resource.</p>",
      "idempotent":true
    },
    "StartRestoreJob":{
      "name":"StartRestoreJob",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-jobs"
      },
      "input":{"shape":"StartRestoreJobInput"},
      "output":{"shape":"StartRestoreJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Recovers the saved resource identified by an Amazon Resource Name (ARN). </p>",
      "idempotent":true
    },
    "StopBackupJob":{
      "name":"StopBackupJob",
      "http":{
        "method":"POST",
        "requestUri":"/backup-jobs/{backupJobId}"
      },
      "input":{"shape":"StopBackupJobInput"},
      "errors":[
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Attempts to cancel a job to create a one-time backup of a resource.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Assigns a set of key-value pairs to a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN).</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untag/{resourceArn}"
      },
      "input":{"shape":"UntagResourceInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Removes a set of key-value pairs from a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN)</p>",
      "idempotent":true
    },
    "UpdateBackupPlan":{
      "name":"UpdateBackupPlan",
      "http":{
        "method":"POST",
        "requestUri":"/backup/plans/{backupPlanId}"
      },
      "input":{"shape":"UpdateBackupPlanInput"},
      "output":{"shape":"UpdateBackupPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Updates an existing backup plan identified by its <code>backupPlanId</code> with the input document in JSON format. The new version is uniquely identified by a <code>VersionId</code>.</p>",
      "idempotent":true
    },
    "UpdateBackupSelection":{
      "name":"UpdateBackupSelection",
      "http":{
        "method":"POST",
        "requestUri":"/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "input":{"shape":"UpdateBackupSelectionInput"},
      "output":{"shape":"UpdateBackupSelectionOutput"},
      "documentation":"<p>Updates a JSON document that specifies a set of resources to assign to a backup plan. Resources can be included by specifying patterns for a <code>ListOfTags</code> and selected <code>Resources</code>. </p> <p>For example, consider the following patterns:</p> <ul> <li> <p> <code>Resources: \"arn:aws:ec2:region:account-id:volume/volume-id\"</code> </p> </li> <li> <p> <code>ConditionKey:\"department\"</code> </p> <p> <code>ConditionValue:\"finance\"</code> </p> <p> <code>ConditionType:\"StringEquals\"</code> </p> </li> <li> <p> <code>ConditionKey:\"importance\"</code> </p> <p> <code>ConditionValue:\"critical\"</code> </p> <p> <code>ConditionType:\"StringEquals\"</code> </p> </li> </ul> <p>Using these patterns would back up all Amazon Elastic Block Store (Amazon EBS) volumes that are tagged as <code>\"department=finance\"</code>, <code>\"importance=critical\"</code>, in addition to an EBS volume with the specified volume ID.</p> <p>Resources and conditions are additive in that all resources that match the pattern are selected. This shouldn't be confused with a logical AND, where all conditions must match. The matching patterns are logically put together using the OR operator. In other words, all patterns that match are selected for backup.</p>",
      "idempotent":true
    },
    "UpdateGlobalSettings":{
      "name":"UpdateGlobalSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/global-settings"
      },
      "input":{"shape":"UpdateGlobalSettingsInput"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates the current global settings for the AWS account. Use the <code>DescribeGlobalSettings</code> API to determine the current settings.</p>"
    },
    "UpdateRecoveryPointLifecycle":{
      "name":"UpdateRecoveryPointLifecycle",
      "http":{
        "method":"POST",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "input":{"shape":"UpdateRecoveryPointLifecycleInput"},
      "output":{"shape":"UpdateRecoveryPointLifecycleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Sets the transition lifecycle of a recovery point.</p> <p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup transitions and expires backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the “expire after days” setting must be 90 days greater than the “transition to cold after days” setting. The “transition to cold after days” setting cannot be changed after a backup has been transitioned to cold. </p> <p>Only Amazon EFS file system backups can be transitioned to cold storage.</p>",
      "idempotent":true
    },
    "UpdateRegionSettings":{
      "name":"UpdateRegionSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/account-settings"
      },
      "input":{"shape":"UpdateRegionSettingsInput"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Updates the current service opt-in settings for the Region. If service-opt-in is enabled for a service, Backup tries to protect that service's resources in this Region, when the resource is included in an on-demand backup or scheduled backup plan. Otherwise, Backup does not try to protect that service's resources in this Region. Use the <code>DescribeRegionSettings</code> API to determine the resource types that are supported.</p>"
    },
    "UpdateRestoreTestingPlan":{
      "name":"UpdateRestoreTestingPlan",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRestoreTestingPlanInput"},
      "output":{"shape":"UpdateRestoreTestingPlanOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request will send changes to your specified restore testing plan. <code>RestoreTestingPlanName</code> cannot be updated after it is created.</p> <p> <code>RecoveryPointSelection</code> can contain:</p> <ul> <li> <p> <code>Algorithm</code> </p> </li> <li> <p> <code>ExcludeVaults</code> </p> </li> <li> <p> <code>IncludeVaults</code> </p> </li> <li> <p> <code>RecoveryPointTypes</code> </p> </li> <li> <p> <code>SelectionWindowDays</code> </p> </li> </ul>",
      "idempotent":true
    },
    "UpdateRestoreTestingSelection":{
      "name":"UpdateRestoreTestingSelection",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections/{RestoreTestingSelectionName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRestoreTestingSelectionInput"},
      "output":{"shape":"UpdateRestoreTestingSelectionOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Most elements except the <code>RestoreTestingSelectionName</code> can be updated with this request.</p> <p> <code>RestoreTestingSelection</code> can use either protected resource ARNs or conditions, but not both. That is, if your selection has <code>ProtectedResourceArns</code>, requesting an update with the parameter <code>ProtectedResourceConditions</code> will be unsuccessful.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "ARN":{"type":"string"},
    "AccountId":{
      "type":"string",
      "pattern":"^[0-9]{12}$"
    },
    "AdvancedBackupSetting":{
      "type":"structure",
      "members":{
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Specifies an object containing resource type and backup options. The only supported resource type is Amazon EC2 instances with Windows VSS. For an CloudFormation example, see the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/integrate-cloudformation-with-aws-backup.html\">sample CloudFormation template to enable Windows VSS</a> in the <i>AWS Backup User Guide</i>.</p> <p>Valid values: <code>EC2</code>.</p>"
        },
        "BackupOptions":{
          "shape":"BackupOptions",
          "documentation":"<p>Specifies the backup option for a selected resource. This option is only available for Windows VSS backup jobs.</p> <p>Valid values: </p> <p>Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the WindowsVSS backup option and create a VSS Windows backup. </p> <p>Set to <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. The WindowsVSS option is not enabled by default.</p> <p>If you specify an invalid option, you get an <code>InvalidParameterValueException</code> exception.</p> <p>For more information about Windows VSS backups, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/windows-backups.html\">Creating a VSS-Enabled Windows Backup</a>.</p>"
        }
      },
      "documentation":"<p>A list of backup options for each resource type.</p>"
    },
    "AdvancedBackupSettings":{
      "type":"list",
      "member":{"shape":"AdvancedBackupSetting"}
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"string"},
        "Message":{"shape":"string"},
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p/>"
        },
        "Arn":{
          "shape":"string",
          "documentation":"<p/>"
        },
        "Type":{
          "shape":"string",
          "documentation":"<p/>"
        },
        "Context":{
          "shape":"string",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The required resource already exists.</p>",
      "exception":true
    },
    "BackupJob":{
      "type":"structure",
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID that owns the backup job.</p>"
        },
        "BackupJobId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a request to AWS Backup to back up a resource.</p>"
        },
        "BackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>"
        },
        "BackupVaultArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
        },
        "RecoveryPointArn":{
          "shape":"ARN",
          "documentation":"<p>An ARN that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
        },
        "ResourceArn":{
          "shape":"ARN",
          "documentation":"<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the resource type.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a backup job is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "CompletionDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a job to create a backup job is completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "State":{
          "shape":"BackupJobState",
          "documentation":"<p>The current state of a resource recovery point.</p>"
        },
        "StatusMessage":{
          "shape":"string",
          "documentation":"<p>A detailed message explaining the status of the job to back up a resource.</p>"
        },
        "PercentDone":{
          "shape":"string",
          "documentation":"<p>Contains an estimated percentage complete of a job at the time the job status was queried.</p>"
        },
        "BackupSizeInBytes":{
          "shape":"Long",
          "documentation":"<p>The size, in bytes, of a backup.</p>"
        },
        "IamRoleArn":{
          "shape":"IAMRoleArn",
          "documentation":"<p>Specifies the IAM role ARN used to create the target recovery point. IAM roles other than the default role must include either <code>AWSBackup</code> or <code>AwsBackup</code> in the role name. For example, <code>arn:aws:iam::123456789012:role/AWSBackupRDSAccess</code>. Role names without those strings lack permissions to perform backup jobs.</p>"
        },
        "CreatedBy":{
          "shape":"RecoveryPointCreator",
          "documentation":"<p>Contains identifying information about the creation of a backup job, including the <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>, and <code>BackupRuleId</code> of the backup plan used to create it.</p>"
        },
        "ExpectedCompletionDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a job to back up resources is expected to be completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>ExpectedCompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "StartBy":{
          "shape":"timestamp",
          "documentation":"<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job must be started before it is canceled. The value is calculated by adding the start window to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2 hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of AWS resource to be backed up; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. For VSS Windows backups, the only supported resource type is Amazon EC2.</p>"
        },
        "BytesTransferred":{
          "shape":"Long",
          "documentation":"<p>The size in bytes transferred to a backup vault at the time that the job status was queried.</p>"
        },
        "BackupOptions":{
          "shape":"BackupOptions",
          "documentation":"<p>Specifies the backup option for a selected resource. This option is only available for Windows VSS backup jobs.</p> <p>Valid values: Set to <code>\"WindowsVSS”:“enabled\"</code> to enable WindowsVSS backup option and create a VSS Windows backup. Set to “WindowsVSS”:”disabled” to create a regular backup. If you specify an invalid option, you get an <code>InvalidParameterValueException</code> exception.</p>"
        },
        "BackupType":{
          "shape":"string",
          "documentation":"<p>Represents the type of backup for a backup job.</p>"
        },
        "Configuration": {
          "shape": "BackupJobConfiguration",
          "documentation":"<p>Represents the backup job configuration.</p>"
        }
      },
      "documentation":"<p>Contains detailed information about a backup job.</p>"
    },
    "BackupJobState":{
      "type":"string",
      "enum":[
        "CREATED",
        "PENDING",
        "RUNNING",
        "ABORTING",
        "ABORTED",
        "COMPLETED",
        "FAILED",
        "EXPIRED"
      ]
    },
    "BackupJobConfiguration":{
      "type":"structure",
      "members":{
        "ExcludeVolumeIds":{
          "shape":"VolumeIds",
          "documentation":"<p>List of volume ids to exclude from instance's backup.</p>"
        }
      }
    },
    "BackupJobsList":{
      "type":"list",
      "member":{"shape":"BackupJob"}
    },
    "BackupOptionKey":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
    },
    "BackupOptionValue":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
    },
    "BackupOptions":{
      "type":"map",
      "key":{"shape":"BackupOptionKey"},
      "value":{"shape":"BackupOptionValue"}
    },
    "BackupPlan":{
      "type":"structure",
      "required":[
        "BackupPlanName",
        "Rules"
      ],
      "members":{
        "BackupPlanName":{
          "shape":"BackupPlanName",
          "documentation":"<p>The display name of a backup plan.</p>"
        },
        "Rules":{
          "shape":"BackupRules",
          "documentation":"<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources. </p>"
        },
        "AdvancedBackupSettings":{
          "shape":"AdvancedBackupSettings",
          "documentation":"<p>Contains a list of <code>BackupOptions</code> for each resource type.</p>"
        }
      },
      "documentation":"<p>Contains an optional backup plan display name and an array of <code>BackupRule</code> objects, each of which specifies a backup rule. Each rule in a backup plan is a separate scheduled task and can back up a different selection of AWS resources.</p>"
    },
    "BackupPlanInput":{
      "type":"structure",
      "required":[
        "BackupPlanName",
        "Rules"
      ],
      "members":{
        "BackupPlanName":{
          "shape":"BackupPlanName",
          "documentation":"<p>The optional display name of a backup plan.</p>"
        },
        "Rules":{
          "shape":"BackupRulesInput",
          "documentation":"<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources.</p>"
        },
        "AdvancedBackupSettings":{
          "shape":"AdvancedBackupSettings",
          "documentation":"<p>Specifies a list of <code>BackupOptions</code> for each resource type. These settings are only available for Windows VSS backup jobs.</p>"
        }
      },
      "documentation":"<p>Contains an optional backup plan display name and an array of <code>BackupRule</code> objects, each of which specifies a backup rule. Each rule in a backup plan is a separate scheduled task and can back up a different selection of AWS resources. </p>"
    },
    "BackupPlanName":{"type":"string"},
    "BackupPlanTemplatesList":{
      "type":"list",
      "member":{"shape":"BackupPlanTemplatesListMember"}
    },
    "BackupPlanTemplatesListMember":{
      "type":"structure",
      "members":{
        "BackupPlanTemplateId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a stored backup plan template.</p>"
        },
        "BackupPlanTemplateName":{
          "shape":"string",
          "documentation":"<p>The optional display name of a backup plan template.</p>"
        }
      },
      "documentation":"<p>An object specifying metadata associated with a backup plan template.</p>"
    },
    "BackupPlanVersionsList":{
      "type":"list",
      "member":{"shape":"BackupPlansListMember"}
    },
    "BackupPlansList":{
      "type":"list",
      "member":{"shape":"BackupPlansListMember"}
    },
    "BackupPlansListMember":{
      "type":"structure",
      "members":{
        "BackupPlanArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example, <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
        },
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a backup plan.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a resource backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "DeletionDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "VersionId":{
          "shape":"string",
          "documentation":"<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes long. Version IDs cannot be edited.</p>"
        },
        "BackupPlanName":{
          "shape":"BackupPlanName",
          "documentation":"<p>The display name of a saved backup plan.</p>"
        },
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice.</p>"
        },
        "LastExecutionDate":{
          "shape":"timestamp",
          "documentation":"<p>The last time a job to back up resources was run with this rule. A date and time, in Unix format and Coordinated Universal Time (UTC). The value of <code>LastExecutionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "NextExecutionDate":{
          "shape":"timestamp",
          "documentation":"<p>The next time a job to back up resources will be run. A date and time, in Unix format and Coordinated Universal Time (UTC). The value of <code>NextExecutionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "AdvancedBackupSettings":{
          "shape":"AdvancedBackupSettings",
          "documentation":"<p>Contains a list of <code>BackupOptions</code> for a resource type.</p>"
        }
      },
      "documentation":"<p>Contains metadata about a backup plan.</p>"
    },
    "BackupRule":{
      "type":"structure",
      "required":[
        "RuleName",
        "TargetBackupVaultName"
      ],
      "members":{
        "RuleName":{
          "shape":"BackupRuleName",
          "documentation":"<p>An optional display name for a backup rule.</p>"
        },
        "TargetBackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>"
        },
        "ScheduleExpression":{
          "shape":"CronExpression",
          "documentation":"<p>A CRON expression specifying when AWS Backup initiates a backup job. For more information about cron expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html\">Schedule Expressions for Rules</a> in the <i>Amazon CloudWatch Events User Guide.</i>. Prior to specifying a value for this parameter, we recommend testing your cron expression using one of the many available cron generator and testing tools.</p>"
        },
        "StartWindowMinutes":{
          "shape":"WindowMinutes",
          "documentation":"<p>A value in minutes after a backup is scheduled before a job will be canceled if it doesn't start successfully. This value is optional.</p>"
        },
        "CompletionWindowMinutes":{
          "shape":"WindowMinutes",
          "documentation":"<p>A value in minutes after a backup job is successfully started before it must be completed or it will be canceled by AWS Backup. This value is optional.</p>"
        },
        "Lifecycle":{
          "shape":"Lifecycle",
          "documentation":"<p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup transitions and expires backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the “expire after days” setting must be 90 days greater than the “transition to cold after days” setting. The “transition to cold after days” setting cannot be changed after a backup has been transitioned to cold. </p> <p>Only Amazon EFS file system backups can be transitioned to cold storage.</p>"
        },
        "RecoveryPointTags":{
          "shape":"Tags",
          "documentation":"<p>An array of key-value pair strings that are assigned to resources that are associated with this rule when restored from backup.</p>"
        },
        "RuleId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a rule that is used to schedule the backup of a selection of resources.</p>"
        },
        "CopyActions":{
          "shape":"CopyActions",
          "documentation":"<p>An array of <code>CopyAction</code> objects, which contains the details of the copy operation.</p>"
        }
      },
      "documentation":"<p>Specifies a scheduled task used to back up a selection of resources.</p>"
    },
    "BackupRuleInput":{
      "type":"structure",
      "required":[
        "RuleName",
        "TargetBackupVaultName"
      ],
      "members":{
        "RuleName":{
          "shape":"BackupRuleName",
          "documentation":"<p>An optional display name for a backup rule.</p>"
        },
        "TargetBackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>"
        },
        "ScheduleExpression":{
          "shape":"CronExpression",
          "documentation":"<p>A CRON expression specifying when AWS Backup initiates a backup job.</p>"
        },
        "StartWindowMinutes":{
          "shape":"WindowMinutes",
          "documentation":"<p>A value in minutes after a backup is scheduled before a job will be canceled if it doesn't start successfully. This value is optional.</p>"
        },
        "CompletionWindowMinutes":{
          "shape":"WindowMinutes",
          "documentation":"<p>A value in minutes after a backup job is successfully started before it must be completed or it will be canceled by AWS Backup. This value is optional.</p>"
        },
        "Lifecycle":{
          "shape":"Lifecycle",
          "documentation":"<p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup will transition and expire backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the “expire after days” setting must be 90 days greater than the “transition to cold after days” setting. The “transition to cold after days” setting cannot be changed after a backup has been transitioned to cold. </p> <p>Only Amazon EFS file system backups can be transitioned to cold storage.</p>"
        },
        "RecoveryPointTags":{
          "shape":"Tags",
          "documentation":"<p>To help organize your resources, you can assign your own metadata to the resources that you create. Each tag is a key-value pair.</p>"
        },
        "CopyActions":{
          "shape":"CopyActions",
          "documentation":"<p>An array of <code>CopyAction</code> objects, which contains the details of the copy operation.</p>"
        }
      },
      "documentation":"<p>Specifies a scheduled task used to back up a selection of resources.</p>"
    },
    "BackupRuleName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
    },
    "BackupRules":{
      "type":"list",
      "member":{"shape":"BackupRule"}
    },
    "BackupRulesInput":{
      "type":"list",
      "member":{"shape":"BackupRuleInput"}
    },
    "BackupSelection":{
      "type":"structure",
      "required":[
        "SelectionName",
        "IamRoleArn"
      ],
      "members":{
        "SelectionName":{
          "shape":"BackupSelectionName",
          "documentation":"<p>The display name of a resource selection document.</p>"
        },
        "IamRoleArn":{
          "shape":"IAMRoleArn",
          "documentation":"<p>The ARN of the IAM role that AWS Backup uses to authenticate when backing up the target resource; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
        },
        "Resources":{
          "shape":"ResourceArns",
          "documentation":"<p>An array of strings that contain Amazon Resource Names (ARNs) of resources to assign to a backup plan.</p>"
        },
        "ListOfTags":{
          "shape":"ListOfTags",
          "documentation":"<p>An array of conditions used to specify a set of resources to assign to a backup plan; for example, <code>\"StringEquals\": {\"ec2:ResourceTag/Department\": \"accounting\"</code>. Assigns the backup plan to every resource with at least one matching tag.</p>"
        },
        "Configuration":{
          "shape":"BackupSelectionConfiguration",
          "documentation":"<p>Configuration to apply to individual resources.</p>"
        }
      },
      "documentation":"<p>Used to specify a set of resources to a backup plan.</p>"
    },
    "BackupSelectionConfiguration":{
      "type":"list",
      "member":{"shape":"BackupSelectionConfigurationItem"}
    },
    "BackupSelectionConfigurationItem":{
      "type":"structure",
      "required":["Resource"],
      "members":{
        "Resource":{
          "shape":"ARN",
          "documentation":"<p>ARN of resource to apply configuration to.</p>."
        },
        "ExcludeVolumeIds":{
          "shape":"VolumeIds",
          "documentation":"<p>List of volume ids to exclude from instance's backup.</p>"
        }
      }
    },
    "BackupSelectionName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
    },
    "BackupSelectionsList":{
      "type":"list",
      "member":{"shape":"BackupSelectionsListMember"}
    },
    "BackupSelectionsListMember":{
      "type":"structure",
      "members":{
        "SelectionId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a request to assign a set of resources to a backup plan.</p>"
        },
        "SelectionName":{
          "shape":"BackupSelectionName",
          "documentation":"<p>The display name of a resource selection document.</p>"
        },
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a backup plan.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice.</p>"
        },
        "IamRoleArn":{
          "shape":"IAMRoleArn",
          "documentation":"<p>Specifies the IAM role Amazon Resource Name (ARN) to create the target recovery point; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
        },
        "ResourcesCount":{
          "shape": "ResourcesCount",
          "documentation": "<p>Represents the number of resources by each resource type."
        }
      },
      "documentation":"<p>Contains metadata about a <code>BackupSelection</code> object.</p>"
    },
    "BackupVaultEvent":{
      "type":"string",
      "enum":[
        "BACKUP_JOB_STARTED",
        "BACKUP_JOB_COMPLETED",
        "BACKUP_JOB_SUCCESSFUL",
        "BACKUP_JOB_FAILED",
        "BACKUP_JOB_EXPIRED",
        "RESTORE_JOB_STARTED",
        "RESTORE_JOB_COMPLETED",
        "RESTORE_JOB_SUCCESSFUL",
        "RESTORE_JOB_FAILED",
        "COPY_JOB_STARTED",
        "COPY_JOB_SUCCESSFUL",
        "COPY_JOB_FAILED",
        "RECOVERY_POINT_MODIFIED",
        "BACKUP_PLAN_CREATED",
        "BACKUP_PLAN_MODIFIED"
      ]
    },
    "BackupVaultEvents":{
      "type":"list",
      "member":{"shape":"BackupVaultEvent"}
    },
    "BackupVaultList":{
      "type":"list",
      "member":{"shape":"BackupVaultListMember"}
    },
    "BackupVaultListMember":{
      "type":"structure",
      "members":{
        "BackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>"
        },
        "BackupVaultArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
        },
        "CheckDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time that the backup vault was last checked, in Unix format and Coordinated Universal Time (UTC). This value is optional.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a resource backup is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "EncryptionKeyArn":{
          "shape":"ARN",
          "documentation":"<p>The server-side encryption key that is used to protect your backups; for example, <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
        },
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice.</p>"
        },
        "NumberOfRecoveryPoints":{
          "shape":"long",
          "documentation":"<p>The number of recovery points that are stored in a backup vault.</p>"
        }
      },
      "documentation":"<p>Contains metadata about a backup vault.</p>"
    },
    "BackupVaultName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9\\-\\_]{2,50}$"
    },
    "Boolean":{"type":"boolean"},
    "CalculatedLifecycle":{
      "type":"structure",
      "members":{
        "MoveToColdStorageAt":{
          "shape":"timestamp",
          "documentation":"<p>A timestamp that specifies when to transition a recovery point to cold storage.</p>"
        },
        "DeleteAt":{
          "shape":"timestamp",
          "documentation":"<p>A timestamp that specifies when to delete a recovery point.</p>"
        }
      },
      "documentation":"<p>Contains <code>DeleteAt</code> and <code>MoveToColdStorageAt</code> timestamps, which are used to specify a lifecycle for a recovery point.</p> <p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup transitions and expires backups automatically according to the lifecycle that you define.</p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the “expire after days” setting must be 90 days greater than the “transition to cold after days” setting. The “transition to cold after days” setting cannot be changed after a backup has been transitioned to cold.</p> <p>Only Amazon EFS file system backups can be transitioned to cold storage.</p>"
    },
    "Condition":{
      "type":"structure",
      "required":[
        "ConditionType",
        "ConditionKey",
        "ConditionValue"
      ],
      "members":{
        "ConditionType":{
          "shape":"ConditionType",
          "documentation":"<p>An operation, such as <code>StringEquals</code>, that is applied to a key-value pair used to filter resources in a selection.</p>"
        },
        "ConditionKey":{
          "shape":"ConditionKey",
          "documentation":"<p>The key in a key-value pair. For example, in <code>\"ec2:ResourceTag/Department\": \"accounting\"</code>, <code>\"ec2:ResourceTag/Department\"</code> is the key.</p>"
        },
        "ConditionValue":{
          "shape":"ConditionValue",
          "documentation":"<p>The value in a key-value pair. For example, in <code>\"ec2:ResourceTag/Department\": \"accounting\"</code>, <code>\"accounting\"</code> is the value.</p>"
        }
      },
      "documentation":"<p>Contains an array of triplets made up of a condition type (such as <code>StringEquals</code>), a key, and a value. Conditions are used to filter resources in a selection that is assigned to a backup plan.</p>"
    },
    "ConditionKey":{"type":"string"},
    "ConditionType":{
      "type":"string",
      "enum":["STRINGEQUALS"]
    },
    "ConditionValue":{"type":"string"},
    "CopyAction":{
      "type":"structure",
      "required":["DestinationBackupVaultArn"],
      "members":{
        "Lifecycle":{"shape":"Lifecycle"},
        "DestinationBackupVaultArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies the destination backup vault for the copied backup. For example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
        }
      },
      "documentation":"<p>The details of the copy operation.</p>"
    },
    "CopyActions":{
      "type":"list",
      "member":{"shape":"CopyAction"}
    },
    "CopyJob":{
      "type":"structure",
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID that owns the copy job.</p>"
        },
        "CopyJobId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a copy job.</p>"
        },
        "SourceBackupVaultArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a source copy vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>. </p>"
        },
        "SourceRecoveryPointArn":{
          "shape":"ARN",
          "documentation":"<p>An ARN that uniquely identifies a source recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
        },
        "DestinationBackupVaultArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a destination copy vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
        },
        "DestinationRecoveryPointArn":{
          "shape":"ARN",
          "documentation":"<p>An ARN that uniquely identifies a destination recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
        },
        "ResourceArn":{
          "shape":"ARN",
          "documentation":"<p>The AWS resource to be copied; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a copy job is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "CompletionDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a copy job is completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "State":{
          "shape":"CopyJobState",
          "documentation":"<p>The current state of a copy job.</p>"
        },
        "StatusMessage":{
          "shape":"string",
          "documentation":"<p>A detailed message explaining the status of the job to copy a resource.</p>"
        },
        "BackupSizeInBytes":{
          "shape":"Long",
          "documentation":"<p>The size, in bytes, of a copy job.</p>"
        },
        "IamRoleArn":{
          "shape":"IAMRoleArn",
          "documentation":"<p>Specifies the IAM role ARN used to copy the target recovery point; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
        },
        "CreatedBy":{"shape":"RecoveryPointCreator"},
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of AWS resource to be copied; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. </p>"
        }
      },
      "documentation":"<p>Contains detailed information about a copy job.</p>"
    },
    "CopyJobState":{
      "type":"string",
      "enum":[
        "CREATED",
        "RUNNING",
        "COMPLETED",
        "FAILED"
      ]
    },
    "CopyJobsList":{
      "type":"list",
      "member":{"shape":"CopyJob"}
    },
    "CreateBackupPlanInput":{
      "type":"structure",
      "required":["BackupPlan"],
      "members":{
        "BackupPlan":{
          "shape":"BackupPlanInput",
          "documentation":"<p>Specifies the body of a backup plan. Includes a <code>BackupPlanName</code> and one or more sets of <code>Rules</code>.</p>"
        },
        "BackupPlanTags":{
          "shape":"Tags",
          "documentation":"<p>To help organize your resources, you can assign your own metadata to the resources that you create. Each tag is a key-value pair. The specified tags are assigned to all backups created with this plan.</p>"
        },
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p>Identifies the request and allows failed requests to be retried without the risk of running the operation twice. If the request includes a <code>CreatorRequestId</code> that matches an existing backup plan, that plan is returned. This parameter is optional.</p>"
        }
      }
    },
    "CreateBackupPlanOutput":{
      "type":"structure",
      "members":{
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a backup plan.</p>"
        },
        "BackupPlanArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example, <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time that a backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "VersionId":{
          "shape":"string",
          "documentation":"<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes long. They cannot be edited.</p>"
        },
        "AdvancedBackupSettings":{
          "shape":"AdvancedBackupSettings",
          "documentation":"<p>A list of <code>BackupOptions</code> settings for a resource type. This option is only available for Windows VSS backup jobs.</p>"
        }
      }
    },
    "CreateBackupSelectionInput":{
      "type":"structure",
      "required":[
        "BackupPlanId",
        "BackupSelection"
      ],
      "members":{
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies the backup plan to be associated with the selection of resources.</p>",
          "location":"uri",
          "locationName":"backupPlanId"
        },
        "BackupSelection":{
          "shape":"BackupSelection",
          "documentation":"<p>Specifies the body of a request to assign a set of resources to a backup plan.</p>"
        },
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice.</p>"
        }
      }
    },
    "CreateBackupSelectionOutput":{
      "type":"structure",
      "members":{
        "SelectionId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies the body of a request to assign a set of resources to a backup plan.</p>"
        },
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a backup plan.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a backup selection is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        }
      }
    },
    "CreateBackupVaultInput":{
      "type":"structure",
      "required":["BackupVaultName"],
      "members":{
        "BackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of letters, numbers, and hyphens.</p>",
          "location":"uri",
          "locationName":"backupVaultName"
        },
        "BackupVaultTags":{
          "shape":"Tags",
          "documentation":"<p>Metadata that you can assign to help organize the resources that you create. Each tag is a key-value pair.</p>"
        },
        "EncryptionKeyArn":{
          "shape":"ARN",
          "documentation":"<p>The server-side encryption key that is used to protect your backups; for example, <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
        },
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice.</p>"
        }
      }
    },
    "CreateBackupVaultOutput":{
      "type":"structure",
      "members":{
        "BackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>"
        },
        "BackupVaultArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a backup vault is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        }
      }
    },
    "CronExpression":{"type":"string"},
    "DeleteBackupPlanInput":{
      "type":"structure",
      "required":["BackupPlanId"],
      "members":{
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a backup plan.</p>",
          "location":"uri",
          "locationName":"backupPlanId"
        }
      }
    },
      "CreateRestoreTestingPlanInput":{
      "type":"structure",
      "required":["RestoreTestingPlan"],
      "members":{
        "CreatorRequestId":{
          "shape":"String",
          "documentation":"<p>This is a unique string that identifies the request and allows failed requests to be retriedwithout the risk of running the operation twice. This parameter is optional. If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
        },
        "RestoreTestingPlan":{
          "shape":"RestoreTestingPlanForCreate",
          "documentation":"<p>A restore testing plan must contain a unique <code>RestoreTestingPlanName</code> string you create and must contain a <code>ScheduleExpression</code> cron. You may optionally include a <code>StartWindowHours</code> integer and a <code>CreatorRequestId</code> string.</p> <p>The <code>RestoreTestingPlanName</code> is a unique string that is the name of the restore testing plan. This cannot be changed after creation, and it must consist of only alphanumeric characters and underscores.</p>"
        },
        "Tags":{
          "shape":"SensitiveStringMap",
          "documentation":"<p>Optional tags to include. A tag is a key-value pair you can use to manage, filter, and search for your resources. Allowed characters include UTF-8 letters,numbers, spaces, and the following characters: + - = . _ : /.</p>"
        }
      }
    },
    "CreateRestoreTestingPlanOutput":{
      "type":"structure",
      "required":[
        "CreationTime",
        "RestoreTestingPlanArn",
        "RestoreTestingPlanName"
      ],
      "members":{
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time a restore testing plan was created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087AM.</p>"
        },
        "RestoreTestingPlanArn":{
          "shape":"String",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies the created restore testing plan.</p>"
        },
        "RestoreTestingPlanName":{
          "shape":"String",
          "documentation":"<p>This unique string is the name of the restore testing plan.</p> <p>The name cannot be changed after creation. The name consists of only alphanumeric characters and underscores. Maximum length is 50.</p>"
        }
      }
    },
    "CreateRestoreTestingSelectionInput":{
      "type":"structure",
      "required":[
        "RestoreTestingPlanName",
        "RestoreTestingSelection"
      ],
      "members":{
        "CreatorRequestId":{
          "shape":"String",
          "documentation":"<p>This is an optional unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice. If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
        },
        "RestoreTestingPlanName":{
          "shape":"String",
          "documentation":"<p>Input the restore testing plan name that was returned from the related CreateRestoreTestingPlan request.</p>",
          "location":"uri",
          "locationName":"RestoreTestingPlanName"
        },
        "RestoreTestingSelection":{
          "shape":"RestoreTestingSelectionForCreate",
          "documentation":"<p>This consists of <code>RestoreTestingSelectionName</code>, <code>ProtectedResourceType</code>, and one of the following:</p> <ul> <li> <p> <code>ProtectedResourceArns</code> </p> </li> <li> <p> <code>ProtectedResourceConditions</code> </p> </li> </ul> <p>Each protected resource type can have one single value.</p> <p>A restore testing selection can include a wildcard value (\"*\") for <code>ProtectedResourceArns</code> along with <code>ProtectedResourceConditions</code>. Alternatively, you can include up to 30 specific protected resource ARNs in <code>ProtectedResourceArns</code>.</p>"
        }
      }
    },
    "CreateRestoreTestingSelectionOutput":{
      "type":"structure",
      "required":[
        "CreationTime",
        "RestoreTestingPlanArn",
        "RestoreTestingPlanName",
        "RestoreTestingSelectionName"
      ],
      "members":{
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>This is the time the resource testing selection was created successfully.</p>"
        },
        "RestoreTestingPlanArn":{
          "shape":"String",
          "documentation":"<p>This is the ARN of the restore testing plan with which the restore testing selection is associated.</p>"
        },
        "RestoreTestingPlanName":{
          "shape":"String",
          "documentation":"<p>Unique string that is the name of the restore testing plan.</p> <p>The name cannot be changed after creation. The name consists of only alphanumeric characters and underscores. Maximum length is 50.</p>"
        },
        "RestoreTestingSelectionName":{
          "shape":"String",
          "documentation":"<p>This is the unique name of the restore testing selection that belongs to the related restore testing plan.</p>"
        }
      }
    },
    "CronExpression":{"type":"string"},
    "DateRange":{
      "type":"structure",
      "required":[
        "FromDate",
        "ToDate"
      ],
      "members":{
        "FromDate":{
          "shape":"timestamp",
          "documentation":"<p>This value is the beginning date, inclusive.</p> <p>The date and time are in Unix format and Coordinated Universal Time (UTC), and it is accurate to milliseconds (milliseconds are optional).</p>"
        },
        "ToDate":{
          "shape":"timestamp",
          "documentation":"<p>This value is the end date, inclusive.</p> <p>The date and time are in Unix format and Coordinated Universal Time (UTC), and it is accurate to milliseconds (milliseconds are optional).</p>"
        }
      },
      "documentation":"<p>This is a resource filter containing FromDate: DateTime and ToDate: DateTime. Both values are required. Future DateTime values are not permitted.</p> <p>The date and time are in Unix format and Coordinated Universal Time (UTC), and it is accurate to milliseconds ((milliseconds are optional). For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
    },
    "DeleteBackupPlanOutput":{
      "type":"structure",
      "members":{
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a backup plan.</p>"
        },
        "BackupPlanArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example, <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
        },
        "DeletionDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "VersionId":{
          "shape":"string",
          "documentation":"<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes long. Version IDs cannot be edited.</p>"
        }
      }
    },
    "DeleteBackupSelectionInput":{
      "type":"structure",
      "required":[
        "BackupPlanId",
        "SelectionId"
      ],
      "members":{
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a backup plan.</p>",
          "location":"uri",
          "locationName":"backupPlanId"
        },
        "SelectionId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies the body of a request to assign a set of resources to a backup plan.</p>",
          "location":"uri",
          "locationName":"selectionId"
        }
      }
    },
    "DeleteBackupVaultAccessPolicyInput":{
      "type":"structure",
      "required":["BackupVaultName"],
      "members":{
        "BackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location":"uri",
          "locationName":"backupVaultName"
        }
      }
    },
    "DeleteBackupVaultInput":{
      "type":"structure",
      "required":["BackupVaultName"],
      "members":{
        "BackupVaultName":{
          "shape":"string",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location":"uri",
          "locationName":"backupVaultName"
        }
      }
    },
    "DeleteBackupVaultNotificationsInput":{
[...]
